[2019-11-15 22:10] leecalcote opened #1 "Update Community page footer"
The community page should list all the same resources as does layer5.io/meshery does.

The style of the community details do not need to match that of the layer5.io/meshery page. Buttons with fill onHover is not necessary.

[2019-11-15 22:10] leecalcote opened #2 "Add GitHub issue templates to this repo"

[2019-11-15 22:11] leecalcote opened #3 "Add contributor.md to this repo"

[2019-11-15 22:13] leecalcote opened #4 "Footer needs improvement"

[2019-11-15 22:14] leecalcote opened #5 "The "service mesh landscape" button in the main index.html needs a real hyperlink"

[2019-11-17 04:00] leecalcote opened #8 "Remove hyperlink for Contributor profiles that don't has a Twitter handle"

[2019-11-17 04:01] leecalcote opened #9 "Add support for GitHub profile link in place of Twitter account link"
When a contributor doesn't have a Twitter account, but does have a GitHub account, their GitHub account should be hyperlinked to in their Community profile.

[2019-11-17 11:56] leecalcote commented on #8
Nice work, @Nikhil-Ladha! A two-in-one. :)

[2019-11-17 11:56] #8 closed

[2019-11-17 11:56] leecalcote commented on #9
@Nikhil-Ladha fixed this one. 👌

[2019-11-17 11:56] #9 closed

[2019-11-17 11:59] leecalcote opened #13 "Mailing list “Subscribe” button is off-center"
Style the newsletter sign section such that the “subscribe” button is centered.

[2019-11-17 15:23] #2 closed

[2019-11-19 13:02] subhamkrai commented on #5
@leecalcote update with [https://layer5.io/landscape/]?

[2019-11-20 12:30] gunjanmimo opened #15 "share of link of mashery.io show wrong text about mashery"
**Description**
when someone shares the link [meshery.io](meshery.io), it shows "Track and optimize your sales team in real time" as per the template.

**Expected Behavior**
it should be " Quickly compare and learn service meshes like Istio, Linkerd, Envoy, Octarine, App Mesh, Consul Connect. Benchmark the performance of your application across different service meshes and compare their overhead."

[2019-11-20 16:07] gunjanmimo opened #17 "meshery.io has an option to "Run Meshery" which is presently not working"
![Screenshot from 2019-11-20 21-36-14](https://user-images.githubusercontent.com/46948185/69255444-d526f700-0bdd-11ea-8efe-8baf6aa351b8.png)
Run Meshery is not working

[2019-11-21 14:35] #15 closed

[2019-11-25 12:28] leecalcote opened #21 "Fix favicon"
**Description**
The favicon on the meshery.io site needs to be updated, so that it shows the Meshery logo.

[2019-11-25 12:28] leecalcote commented on #13
Fixed.

[2019-11-25 12:28] #13 closed

[2019-11-25 12:29] leecalcote commented on #5
@subhamkrai, yes, that's right.

[2019-11-25 12:29] leecalcote commented on #5
Fixed

[2019-11-25 12:29] #5 closed

[2019-11-25 12:29] leecalcote commented on #3
Fixed by #20

[2019-11-25 12:29] #3 closed

[2019-11-25 12:34] leecalcote opened #22 "Convert adapter table to logos"
**Enhancement Description**
The adapter table would look better if the adapters were presented as logos, not as a table.

**Desired Behavior:**
Adapters are listed as a set of icons/logos. Alpha state adapters should be denoted as such.

**Screenshot**
![Screen Shot 2019-11-25 at 6 32 16 AM](https://user-images.githubusercontent.com/7570704/69540958-9c747e00-0f4d-11ea-8bbc-87ee065f0462.png)

[2019-11-25 20:56] leecalcote opened #23 "Add Meshery Adapter for CPX to list of adapters"
**Enhancement Description**
The table on https://meshery.io listing adapters is missing an entry for CPX.

This adapter should be listed as an alpha adapter with link to its the [adapter section of the Meshery documentation](https://meshery.layer5.io/docs/installation/adapters).

[2019-11-26 03:27] #17 closed

[2019-11-26 18:43] leecalcote opened #24 "Rewrite README.md"
**Current State:**
The meshery.io readme.md needs overhauled akin to what was done for the [meshery/docs readme](https://github.com/layer5io/meshery/blob/master/docs/README.md).

**Desired State:**

The meshery.io readme should briefly describe the Meshery project and then list all of the instructions for contributing to the https://meshery.io site.

---
**Contributor Resources**
- [Meshery docume

[2019-11-26 18:44] leecalcote commented on #24
@schillingjerrid you're assistances here would be fantastic.

[2019-11-27 05:44] leecalcote opened #25 "Add Lightbox support"
**Enhancement Description**
Add Lightbox support for quick viewing of images on the site.

Use the layer5.io site as an example - https://github.com/layer5io/layer5/blob/master/_includes/lightbox.html

[2019-11-27 05:49] leecalcote opened #26 "All images should have hyperlink to full-sized image"
**Current Behavior**
The screenshots / images in the site are not clickable. Some screenshots are better viewed at a larger size.

**Desired Behavior**
All thumbnail images should be hyperlinked to their original full-size image.

[2019-11-30 15:00] leecalcote opened #28 "Add Community section to Community page"
**Current Behavior**
The Community page is missing information about how to connect with the community via slack, drive, email, twitter, meetings, etc.

**Desired Behavior**
At the top of the /community page, there should be a section that lists these resources.

[2019-11-30 15:28] leecalcote opened #29 "Navigation menu cuts off "Run Meshery" title when navigating to #getting-started"
**Description**
When a user clicks "Run Meshery", they are appropriately directed to the #getting-started anchor. The navigation menu covers up the "Run Meshery" heading title, however.

Issue:
<img width="1172" alt="Screen Shot 2019-11-30 at 9 16 52 AM" src="https://user-images.githubusercontent.com/7570704/69902374-6458ab00-1352-11ea-9bfd-e524f359a2b9.png">

Users should see:
<img width="1168" a

[2019-11-30 16:56] #29 closed

[2019-11-30 17:51] leecalcote opened #31 "Fuzzy contributor image for Will Calcote"
**Description**
@willcalcote's profile picture on https://meshery.io/community is a bit fuzzy.

**Expected Behavior**
All profile pictures should be clear, and ideally, not a caricature, but an actual photo of the contributor.

[2019-11-30 17:58] leecalcote opened #32 ""Community" section heading listed twice"
**Description**
**Community** listed twice:
<img width="917" alt="Screen Shot 2019-11-30 at 11 57 48 AM" src="https://user-images.githubusercontent.com/7570704/69904135-ad1b5e80-1368-11ea-8788-ddf777bacb24.png">

**Expected Behavior**
This bug was introduced here - https://github.com/layer5io/meshery.io/commit/2398b9567118c61a529e930da3a47f2c48a94be1#diff-eacf331f0ffc35d4b482f1d15a887d3bR104

This

[2019-12-02 03:35] leecalcote commented on #22
@raghavaggarwal99 do think this is an issue that you will be able to successfully address?

[2019-12-02 04:48] #32 closed

[2019-12-02 23:50] leecalcote opened #35 "Navigation menu has transparent background in mobile view"
**Description**
The background of the dropdown navigation menu is transparent when users are on a mobile device or small screen width.

**Screenshot**
<img width="507" alt="Screen Shot 2019-12-02 at 8 12 43 AM" src="https://user-images.githubusercontent.com/7570704/70004495-543ff780-151b-11ea-976e-808901622f17.png">

**Expected Behavior**
The menu background should have a solid color.

[2019-12-11 14:21] leecalcote commented on #22
Network Service Mesh icons - https://github.com/cncf/artwork/tree/master/projects/networkservicemesh

[2019-12-11 14:25] leecalcote commented on #22
App Mesh icon - https://img.stackshare.io/service/10044/aws-app-mesh.png

[2019-12-12 13:57] #21 closed

[2019-12-12 16:05] leecalcote commented on #22
@thehh1974 do you have a copy of or link to the Octarine logo (svg) without the Octarine name underneath that can be used here?

[2019-12-12 16:19] leecalcote opened #37 "Run Meshery: Missing blue background on copy-to-clipboard button"
**Description**
The copy-to-clipboard button is missing the blue background (screenshot 1) it should have akin to that of its usage on layer5.io/meshery (screenshot 2).

**Expected Behavior**
Users should have a common experience in how this button is displayed.

**Screenshots**
**1**
![Screen Shot 2019-12-12 at 10 13 11 AM](https://user-images.githubusercontent.com/7570704/70729465-e472ff00-1cc8-

[2019-12-13 20:02] girishranganathan commented on #23
@dheerajng... ping 😄

[2019-12-14 15:47] #23 closed

[2019-12-16 03:03] #22 closed

[2019-12-17 04:04] leecalcote commented on #24
The current README is painful to look at. ;)

[2019-12-17 15:59] #24 closed

[2019-12-19 23:45] leecalcote opened #44 "Extraneous ">" near screenshots"
**Description**
Errant "<" and ">" are visible next to most of the screenshots on the main meshery.io page.

<img width="587" alt="Screen Shot 2019-12-19 at 5 43 08 PM" src="https://user-images.githubusercontent.com/7570704/71218480-43b3af00-2287-11ea-8ad4-af5948b0120b.png">

[2019-12-19 23:45] leecalcote commented on #26
@subhamkrai please have a look at #44.

[2019-12-20 18:16] ashiscs opened #45 "Community memeber page needs to be fixed"
![Screenshot from 2019-12-21 05-13-08](https://user-images.githubusercontent.com/49238464/71280959-b786b200-2382-11ea-9b94-7d56693945e1.png)
https://meshery.io/

[2019-12-20 18:16] leecalcote commented on #45
Thanks for this, @ashiscs!

[2019-12-20 18:26] #45 closed

[2019-12-21 09:54] ashiscs opened #47 "fix twitter handle of madhab paul with the correct link."

[2019-12-23 08:47] #47 closed

[2019-12-23 08:49] ashiscs commented on #44
Sir, in which file do i need to make change?

[2019-12-24 13:18] leecalcote commented on #44
Hi @ashiscs, there are a number of these accidental ">" and "/>" that need to be removed inside the [index.html](https://github.com/layer5io/meshery.io/blob/master/index.html).

[2019-12-24 13:26] ashiscs commented on #44
Sir @leecalcote ,yeah i removed 4 of them.

[2019-12-24 13:27] #44 closed

[2019-12-24 13:27] leecalcote commented on #44
Oh, very good. I didn't realize that you had already submitted a PR. Looks great.

[2019-12-24 13:28] ashiscs commented on #44
Thank you sir @leecalcote

[2019-12-24 13:46] leecalcote commented on #37
Fixed by #54

[2019-12-24 13:46] #37 closed

[2019-12-24 15:25] subhamkrai commented on #26
@leecalcote  I was going through issues and #44 and it was closed by @ashiscs.

[2019-12-24 15:38] ashiscs commented on #26
Bhaiya (@subhamkrai ) I fixed this issue properly, so it was closed on merging.

[2019-12-25 11:09] supra08 commented on #35
Hi @leecalcote, I would like to take up this issue.

[2019-12-27 05:32] leecalcote opened #56 "Site menu overhaul"
**Current Behavior**
The current menu has "GitHub" listed, but is missing Slack, the mailing list, community drive, community calendar and so on.

**Desired Behavior**
New top-level menu items with sub-items structured like so:

[Docs](https://meshery.layer5.io/docs)

[Community](/community)

[Blog](https://layer5.io/blog)

Connect
- [Calendar](https://layer5.io/subscribe/)
- [GitHub](https://gith

[2019-12-27 05:33] #26 closed

[2019-12-27 13:21] leecalcote commented on #35
@supra08 awesome. Thank you for taking on this issue!

[2019-12-27 13:45] leecalcote opened #58 "Graduate CPX adapter from "alpha" to "beta""
**Current State:**
The CPX adapter is currently listed as "alpha".

**Desired State:**
The CPX adapter should now be a "beta" adapter.

See https://meshery.io

[2019-12-27 13:47] leecalcote opened #59 "Include Citrix logo for CPX adapter listing"
**Current Behavior**
The CPX entry in the list of adapters is missing a logo.
![Screen Shot 2019-12-27 at 7 45 24 AM](https://user-images.githubusercontent.com/7570704/71519392-fcc44b80-287c-11ea-9c90-efb19d4ef040.png)

**Desired Behavior**
The Meshery adapter for CPX should have a logo akin to that of the other adapters.

[2019-12-27 13:56] ashiscs commented on #56
@leecalcote sir, can you elaborate this issue?

[2019-12-27 14:02] leecalcote opened #60 "Include Octarine logo for adapter listing"
**Current Behavior**
The Octarine entry in the list of adapters is missing a logo.

![Screen Shot 2019-12-27 at 7 59 27 AM](https://user-images.githubusercontent.com/7570704/71519907-18c8ec80-287f-11ea-9b8a-c4db7495f548.png)

**Desired Behavior**
The Meshery adapter for Octarine should have a logo akin to that of the other adapters.

[2019-12-27 15:12] leecalcote commented on #56
@ashiscs good question. I've updated the description of the issue. Does this help?

[2020-01-01 16:55] #60 closed

[2020-01-01 17:10] ashiscs commented on #59
This issue is resolved by pr no #61 .
So, it needs to be closed.

[2020-01-01 17:11] #59 closed

[2020-01-02 02:51] gunjanmimo commented on #4
Sir, may you elaborate on the description of expected footer behavior?

[2020-01-03 16:21] l5io commented on #56
Let's be consistent and reuse the same menu javascript/html from layer5.io here on meshery.io.

[2020-01-06 04:15] leecalcote commented on #35
@supra08 crushed this one. Thank you, @supra08!

[2020-01-06 04:15] #35 closed

[2020-01-06 04:19] leecalcote opened #63 "Add Suprakit to the contributors list"
**Current Behavior**
@supra08 has been busy submitting PRs. It would be great to get his profile listed on the [community](https://meshery.io/community) page.

A new entry [here](https://github.com/layer5io/meshery.io/tree/master/collections/_contributors) is needed.

[2020-01-06 13:49] #63 closed

[2020-01-09 04:03] leecalcote commented on #28
This information has been added.

[2020-01-09 04:03] #28 closed

[2020-01-09 04:24] leecalcote opened #67 "Community Member Profile: Nupur Thakur"
**Current Behavior**
Nupur Thakur has been waiting in the wings until she was able to holistically engage as a contributor. That time has come and she is quickly making waves (and merged PRs).

**Desired Behavior**
A new [community profile](https://github.com/layer5io/meshery.io/tree/master/collections/_contributors) needs created for @nupur-thakur as a Contributor.

[2020-01-10 18:11] #67 closed

[2020-01-10 18:12] #58 closed

[2020-01-11 13:50] #25 closed

[2020-01-19 21:36] willcalcote opened #72 "Add Contributor Profile for Aisuko"
**Current Behavior**
@Aisuko has recently joined the community and has already begun to make an impact. His contributions and engagement in the community are most welcome.

**Desired Behavior**
A new profile for @Aisuko's should show on the /community page.

[2020-01-20 03:16] #31 closed

[2020-01-20 07:01] Aisuko opened #75 "Optimized images make the static resource smaller file sizes without sacrificing quality."
**Current Behavior**
A brief description of what the problem is. (e.g. I need to be able to...)
There are not any optimized images.

**Desired Behavior**
A brief description of the enhancement.

Every PR which includes the static sources it can be optimized.

Please kindly take a look at https://github.com/Aisuko/meshery.io/pull/1 and I believe that feature is very fit with the project type like t

[2020-01-20 14:39] #72 closed

[2020-01-21 13:03] leecalcote commented on #75
Sounds real good, @Aisuko. Let's give it a shot. Looking over your example PR, it optimizes the images and displaces the existing images conveniently inline.

[2020-01-21 16:26] #75 closed

[2020-01-21 22:37] leecalcote opened #78 "Add Contributor: Hector de la Cruz"
**Current Behavior**
@hdelacru has joined the community as a community manager and is rapidly making an impact.

**Desired Behavior**
A profile for @hdelacru should be created and visible on /community.

[2020-01-21 22:44] hdelacru commented on #78
thanks Lee, I will follow this process

[2020-01-22 00:53] leecalcote opened #79 "Add Meshery Adapter for Tanzu Service Mesh to list of adapters"
**Current Behavior**
The table on https://meshery.io listing adapters is missing an entry for the Tanzu Service Mesh (alpha) adapter.

**Desired Behavior**
This adapter should be listed as an [alpha adapter]((https://github.com/layer5io/meshery.io/blob/master/index.html#L117) with link to its [repository](https://github.com/layer5io/meshery-tanzu-sm).

[2020-01-22 01:01] leecalcote commented on #79
@ivanayov @sergiopozoh FYI.

[2020-01-23 08:40] #56 closed

[2020-01-23 12:57] leecalcote commented on #56
Thank you for triaging issues, @ashiscs 👍

[2020-01-23 14:15] leecalcote opened #82 "Mobile View: Navigation menu"
**Bugs to Fix**
1. Font should be white.
1. Menu should be in upper right hand corner.
1. Top-level navigation items should not have a hyperlink (should not reload the page).

**Screenshots**
<img width="513" alt="Screen Shot 2020-01-23 at 8 12 58 AM" src="https://user-images.githubusercontent.com/7570704/72991847-59515280-3db8-11ea-855c-9567757f4cff.png">

[2020-01-23 14:26] leecalcote commented on #82
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7570704/72992859-109a9900-3dba-11ea-9b4a-ee4ef595daea.gif)

[2020-01-23 14:27] leecalcote commented on #82
The new menu is great, @supra08! 👍

There are couple residuals issues to tidy up.

[2020-01-24 21:40] ashiscs opened #83 "Instead of displaying bash it is showing sh, sudo to be added as well"
![Screenshot from 2020-01-25 08-37-22](https://user-images.githubusercontent.com/49238464/73105851-02668d00-3f20-11ea-9d26-6d3e3c9ba205.png)

[2020-01-24 23:40] #83 closed

[2020-02-08 17:29] willcalcote opened #89 "Add Contributor Profile For Mayank Shan"
**Current Behavior**
@mayankshah1607 has recently joined the community and has already begun to make an impact. His contributions and engagement in the community are most welcome.

**Desired Behavior**
A new profile for @mayankshah1607s should show on the /community page.

[2020-02-09 11:11] mayankshah1607 commented on #89
Thank you! 😄😄

[2020-02-10 01:00] leecalcote opened #91 "Install: Incorporate helm package creation into Meshery release workflow"
**Current Behavior**
Given that the source for Meshery's helm charts in is the Meshery repo, instead of storing the compressed version of the charts in this repo (meshery.io) as a charts "release", can we consider incorporating the tar.gz creation of these charts to our GitHub Actions workflow in Meshery?

We would include the tar.gz creation part of the tagged workflow (the workflow that is enact

[2020-02-10 01:03] leecalcote opened #92 "Install: Duplicative LICENSE and OWNERS files?"
**Description**

Will the LICENSE and OWNERS files in the [charts folder](https://github.com/layer5io/meshery.io/tree/master/charts), be used as part of the Helm Hub entry? If not, the LICENSE and OWNERS file found in the root of this repo might suffice (the two files in the charts folder might be considered duplicative).

[2020-02-10 20:48] gunjanmimo opened #94 "meshery.io page don't have favicon"
Meshery.io don't have the lastest favicon.
Behaviour
Meshery.io should have latest favicon on every page

[2020-02-10 22:31] leecalcote commented on #94
Good call.

[2020-02-11 04:25] leecalcote commented on #91
@Aisuko identified a possible start to the solution for this issue - https://github.com/layer5io/meshery.io/pull/93#issuecomment-583946862

[2020-02-11 04:28] leecalcote opened #95 "Add Contributor Profile for Ivana Atanasova"
**Current Behavior**
@ivanayov recent focus has been on enhancements in the NSM adapter. Her contributions and engagement in the community are most welcome.

**Desired Behavior**
A new profile for @ivanayov should show on the [/community](https://meshery.io/community/) page.

[2020-02-11 04:29] leecalcote commented on #95
@ivanayov we would love to have your participation highlighted. :)

[2020-02-11 16:14] #94 closed

[2020-02-13 02:58] leecalcote opened #98 "Navigation Menu Item: Add YouTube channel under "Connect" menu"
**Current Behavior**
The community meeting recordings are missing from the Connect menu items list.

**Desired Behavior**
"YouTube" should be listed with this link: https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA?sub_confirmation=1 under the Connect menu.

[2020-02-13 04:21] leecalcote opened #99 "Add clipboard button capability to Kubernetes install commands"
**Current Behavior**
The terminal commands for installing Meshery are missing the convenience of having the copy-to-clipboard function.

**Desired Behavior**
Each of the installation steps should have this easy-to-use function.

**Screenshot**
<img width="1114" alt="Screen Shot 2020-02-12 at 10 20 06 PM" src="https://user-images.githubusercontent.com/7570704/74401161-10ece980-4de6-11ea-9e51-796019

[2020-02-13 12:09] #89 closed

[2020-02-13 12:18] #95 closed

[2020-02-13 12:20] #98 closed

[2020-02-13 12:51] leecalcote commented on #1
Should look similar to this -
<img width="299" alt="Screen Shot 2020-02-13 at 6 51 27 AM" src="https://user-images.githubusercontent.com/7570704/74437156-4cf76d00-4e2d-11ea-8cf0-4d53ce4137df.png">

[2020-02-13 13:12] leecalcote opened #102 "Collapse all installation instructions"
**Current Behavior**
Some of the Meshery installation instructions show by default and some do not.

<img width="1163" alt="Screen Shot 2020-02-13 at 6 49 33 AM" src="https://user-images.githubusercontent.com/7570704/74438614-30106900-4e30-11ea-8e4a-d7081e120357.png">

**Desired Behavior**
Let's have these be uniform and (at least for now) have all of them hidden when the page loads.

[2020-02-13 17:25] leecalcote opened #103 "Add GitHub stats to landing page"
**Current Behavior**
Missing GitHub stats on landing page.

**Implementation**
Add the following stats in the section identified in the mockup.

- https://ghbtns.com/github-btn.html?user=layer5io&repo=meshery&type=star&count=true&size=large
- https://ghbtns.com/github-btn.html?user=layer5io&repo=meshery&type=watch&count=true&size=large&v=2
- https://ghbtns.com/github-btn.html?user=layer5io&repo=me

[2020-02-18 02:06] leecalcote commented on #103
@kanishkarj is this issue of interest to you?

[2020-02-18 06:54] kanishkarj commented on #103
I could work on it.

[2020-02-18 07:55] leecalcote commented on #103
Very good!

[2020-02-18 09:31] kanishkarj commented on #103
Please checkout PR #105

[2020-02-18 19:01] leecalcote commented on #103
Fixed by #105

[2020-02-18 19:01] #103 closed

[2020-02-19 16:26] leecalcote opened #106 "Add a "Join the Community" button at the top of the Community page"
**Current Behavior**
The project site should be prominently encouraging new community members. A "Join the Community" button will help with this as shown in the mockup below.

**Desired Behavior**
<img width="1294" alt="Screen Shot 2020-02-19 at 10 21 55 AM copy" src="https://user-images.githubusercontent.com/7570704/74852459-36a45200-5302-11ea-8349-1f34ab75afb8.png">

[2020-02-19 17:38] gunjanmimo commented on #106
@leecalcote sir do i need any animation in the button?

[2020-02-19 19:46] leecalcote commented on #106
@gunjanmimo, yes, you can reuse style from the Subscribe button.

[2020-02-19 21:20] gunjanmimo commented on #106
@leecalcote sir I have added the animation

[2020-02-19 21:22] gunjanmimo commented on #99
@leecalcote this problem is solved https://github.com/layer5io/meshery.io/pull/107

[2020-02-24 12:39] #106 closed

[2020-02-24 13:16] #102 closed

[2020-02-24 14:18] leecalcote commented on #99
fixed by #110

[2020-02-24 14:18] #99 closed

[2020-03-09 10:11] leecalcote opened #114 "Update Aisuko's community profile from contributor to Helm Charts Maintainer"
**Current Behavior**
https://meshery.io/contributors/aisuko/ profile currently lists contributor.

@Aisuko is the creator and maintainer of Meshery's helm charts.

**Desired Behavior**
His community profile should reflect this.

[2020-03-11 04:18] #114 closed

[2020-03-11 23:12] willcalcote opened #118 "Add Contributor: Naveen Jain"
**Current Behavior**
@nveenjain is a new community contributor.

**Desired Behavior**
A profile for @nveenjain should be created and visible on /community.

[2020-03-11 23:13] willcalcote opened #119 "add contributor: kanishkar"
**Current Behavior**
@kanishkarj  is a new community contributor.

**Desired Behavior**
A profile for @kanishkarj should be created and visible on /community.

[2020-03-12 05:15] #119 closed

[2020-03-12 05:48] #78 closed

[2020-03-12 05:49] leecalcote commented on #4
@gunjanmimo yes.... see #1, if you would.

[2020-03-17 20:30] #118 closed

[2020-03-17 23:03] willcalcote opened #124 "Add Contributor: Shivay Lamba"
**Current Behavior**
@shivaylamba is a new community contributor.

**Desired Behavior**
A profile for @shivaylamba should be created and visible on /community.

[2020-03-18 19:56] leecalcote opened #127 "Incorporate display of " xxx performance tests run!""
**Current Behavior**
Meshery users send performance test results to the Meshery Cloud provider, but the total number of results collected isn't displayed on the site.

**Desired Behavior**
Similar to how https://layer5.io/meshery uses a public endpoint to display how many performance tests have been run, let's find a spot on meshery.io to display and explain this statistic.

<img width="655" alt="

[2020-03-18 22:02] leecalcote opened #128 "Include a screenshot of Meshery's service mesh configuration best practices"
**Current State:**
Meshery's ability to check a service mesh's configuration against best practice uses is under-represented.

**Desired State:**
Incorporate the screenshot below into the description of Meshery.

**Screenshot**
<img width="1582" alt="service-mesh-configuration-best-practices" src="https://user-images.githubusercontent.com/7570704/77011431-da9d0f80-6939-11ea-8662-b54f3bb485db.png">

[2020-03-20 11:59] #128 closed

[2020-03-21 16:12] ashiscs commented on #124
This issue is already addressed and needs to be closed!!

[2020-03-21 16:12] #124 closed

[2020-03-23 05:33] leecalcote opened #131 "Octarine logo image missing in adapter table"
**Description**
The table listing adapters is missing the Octarine logo. It has a broken link.

**Expected Behavior**
The adapter logo should be displayed.

[2020-03-23 06:03] leecalcote commented on #131
// @thehh1974

[2020-03-23 20:05] gunjanmimo commented on #127
![Screenshot from 2020-03-24 01-34-17](https://user-images.githubusercontent.com/46948185/77358307-9eb9de00-6d6f-11ea-8c4b-ffc7f07d5ad7.png)

@leecalcote sir, is this right place to show the performance test of Meshery?

[2020-03-23 20:11] kanishkarj commented on #127
@gunjanmimo @leecalcote , I think that fits in perfectly with the rest of the UI! I Think, we could go ahead with this.

[2020-03-23 20:18] leecalcote commented on #127
I agree with @kanishkarj. Double check, if you would, @gunjanmimo, is there space that we might eliminate between the current number and the rest of the "performance tests run!" sentence?

[2020-03-24 02:12] #131 closed

[2020-03-27 08:14] gunjanmimo opened #134 "Get started button is not working"
**Description**
in the meshery.io site, get started button is not working as before

**Expected Behavior**
after clicking the get started button, it should take the user to get started section

[2020-03-27 08:20] #127 closed

[2020-03-27 18:41] shivaylamba commented on #134
I would like to work on this @gunjanmimo

[2020-03-27 18:45] gunjanmimo commented on #134
@shivaylamba yah, go ahead 😃😃

[2020-03-27 21:01] #134 closed

[2020-03-30 17:50] willcalcote opened #136 "Title update for Ashis and Gunjan"
Ashis Singh and Gunjan Paul have been promoted to maintainers of the service mesh landscape.

Profiles titles should be "Meshery Contributor, Landscape Maintainer"

[2020-03-31 02:32] leecalcote opened #138 "[Getting Started] Breakpoint issues"
**Description**
1. Text is being cut off in desktop view. Breakpoint is off.

**Screenshot 1**
<img width="723" alt="Screen Shot 2020-03-30 at 9 27 07 PM" src="https://user-images.githubusercontent.com/7570704/77980613-4fbefc00-72cd-11ea-9632-bd6687296743.png">

2. Code instructions are being cut off in mobile view:

**Screenshot 2**
<img width="723" alt="Screen Shot 2020-03-30 at 9 28 25 PM" src=

[2020-03-31 02:33] leecalcote opened #139 "[Getting Started] Show only one set of instructions at-a-time"
**Description**
Getting Started section: Users are shown installation instructions for multiple platforms at the same time.

**Expected Behavior**
Display of platform instructions should be dichotomous.

**Screenshots**
<img width="1169" alt="Screen Shot 2020-03-30 at 9 29 46 PM" src="https://user-images.githubusercontent.com/7570704/77980841-0622e100-72ce-11ea-9626-70e7491736bd.png">

[2020-03-31 02:36] leecalcote opened #140 "[Getting Started] Show visual indication of which platform instructions are being shown"
**Description**
When a user clicks on any given platform icon, they are shown instructions on how to install Meshery on that platform. The user is not given a visual indication of which platform they are viewing, however.

**Expected Behavior**
1. A visual indication should be shown to user so that they can tell what type of platform instructions are being displayed.
1. Only one set of instruction

[2020-03-31 02:41] leecalcote opened #141 "[Getting Started] Do not allow nav menu bar to cut off section heading"
**Description**
A brief description of the issue.

**Expected Behavior**
Use the css class "anchor" to offset section headings from the nav bar.

Example:
```<div class="anchor"><a name="getting-started"></a><h2>Run Meshery</h2></div>```

**Screenshots**
<img width="1169" alt="Screen Shot 2020-03-30 at 9 29 46 PM" src="https://user-images.githubusercontent.com/7570704/77981287-20a98a00-72cf-11ea-9

[2020-03-31 02:43] leecalcote opened #142 "[Getting Started] Only use blue-colored text when text is hyperlinked"
**Description**
Blue-colored text is used on this site to indicate to the user that the text is hyperlinked. Do not use blue text without a hyperlink.

**Expected Behavior**
Text without a hyperlink should be white in color.

**Screenshots**
<img width="1169" alt="Screen Shot 2020-03-30 at 9 36 47 PM" src="https://user-images.githubusercontent.com/7570704/77981400-72eaab00-72cf-11ea-9bfe-cecc010c8

[2020-03-31 03:17] leecalcote commented on #79
With NSX-SM now released, I wonder if we might advance on the adapter here. It would be great to have NSM-SM support as Meshery heads into the CNCF.

[2020-03-31 23:57] #142 closed

[2020-04-01 00:00] kushthedude opened #144 "[Getting Started] CSS overflow on widescreen"
**Description**

CSS Overflow on getting started page.

**Expected Behavior**

Contents should be arranged to avoid the overflow.

**Screenshots**
<img width="1296" alt="Screenshot 2020-04-01 at 5 29 33 AM" src="https://user-images.githubusercontent.com/44091822/78085884-eed11a00-73d9-11ea-97d0-39e8e86fd39d.png">

[2020-04-01 00:02] leecalcote commented on #144
Good eye!

Have a look-see at #138, #139, #140, #141, #142, if you would. Thank you for knocking out #143 already. 👍

[2020-04-01 05:40] sergiopozoh commented on #79
That sounds reasonable. NSX Service Mesh has been recently rebranded to
Tanzu Service Mesh and is part of the same umbrella. Both Tanzu Mission
Control and Tanzu Service Mesh are in Initial Availability. This means that
customers can do betas with the product and production deployments are
discouraged. TSM will be General Availability in the coming weeks. That
would be a good moment to discuss thi

[2020-04-01 22:09] gunjanmimo commented on #144
@kushthedude is this problem happening in full screen/ normal screen?
I think this problem is arriving only for the mobile screen or tablet screen?

[2020-04-02 01:23] leecalcote opened #147 "Remove "multi-" from page heading"
**Current Behavior**
"multi-" used in the title of the page description. While this aspect of Meshery is important, its not the core value that it provides.

<img width="1197" alt="Screen Shot 2020-04-01 at 7 19 19 PM" src="https://user-images.githubusercontent.com/7570704/78201156-8a07d500-7456-11ea-85c3-8dab58a90481.png">

**Desired Behavior**
Remove "multi-" from title. That value will be impli

[2020-04-02 01:26] willcalcote opened #148 "Add Community Contributor: Kush Trivedi"
**Current Behavior**
@kushthedude is a new community contributor.

**Desired Behavior**
A profile for @kushthedude should be created and visible on `/community`.

[2020-04-02 01:41] #136 closed

[2020-04-03 06:41] #148 closed

[2020-04-03 06:42] #147 closed

[2020-04-03 19:21] sachincool opened #155 "[Getting Started] Alignment issues in getting-started page"
**Description**
There's some alignment issues in [here](https://meshery.io/#getting-started)

**Expected Behavior**
* Add some proper spacing between letter and numbers
* push the logos slightly right

**Screenshots**
![image](https://user-images.githubusercontent.com/25671488/78396981-fa0c8b80-760d-11ea-81e2-6f49c7296ff9.png)

[2020-04-03 21:38] leecalcote commented on #155
@sachincool no sweat. Issue has been transferred.

[2020-04-14 22:42] willcalcote opened #159 "Whitespace formatting"
**Description**
Whitespace is an issue in a couple spots on the main page.

**Expected Behavior**
- Navigation menu and page title easy to read - separated by space.
- Should not have two spaces between result count and label in "xxx performance tests run!"

[2020-04-23 08:37] Yashank18 opened #161 "[Getting Started] Resposivness issue"
**Description**
The website isn't responsive when evaluated in a mobile or tab view.

**Expected Behavior**
The navbar should behave with white color and should align-items accordingly and Get Started Section data overflow and that creates a horizontal scroll.

**Screenshots**
![Screenshot (132)](https://user-images.githubusercontent.com/46098062/80077310-f31ccd00-856a-11ea-86b2-0b55f4bbb15e.png)

[2020-04-23 14:29] leecalcote commented on #161
@Yashank18 awesome. Thanks for documenting this issue and being willing to jump in. 👍

There are a number of related issues (#138 through #155) that you'll want to familiarize with as you look into this bug. It's fantastic to have you here!

[2020-04-24 19:42] leecalcote opened #162 "Add CI WG Meeting Event, Meeting Minutes links"
**Current Behavior**
The new [WG CI working group](https://docs.google.com/document/u/1/d/1GrVdGHZAYeu6wHNLLoiaKNqBtk7enXE9XeDRCvdA4bY/edit#heading=h.pjvwhi5pvz7) has been created.

**Desired Behavior**
CI WG information needs added to the existing [connect.html](https://github.com/layer5io/meshery.io/blob/master/_includes/partials/connect.html)

[2020-04-25 18:11] kushthedude opened #164 "Addition of community calendar on website"
I propose to add the community calendar of Meshery Team Meetings on our website.

Soon we will be having more WG meetings in a week & having a calendar on our website will get our new & existing contributors more acquainted with same.

Something like this should be great https://kubernetes-contributor.netlify.app/events/community-calendar/ .

----
Note :-
The upstream kubernetes calendar is not wo

[2020-04-25 18:11] kushthedude commented on #164
/cc @leecalcote

[2020-04-25 18:16] leecalcote commented on #164
This may help - ```<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=bGF5ZXI1LmlvX2VoMmFhOWRwZjFnNDBlbHZvYzc2MmpucGhzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23616161&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showPrint=1&amp;showCalendars=0" style="border-width:0" width="800" height="600" frameborder="

[2020-04-25 18:17] kushthedude opened #165 "Empty author contents on SMI blog"
**Current State:**

Empty author contents on SMI blog

**Desired State:**

Remove the weird empty block or add author details.

**Screenshot**

<img width="1080" alt="Screenshot 2020-04-25 at 11 46 42 PM" src="https://user-images.githubusercontent.com/44091822/80287405-12744f80-874f-11ea-90e8-84b773224f77.png">

---
**Contributor Resources**
- [Blog to be changed](https://meshery.io/blog/a-standar

[2020-04-25 18:23] kushthedude commented on #164
I think that's your personal calendar 😅. Also how about using [fullcalendar](https://fullcalendar.io) rather than googles' naive one. It seems very ugly
<img width="803" alt="Screenshot 2020-04-25 at 11 52 48 PM" src="https://user-images.githubusercontent.com/44091822/80287527-e73e3000-874f-11ea-9769-0c3b05dd875b.png">

[2020-04-25 18:29] leecalcote commented on #164
Agreed - that is ugly. No, this is the Layer5 Community Calendar (same as linked in the "Connect" menu). My personal calendar is... well, unwieldy. :) Here's a screenshot of the embed code above as viewed in my desktop browser:

<img width="866" alt="Screen Shot 2020-04-25 at 1 24 32 PM" src="https://user-images.githubusercontent.com/7570704/80287688-59832600-86f8-11ea-9ebe-60bbe9e96758.png">

Yes

[2020-04-25 18:48] leecalcote commented on #164
Hopefully, the publicly published settings of the current community calendar are all that is needed to integrate with fullcalendar. Let me know if not and we need to configure additional permissions.

[2020-04-25 18:50] kushthedude commented on #164
I will be needing a key for the calendar, but since we are having a G-Suite it would be easy to manipulate the permissions of the key which we are exposing.

[2020-04-26 17:30] willcalcote opened #166 "Add Adina Rav as a community member"
**Current Behavior**
@rav121 is a new community contributor.

**Desired Behavior**
A profile for @rav121 should be created and visible on `/community`.

[2020-04-28 23:16] leecalcote opened #170 "Upgrade Jekyll site to Ruby 2.7.0"
**Current Behavior**
This site runs on Ruby 2.6.5.

**Desired Behavior**
Ruby 2.7.0 is available as a stable release. Ideally, this Jekyll site and the other Jekyll-based project sites are upgraded to use 2.7.0.

**Related Issues**
- meshery.io: https://github.com/layer5io/layer5/issues/393
- meshery docs: https://github.com/layer5io/meshery/issues/929

[2020-04-28 23:17] leecalcote commented on #170
@rubenlorenzo conceptually, a simple update here. Would you like to take this one?

[2020-04-29 03:37] willcalcote opened #171 "Add Aayush Dutt as a community member"
****Current Behavior**
@aayushdutt is a new community contributor.

**Desired Behavior**
A profile for @aayushdutt should be created and visible on `/community`.**

[2020-04-29 03:45] aayushdutt commented on #171
This is so cool! :smiley:

[2020-04-29 18:06] leecalcote opened #172 "Publish Meshery Presentation"
**Current Behavior**
The [Meshery - The Service Mesh Management Plane](https://drive.google.com/open?id=14kxjwYSJ_FyE3K_6CDEd6oq2kqwn0OSE8RDJ4H-KlKU) presentation gives an overview of the project and related projects.

**Desired Behavior**
It would be good to have on the meshery.io site as a published Google Slide.

[2020-04-30 14:10] rubenlorenzo commented on #170
@leecalcote I can programming HTML, CSS, Javascript, but Jekyll I know a little above.

[2020-04-30 14:24] leecalcote commented on #170
If you like, this is a great place to learn. This upgrade will be straight-forward:

1. bump from 2.6.5 to 2.7.0 in the Gemfile
1. run `make site` locally to verify the site builds.

@ashiscs @gunjanmimo (both in Slack) can assist with any questions. No pressure (there is a long list of many other web programming issues to tackle here).

[2020-04-30 14:26] gunjanmimo commented on #170
@leecalcote sir sure. @rubenlorenzo you can ping me on slack anytime

[2020-04-30 14:43] ashiscs commented on #170
@rubenlorenzo ready to help you out !!

[2020-04-30 16:11] ashiscs commented on #170
No issues @rubenlorenzo

[2020-04-30 22:03] willcalcote opened #173 "Add Saurabh Thankur as a community member"
****Current Behavior**
@thakursaurabh1998 is a new community contributor.

**Desired Behavior**
A profile for @thakursaurabh1998 should be created and visible on `/community`.**

[2020-05-01 03:07] #171 closed

[2020-05-01 03:17] aayushdutt commented on #171
I think something went wrong
https://meshery.io/contributors/aayush-dutt/
![image](https://user-images.githubusercontent.com/25280541/80779127-4e147c80-8b88-11ea-9626-0766dbfb1c5d.png)

[2020-05-01 03:48] leecalcote commented on #171
Looks like some invalid yaml. A fixed has been pushed.

On Thu, Apr 30, 2020 at 10:17 PM Aayush Dutt <notifications@github.com>
wrote:

[2020-05-01 03:50] ashiscs commented on #171
@aayushdutt here you go
https://meshery.io/contributors/aayush-dutt/

[2020-05-01 05:02] Nikhil-Ladha opened #177 "[Getting Started] Breaking of screen width on opening navigation menu in mobile view"
**Description**
In mobile view, on clicking the menu button the page expands to it right showing blank space.

**Expected Behavior**
The page should not expand and the menu items should be listed properly.

**Screenshots**
![Screenshot_20200501-102507__01](https://user-images.githubusercontent.com/29438875/80783326-0a753f00-8b97-11ea-9d2f-9f88a47317c8.jpg)

[2020-05-05 10:22] rubenlorenzo commented on #170
Hi @ashiscs @gunjanmimo, Already, I been able to manage versions of Ruby, in my system. I will look to do update Ruby in Jekyll. Could you assign the issues?

[2020-05-05 10:24] leecalcote commented on #170
Thank you, @rubenlorenzo. 😄

FYI, now that you're part of the Layer5 community, you should find that you have the ability to triage issues (including self-assigning). 👍

[2020-05-05 10:28] rubenlorenzo commented on #170
Ah ok, Thank you. @leecalcote

[2020-05-05 10:48] ashiscs commented on #170
Yes @rubenlorenzo feel free to take up any issue (if it is already not assigned!)

[2020-05-05 14:03] rubenlorenzo commented on #170
@ashiscs, Do I have to target the master branch of Jekyll? as described here as https://github.com/jekyll/jekyll/pull/7948#issuecomment-584132037 for the before message https://github.com/jekyll/jekyll/pull/7948#issuecomment-584127762. Also, would I have to update the Makefile inline 10 to master instead of 4.0.0?

[2020-05-05 21:05] willcalcote opened #179 "Add Vijay as a contributor"
**Current Behavior**
@vijcheru is a new community contributor.

**Desired Behavior**
A profile for @vijcheru should be created and visible on `/community`.

[2020-05-06 13:35] leecalcote commented on #170
cc @Nikhil-Ladha

[2020-05-06 13:41] Nikhil-Ladha commented on #170
I guess you just need to update the Gemfile which has the ruby version to 2.7.0. and then try it out locally if everything is fine. If not you can do a bundle install to check for other dependencies if needed by it. Isn't it @leecalcote ?

[2020-05-06 19:46] #173 closed

[2020-05-11 14:37] rubenlorenzo commented on #170
@leecalcote, @ashiscs, and @Nikhil-Ladha I have managed to launch meshery.io with ruby 2.7.0. I had to correct incompatibilities with:

At present, it has come out jekyll4.0.1, but in docker hub [Jekyll](https://hub.docker.com/r/jekyll/jekyll/tags) has not yet arrived. Better, I wait for the new version to come out, right? I do the pull request.

[2020-05-11 23:40] willcalcote opened #181 "Broken profile for Saurabh Thakur"
**Description**
Saurabh Thankur's profile on the meshery.io site does not appear.

[2020-05-12 00:10] #166 closed

[2020-05-12 00:11] willcalcote opened #183 "Create contributor profile for Ruben Lorenzo"
**Current Behavior**
@rubenlorenzo is a new community contributor.

**Desired Behavior**
A profile for @rubenlorenzo should be created and visible on `/community`.

[2020-05-12 11:41] nik-redhat commented on #170
@rubenlorenzo I suppose this change does not need updating jekyll version. You just have to update the ruby version in the Gemfile to 2.7.0 and hit the `make site` command to test it out. And you will good to go. Same goes for other sites as well i.e, the Docs site and the layer5io site.

[2020-05-13 13:29] #170 closed

[2020-05-15 02:24] willcalcote opened #185 "Adding Manish Dangi as contributor on Meshery.io"
**Current Behavior**
@manishdangi98 is a new community contributor.

**Desired Behavior**
A profile for @manishdangi98 should be created and visible on `/community`.

[2020-05-15 03:37] leecalcote commented on #185
Thank you, @willcalcote

[2020-05-15 22:52] leecalcote commented on #181
I popped in a quick fix for @thakursaurabh1998's profile.

[2020-05-15 22:52] #181 closed

[2020-05-15 22:53] leecalcote commented on #179
@vijcheru is up! Haha! 💥

[2020-05-15 22:53] #179 closed

[2020-05-15 22:55] leecalcote commented on #161
@Yashank18 what do you think?

[2020-05-15 22:55] leecalcote commented on #183
@rubenlorenzo, thanks for your good work on upgrading the Jekyll sites. Let's get you into another area of the projects. We've really struggled to get someone to fix all the issues with the Getting Started section of the meshery.io site - https://meshery.io/#getting-started. Would you like to take a crack? See the issues with [Getting Started] in their title.

[2020-05-15 22:57] leecalcote commented on #162
@Vineet-Sharma29 would you like to wrangle this one?

[2020-05-15 22:58] leecalcote commented on #159
fixed

[2020-05-16 03:39] Vineet-Sharma29 commented on #162
Sure!

[2020-05-16 05:38] Vineet-Sharma29 commented on #162
Should I add the details in `connect.html` or `community.html`? I think according to code given in index.html it should be in `community.html`

[2020-05-17 12:29] Yashank18 commented on #161
Hey, @leecalcote I am on it. I was busy with my exams but will update you for the same as soon as possible,

[2020-05-18 08:19] rubenlorenzo commented on #183
Thanks, @leecalcote. I look which them, I can resolve.

[2020-05-18 11:38] leecalcote commented on #161
Sounds good, @Yashank18. Best of luck on your exams!

[2020-05-19 18:31] leecalcote opened #193 "Create section for Meshery talks and presentations"
**Current Behavior**
The site is missing a section to capture presentations, talks, workshops that people have given on the the project.

**Desired Behavior**
Ideally, this is a new section in the community page.

[2020-05-19 19:18] willcalcote opened #194 "Add Nitish Malhotra as a Contributor"
**Current Behavior**
@nitishm is a new community contributor.

**Desired Behavior**
A profile for @nitishm should be created and visible on `/community`.

[2020-05-19 19:19] willcalcote opened #195 "Add Nitish Vulli as a Contributor"
**Current Behavior**
@nitishvu is a new community contributor.

**Desired Behavior**
A profile for @nitishvu should be created and visible on `/community`.

[2020-05-21 01:55] leecalcote opened #198 "[CI] Netlify error: Your Ruby version is 2.7.0, but your Gemfile specified 2.6.5"
**Description**
Netlify builds fail with
‘’’

7:58:53 PM: Your Ruby version is 2.7.0, but your Gemfile specified 2.6.5
‘’’

[2020-05-21 03:25] leecalcote commented on #177
@rubenlorenzo thank you for taking a look into these issues. The are prominent bugs for anyone first coming to the project!

[2020-05-21 03:29] leecalcote commented on #194
fixed by #196

[2020-05-21 03:29] #194 closed

[2020-05-21 03:30] leecalcote commented on #185
fixed by #186

[2020-05-21 03:30] #185 closed

[2020-05-21 03:30] leecalcote commented on #164
@Vineet-Sharma29 this enhancement is related some of our recent discussions...

[2020-05-21 03:42] Nikhil-Ladha commented on #198
Can this be related to the recent update on the Gemfile for the ruby version? 🤔

[2020-05-21 04:57] Vineet-Sharma29 commented on #164
Would work on it

[2020-05-21 07:32] rubenlorenzo commented on #177
Hi @leecalcote, I shouldn't have assigned it to myself? at present, I am with another issue #155. In this, I will have to configure my mobile to develop. This error only appears on the mobile, exactly.

[2020-05-21 07:42] Nikhil-Ladha commented on #177
Hey @rubenlorenzo , no worries if you are equipped with some other work. You can work on it with time, but if it's really not possible for you then you can unassign yourself.
And as far as working on it is concerned, you don't need to configure any mobile device in my experience 😅. You can just adjust the display in the browser developer tools itself 🙂.

[2020-05-21 07:59] rubenlorenzo commented on #177
@Nikhil-Ladha In the browser in mobile simulation no appear exactly the same for mine. At the moment I leave it for another. Later I will look at it again if it is not assigned.

[2020-05-21 20:49] kushthedude commented on #198
The error should only be present in the PR which are a month old when we had not updated our gemfile. Like in #156, since the branch is not updated with the master there is this error.

[2020-05-22 14:43] willcalcote opened #199 "Add Vineet Sharma as a contributor"
**Current Behavior**
@Vineet-Sharma29 is a new community contributor.

**Desired Behavior**
A profile for @Vineet-Sharma29 should be created and visible on `/community`.

[2020-05-25 21:08] Akanksha1212 commented on #165
Hi @kushthedude Can I work on this issue?

[2020-05-25 21:17] kushthedude commented on #165
Hello @Akanksha1212, Please go ahead!

[2020-05-26 12:02] Akanksha1212 commented on #165
Thanks @kushthedude. From where can I find the author details?

[2020-05-26 12:54] kushthedude commented on #165
Hi @Akanksha1212 , the following blog is written by Lee Calcote(@leecalcote) . Also, I invite you to join our [Slack](http://slack.layer5.io) to engage with the Layer5 sevice mesh community & our core project [Meshery](https://meshery.io)

[2020-05-29 13:35] leecalcote commented on #165
@Akanksha1212, are you thinking of working on this? That is exciting. That would be great. Ping your MeshMate or anyone of us if a chat here would be helpful.

[2020-05-29 13:36] leecalcote commented on #165
Oh! I see now that you _are_ assigned to the issue. Perfect. 👍

[2020-06-01 20:58] #199 closed

[2020-06-01 21:00] #195 closed

[2020-06-01 21:03] #162 closed

[2020-06-01 21:04] #159 closed

[2020-06-03 13:27] gunjanmimo commented on #193
@leecalcote sir, I am taking this issue

[2020-06-03 13:28] leecalcote commented on #193
Excellent. 👍

[2020-06-04 06:08] leecalcote opened #204 "[Profile] Upgrade Aayush Dutt's profile to include the MeshMate badge"
**Current Behavior**
@aayushdutt is now engaging with community members as a MeshMate.

**Desired Behavior**
His profile should bear this designation.

[2020-06-04 23:44] leecalcote opened #205 "[Helm Chart] Fix Meshery logo in hub.helm.sh"
**Description**
The [Meshery Helm chart](https://github.com/layer5io/meshery.io/tree/master/charts) has an invalid link to the Meshery logo.

**Expected Behavior**
This entry https://hub.helm.sh/charts/meshery/meshery should have the Meshery logo showing.

[2020-06-04 23:45] leecalcote opened #206 "[Helm Chart] Fix Meshery logo in artifacthub.io"
**Description**
The [Meshery Helm chart](https://github.com/layer5io/meshery.io/tree/master/charts) has an invalid link to the Meshery logo.

**Expected Behavior**
This entry https://artifacthub.io/package/chart/meshery/meshery should have the Meshery logo showing.

[2020-06-04 23:53] leecalcote commented on #198
Ok, sounds like this issue can be closed in that case.

[2020-06-04 23:53] #198 closed

[2020-06-05 02:23] willcalcote opened #207 "Add Lidor Ettinger as a contributor"
**Current Behavior**
@naturalett is a new community contributor.

**Desired Behavior**
A profile for @naturalett should be created and visible on `/community`.

[2020-06-05 06:55] leecalcote opened #209 "Ability to tag and filter the view of community members."
**Desired Behavior**
It would be nice if we were able to filter the view of community members by those that carry different roles / badges (e.g. see all MeshMates).

[2020-06-05 11:56] #205 closed

[2020-06-05 12:01] #206 closed

[2020-06-07 11:15] Nikhil-Ladha opened #213 "[meshery.io site] Change the title"
**Current Behavior**
A brief description of what the problem is. (e.g. I need to be able to...)
Currently, the mehsery.io site has the title "The service mesh management plan"
**Desired Behavior**
A brief description of the enhancement.
To keep consistency with layer5io and the meshery project, it should be changed to "Meshery | The service mesh management plane"
---

[2020-06-07 11:17] Nikhil-Ladha commented on #213
^^ @leecalcote , does this sound, better to you?

[2020-06-07 15:32] leecalcote commented on #213
@Nikhil-Ladha yes, this is a good suggestion. Sounds good.

[2020-06-07 17:14] Nikhil-Ladha commented on #213
Cool, will make a PR for it 👍🏼

[2020-06-07 17:15] Nikhil-Ladha commented on #213
Cool, will make a PR for it 👍🏼

[2020-06-07 17:16] Nikhil-Ladha commented on #213
Cool, will make a PR for it 👍🏼

[2020-06-10 21:28] willcalcote opened #215 "Adding Ruben Lorenzo as contributor"
**Current Behavior**
@naturalett is a new community contributor.

**Desired Behavior**
A profile for @naturalett should be created and visible on `/community`.

[2020-06-10 21:32] #215 closed, assigned to willcalcote

[2020-06-10 22:55] willcalcote opened #217 "Adding Tajinder Singh as contributor"
**Current Behavior**
@tsingh2k15 a new community contributor.

**Desired Behavior**
A profile for @tsingh2k15 should be created and visible on `/community`.

[2020-06-11 04:40] #207 closed

[2020-06-11 16:34] NupurThakur27 commented on #209
@ishita-kumar Do you think this could be a good start for you?

[2020-06-12 02:03] leecalcote opened #219 "Missing Kuma Logo; New Kuma Logo"
**Description**
The Kuma service mesh has a new project logo. The missing, old logo has left a broken link on meshery.io.

**Expected Behavior**
- The a copy of the new logo should be saved into the meshery repo and locally referenced (to avoid broken links in the future).
- Only the bear face of the new logo should be displayed, not the word "Kuma" (since the bear face is square and fits in the t

[2020-06-12 12:26] #183 closed

[2020-06-12 16:16] ishita-kumar commented on #209
@NupurThakur27  This seems great! Perhaps if I could get some more information on what exact functionality needs to be added it would help?

[2020-06-12 16:32] NupurThakur27 commented on #209
@ishita-kumar If you would have seen the Community page of Layer5.io then on clicking the picture of any community member you will see a Designation mentioned below their image and name. So I think if those tags can help filter the community into groups.
@leecalcote Sir do you think you could explain the functionalities with more clarity?

[2020-06-13 17:12] leecalcote commented on #79
@sergiopozoh or @venilnoronha, is this an issue that one of you might consider tossing up a quick PR for?

[2020-06-13 17:37] #217 closed

[2020-06-17 04:57] leecalcote commented on #219
Wrong screenshot.

@ashiscs or @gunjanmimo would you like to take this?

[2020-06-18 00:46] willcalcote opened #221 "Adding Adheip Singh as contributor"
**Current Behavior**
@AdheipSingh a new community contributor.

**Desired Behavior**
A profile for @AdheipSingh  should be created and visible on `/community`.

[2020-06-18 07:06] #221 closed

[2020-06-19 14:46] willcalcote opened #224 "Adding Tanuj Agarwal as community member"
**Current Behavior**
@Tanuj22 a new community contributor.

**Desired Behavior**
A profile for @Tanuj22 should be created and visible on `/community`.

[2020-06-19 23:30] willcalcote opened #226 "Adding Chris Mazur as contributor"
**Current Behavior**
@chmazur a new community contributor.

**Desired Behavior**
A profile for @chmazur should be created and visible on `/community`.

[2020-06-20 00:12] #224 closed

[2020-06-20 01:31] leecalcote opened #228 "[Docs] Add description of MeshMates program."
**Current State:**
MeshMates is our newcomer onboarding program. It is described in brief here - https://layer5.io/community and in full here - https://docs.google.com/document/d/1vquQMD0TTWREahpx_JXuvIbQ4hM2_4jrVFk8xqZ72ok/edit

**Desired State:**
This program should be included in:

- [ ]  the Community page.

[2020-06-20 20:59] kushthedude commented on #228
@itsapoorvj Would you like to knock this out ?

[2020-06-20 21:28] itsapoorvj commented on #228
Sure!!

[2020-06-21 18:03] itsapoorvj commented on #228
@kushthedude , Its already added in community page: https://layer5.io/community

[2020-06-21 18:07] ashiscs commented on #228
@itsapoorvj, it needs to be added here https://meshery.io/community/

[2020-06-21 18:09] kushthedude commented on #228
The community page of meshery is already occupied by the contributors, adding the program details on it will make the page ugly. @leecalcote How about adding a new page for the mentoring initiatives & the programs in which Meshery has participated?

[2020-06-21 18:12] ashiscs commented on #228
Agree !

[2020-06-22 23:01] vineethvanga18 commented on #141
@leecalcote can i work on this

[2020-06-22 23:02] leecalcote commented on #141
@vineethvanga18 that would be fantastic. Please do.

As you go to investigate, please have a look at this pull request. If you're able to jump I there with an update that would be great. If it looks unwieldy, let's get you another issue to pick up on.

[2020-06-22 23:07] vineethvanga18 commented on #141
@leecalcote sure, thanks.I will look in to that

[2020-06-23 00:40] leecalcote commented on #141
@vineethvanga18 if you haven’t joined the Layer5 Slack community, yet, I welcome you to. It would be nice to have you - http://slack.layer5.io

[2020-06-24 07:11] #219 closed

[2020-06-24 07:15] #226 closed

[2020-06-25 14:40] willcalcote opened #229 "Adding Dhruv Patel as contributor"
**Current Behavior**
@dhruv0000 a new community contributor.

**Desired Behavior**
A profile for @dhruv0000 should be created and visible on `/community`.

[2020-06-26 02:15] willcalcote opened #231 "Adding ishita kumar as contributor"
**Current Behavior**
@ishita-kumar a new community contributor.

**Desired Behavior**
A profile for @ishita-kumar should be created and visible on `/community`.

[2020-06-26 02:58] willcalcote opened #232 "Adding Shriti Chandra as contributor"
**Current Behavior**
@chandrashritii  a new community contributor.

**Desired Behavior**
A profile for @chandrashritii should be created and visible on `/community`.

[2020-06-26 13:56] leecalcote opened #233 "Change meshery.io site font to Open Sans"

[2020-06-26 16:16] vineethvanga18 commented on #233
@leecalcote I changed the body to this in elements.scss
will this do?
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
Before:
![Screenshot from 2020-06-26 21-43-53](https://user-images.githubusercontent.com/44473939/85878428-4d017380-b7f6-11ea-97e6-dceb78c4682d.png)

After:
![Screenshot from 2020-06

[2020-06-26 18:58] leecalcote commented on #233
@vineethvanga18 Yes, nice! I'll have another look when the PR is up, but this looks good to me. 👍

[2020-06-27 04:26] leecalcote opened #235 "Add MeshMate designation to Shivay Lamba’s profile"
**Current Behavior**
@shivaylamba has paired with and mentored newcomers in accordance with the MeshMate program.

**Desired Behavior**
His profile should reflect this activity.

[2020-06-27 14:55] #235 closed

[2020-06-29 20:28] leecalcote opened #238 "Remove scrollbars"
@Nikhil-Ladha here's an item (the scrollbars) that you might take a look at:

<img width="715" alt="Screen Shot 2020-06-28 at 8 30 19 AM" src="https://user-images.githubusercontent.com/7570704/86052364-7e5b8880-ba1c-11ea-9de1-1a63600d36b1.png">

_Originally posted by @leecalcote in https://github.com/layer5io/meshery.io/pull/237#issuecomment-651340896_

[2020-06-29 20:28] #138 closed

[2020-06-30 03:29] Nikhil-Ladha commented on #238
Yes, @leecalcote I saw this. But the thing is that this scrollbar is coming only in the browser for netlify preview and it wont come up when it's actually deployed. I tried it out for small screens in my mobile and pc and there a more friendly transparent scrollbar comes up which doesn't has any effect.
But if still, this needs to be removed I can do this by changing the code to `pre-formatted` st

[2020-06-30 03:56] leecalcote commented on #238
@Nikhil-Ladha, oh, interesting. Yes, I only looked at the netlify preview. Thank you for double-checking on this.

[2020-06-30 03:57] leecalcote commented on #238
I checked on meshery.io and I do not see this behavior on the site. Closing issue.

[2020-06-30 03:57] #238 closed

[2020-06-30 04:05] Nikhil-Ladha commented on #238
Cool 👍🏼🙂

[2020-06-30 04:05] #161 closed

[2020-06-30 04:05] #144 closed

[2020-06-30 04:05] #155 closed

[2020-06-30 04:10] leecalcote commented on #228
Gents, good suggestion. Sounds real good.

[2020-06-30 04:12] leecalcote commented on #233
@vineethvanga18 would you like take another attempt at this one?

[2020-06-30 04:15] vineethvanga18 commented on #233
@leecalcote any changes required wrt previous PR?

[2020-06-30 04:20] Nikhil-Ladha commented on #82
Here , I think only the last part of the bug is left out, as the first first bug was fixed in my previous PR itself. Correct @leecalcote ?

[2020-06-30 04:21] leecalcote commented on #233
Here's a screenshot of what I see on meshery.io currently:

<img width="1189" alt="Screen Shot 2020-06-29 at 11 19 57 PM" src="https://user-images.githubusercontent.com/7570704/86083148-167a6180-ba5f-11ea-80a2-d7186be25e77.png">

Open Sans isn't shown. It may be the case that this font needs to be explicitly loaded (linked to) like so: `<link rel="stylesheet"  href="https://fonts.googleapis.com/cs

[2020-06-30 04:23] #92 closed

[2020-06-30 04:24] leecalcote commented on #164
Thank you, @Vineet-Sharma29

[2020-06-30 04:24] #141 closed

[2020-06-30 04:25] leecalcote commented on #172
@Akanksha1212 you might want to try your hand at this one...

[2020-06-30 04:27] Nikhil-Ladha commented on #177
We are good to close this issue 🙂.

[2020-06-30 04:28] #177 closed

[2020-06-30 04:28] leecalcote commented on #209
Using the front matter of each markdown file in the [_contributors collection](https://github.com/layer5io/meshery.io/tree/master/collections/_contributors), create either a new page (/community/meshmates) or the ability to filter on the existing page contributor profiles that include `MeshMate` in their role. Jekyll loop and conditionals can be used to iterate over a collection.

[2020-06-30 04:29] leecalcote commented on #4
@dhruv0000 would you like to give this a shot, using layer5.io's footer as inspiration?

[2020-06-30 04:31] leecalcote commented on #82
Yes, I think the only residual issue here is that the hamburger (mobile) menu is left aligned, not positioned in the upper, right hand corner.

[2020-06-30 05:07] Nikhil-Ladha commented on #82
I meant the last issues of page reload on top-level navigation items. The hamburger has been right aligned in the changes made in the #237 PR. You can confirm it from the meshery.io site.

[2020-06-30 07:17] vineethvanga18 commented on #233
@leecalcote It's working fine on my browser,dont know why.But if u want me to send a PR after including "<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">" ,I will send it right away.

[2020-06-30 07:20] vineethvanga18 commented on #233
@leecalcote It's working fine on my browser,don't know why.But if u want me to send a PR after linking the font, I will send it right away.

[2020-06-30 14:18] Akanksha1212 commented on #172
Sure.Will give it a try.

[2020-06-30 14:28] Akanksha1212 commented on #172
@leecalcote Where on meshery.io should the presentation be published? Like just before the 'getting started with meshery' section on homepage or any other location?

[2020-06-30 15:29] Nikhil-Ladha commented on #172
Hi @Akanksha1212 , I guess publishing it on the olace you suggested is exactly correct, just above the Getting Started section would be a wise choice.

[2020-06-30 18:55] leecalcote commented on #233
@vineethvanga18 Yes, if you would. I'm not sure that linking the font is the only change that will be needed. You may have to list the Open Sans font family first and/or may other?

[2020-06-30 19:27] dhruv0000 commented on #4
Sure @leecalcote . I assume we want the same data as in `layer5.io/meshery`'s footer?

[2020-07-01 00:57] #4 closed

[2020-07-01 03:25] #229 closed

[2020-07-01 03:26] leecalcote commented on #229
🎉🎈

[2020-07-02 16:42] leecalcote commented on #233
@vineethvanga18 thanks for this work. FYI, if you include a keyword like "fixes" and then the issue number (#233) in the PR description, GH will auto-close the related issue.

[2020-07-02 16:42] #233 closed

[2020-07-02 16:53] leecalcote opened #245 "Community section needs updated to reflect many weekly meetings"
**Current Behavior**
There are many different meetings held each week. The current community section doesn't list them all.

**Desired Behavior**
Instead of saying “Join weekly community meeting on Fridays from 10am - 11am Central.“, it should say “Join community meetings on the community calendar.”

---
[Optional] **Alternatives**
Add the community calendar as described here - https://github.com/

[2020-07-02 16:55] leecalcote opened #246 "Update README to include standard section about Layer5 community"
**Description**
In addition to the meshery.io specific information, we need to update the readme to include this section -https://github.com/layer5io/meshery/blob/master/README.md#join-the-service-mesh-community

[2020-07-02 20:04] morrme commented on #245
The second line says : "Watch community meeting recordings and subscribe to the community calendar."
Would you still want that line, or would you want the "and subscribe to..." part removed in favor of the line above?

[2020-07-02 20:11] leecalcote commented on #245
@morrme great question. My example phrasing in the issue description is grammatically incorrect.

My feeling is that asking people to subscribe may force them to decide whether to make a commitment or not (a word that if can avoid, it would be nice to - - not critical, though).

Here is a better phrasing example - https://github.com/layer5io/meshery#join-the-service-mesh-community:

<img width="83

[2020-07-02 20:13] leecalcote commented on #245
Oh, wait. I misread your question and actually missed the fact that this sentence is already present.

Yes, if you would please displace both of the first bullet points with a consolidated statement akin to that of the one using in the screenshot above.

[2020-07-02 20:41] leecalcote commented on #245
@morrme also, I welcome you to join the community, too. It would be fantastic to have you jump into the Layer5 Slack - http://slack.layer5.io. 😄

[2020-07-02 20:51] morrme commented on #245
@leecalcote Thank you for the warm welcome!

[2020-07-03 03:16] #245 closed

[2020-07-03 03:18] leecalcote opened #249 "[Actions] Add Welcome message workflow to this repo"
So that new contributors like @morrme get a nice welcome message upon merge of their first PR.

[2020-07-03 13:55] #79 closed

[2020-07-03 14:01] #249 closed

[2020-07-03 16:17] leecalcote opened #252 "Upgrade to Jekyll 4.0.1"
**Current State:**
The meshery.io site is running Jekyll 4.0.0.

**Desired State:**
The meshery.io site needs to be updated to Jekyll 4.0.1.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5i

[2020-07-04 07:21] ashiscs opened #253 "Adding Abhishek Kumar as contributor"

[2020-07-05 16:51] leecalcote commented on #252
@morrme how is your comfort level here?

[2020-07-05 18:27] #253 closed

[2020-07-06 10:32] morrme commented on #252
@leecalcote I am not very experienced with this process, so I'd need to go over the steps again....

[2020-07-07 13:13] leecalcote opened #256 "Update Quick Start instructions"
**Description**
The second quick start instruction is wrong: "Access Meshery in your browser if you are using Kubernetes at http://127.0.0.1:9081."

**Expected Behavior**
The instruction should be "Open Meshery in your browser."

[2020-07-07 17:01] morrme commented on #209
@ishita-kumar  If you want an example of how loops/conditionals work in Jekyll, take a look at the [Adapters page](https://github.com/layer5io/meshery/blob/master/docs/pages/service-meshes/adapters.md)

[2020-07-07 17:29] leecalcote commented on #139
Reopening this issue as this behavior is still present. @dhruv0000, would you like to have a look?

[2020-07-07 17:32] #231 closed

[2020-07-07 17:51] #232 closed

[2020-07-07 21:59] morrme commented on #256
@leecalcote Is this the culprit? https://github.com/layer5io/meshery.io/blob/13c032b47e45b867ead64f06526a1f3d5025111b/_includes/getting-started.html#L178

[2020-07-07 22:29] leecalcote commented on #256
Right on, @morrme. ✔️

[2020-07-07 22:43] morrme commented on #1
@leecalcote looks like this can be closed 😄

[2020-07-07 23:09] leecalcote commented on #1
Good eye! Yes.

[2020-07-07 23:09] #1 closed

[2020-07-07 23:13] morrme commented on #172
Would this resolve #193 or is there a larger goal of a dedicated section?

[2020-07-08 00:41] #246 closed

[2020-07-09 04:25] #256 closed

[2020-07-09 05:37] #172 closed

[2020-07-09 05:46] leecalcote commented on #172
@morrme you're right that we have other talks and presentations about Meshery to share. We capture these on layer5.io/meshery and docs.meshery.io today, but may want to consider capturing them on meshery.io, too.

[2020-07-09 05:46] leecalcote commented on #172
@NupurThakur27 gave a recent presentation that might make sense to add to the list.

[2020-07-09 07:23] chandrashritii commented on #172
@morrme There definitely are other presentations and talks that deserve to be in the list. This would probably need to be updated in the existing docs as well as in the future section on meshery.io (#193). Let me know if you need any help in looking for the presentations, adjusting layouts or anything else :)

[2020-07-09 07:26] morrme commented on #172
@chandrashritii Thanks but I am not actually involved with the other issue.  I just noticed these two were similar and wondered if resolving one would resolve the other.  I believe @gunjanmimo  is working on 193.

[2020-07-09 09:55] kushthedude commented on #252
@crustyy Do you think you can take it? It is a straightforward change, what do you say ?

[2020-07-09 10:05] crustyy commented on #252
Yes I'll take it

[2020-07-09 13:09] leecalcote commented on #172
@gunjanmimo shifted his focus away from this community for the time being. Any issues assigned to him may be reassigned.

[2020-07-09 13:51] morrme commented on #252
@kushthedude sorry I wasn't fast enough on this one! good luck with it!

[2020-07-09 14:11] chandrashritii commented on #172
@morrme As @leecalcote explained, @gunjanmimo isn't actively working on it anymore and the issue hasn't been reassigned yet. If you're up to doing it, it is yours for the taking ;)

[2020-07-09 14:17] morrme commented on #172
@chandrashritii I'm not involved with that issue, I just mentioned it as I was reading through issues. Feel free to assign to someone else :)

[2020-07-09 19:38] #140 closed

[2020-07-10 09:47] kushthedude commented on #252
Fixed in #262

[2020-07-10 09:47] #252 closed

[2020-07-10 21:02] crustyy commented on #165
Heyy!! as the issue is still open is there something more to change?

[2020-07-10 21:05] leecalcote commented on #165
@crustyy thanks for asking. PR https://github.com/layer5io/meshery.io/pull/223 was not merged, but closed, so yes, this is still an open issue that needs worked on. I think @Akanksha1212 may circle around for another crack at this, but collaboration here would be most helpful. Perhaps, you'd like to take a shot at this and ask for @Akanksha1212 to review? If you run into questions, along the way,

[2020-07-12 08:52] crustyy commented on #209
@leecalcote can i take this issue as there is no one assigned!

[2020-07-12 14:23] crustyy commented on #139
@leecalcote i think the issue has been resolved?

[2020-07-12 14:33] Nikhil-Ladha commented on #139
Yes, @crustyy . It has been!

[2020-07-16 10:43] soumy47 commented on #165
Hey, sir is it still an open issue ??@leecalcote

[2020-07-16 10:46] ashiscs commented on #165
Yes @soumy47

[2020-07-16 10:59] kushthedude commented on #165
Hi @soumy47 , There is a PR already opened by @crustyy you can find more open issues in the repository.

[2020-07-16 16:16] soumy47 commented on #165
alright @kushthedude

[2020-07-16 16:18] kushthedude commented on #165
You can join our [slack](slack.layer5.io) to get acquainted with service meshes & work with Layer5, the service-mesh company.

[2020-07-17 17:24] #165 closed

[2020-07-19 23:22] Ruth-ikegah commented on #228
@ashiscs has the page been created?

[2020-07-20 14:04] ashiscs commented on #228
No, i guess @Ruth-ikegah

[2020-07-20 14:22] Ruth-ikegah commented on #228
I can find it on layer5.io site but not on meshery.io

[2020-07-20 14:37] leecalcote commented on #228
@Ruth-ikegah given the description of the MeshMates program on the layer5.io site, instead of capturing a description of the program directly on meshery.io, let's link to the description on layer5.io/community/meshmates. This link can be included on any member profile that has the MeshMate title.

@Ruth-ikegah here is an issue that we really would like to see implemented - https://github.com/layer

[2020-07-20 17:07] Ruth-ikegah commented on #228
Cool, I'd check out the issue.

[2020-07-21 04:03] ashiscs opened #269 "Adding Jash Patel as contributor"

[2020-07-21 04:28] #269 closed

[2020-07-21 04:29] leecalcote commented on #269
Thank you, @ashiscs. 😄

[2020-07-21 19:32] kushthedude opened #271 "Add Muskan Bansal as Contributor"

[2020-07-22 15:54] #271 closed

[2020-07-22 16:00] leecalcote opened #274 "[Community] Some of the community member profile pictures need to be squared (in aspect ratio)"
**Description**
A number of the community member profile pictures are skewed by the constraints put on the picture as displayed with a circle affect on https://meshery.io/community.

**Expected Behavior**
The aspect ratio of each of the community member photos should be square, so as to avoid being skewed in shape.

**Implementation**
- In some cases, pictures can be cropped / adjusted to be squar

[2020-07-23 18:36] vineethvanga18 commented on #274
@leecalcote I will take up this issue

[2020-07-23 20:18] leecalcote commented on #274
Thank you, @vineethvanga18. That would be great.

[2020-07-23 20:57] vineethvanga18 commented on #274
@leecalcote put constraints of 300x300 and used (object-fit: cover), so that aspect-ratio is preserved
![Screenshot from 2020-07-24 02-23-08](https://user-images.githubusercontent.com/44473939/88337730-d1dba080-cd54-11ea-8864-6e73ade95768.png)

[2020-07-24 06:02] #139 closed

[2020-07-24 06:02] leecalcote commented on #164
@vineethvanga18 Do you want to try your hand at this one?

[2020-07-24 06:03] leecalcote commented on #274
@vineethvanga18 Nice! If you're able to keep the border-radius, yes, effect is desired.

[2020-07-24 07:25] vineethvanga18 commented on #164
@leecalcote sure, I will work on it

[2020-07-26 03:24] #274 closed

[2020-07-26 03:35] #82 closed

[2020-07-26 23:32] leecalcote opened #276 "Create Active vs Inactive Member View"
**Current Behavior**
We've had many fantastic contributors to the Layer5 projects including the Meshery project. One of the ways that we attempt to recognize a community member's _consistent_ contribution is by providing them with a profile on any one or more of the Layer5 project websites. As a community grows, it becomes more difficult to elevate the works and profiles of those giving of their t

[2020-07-26 23:36] leecalcote opened #277 "Add standard set of labels to this repo"
Please add the ~50 labels to this repo.

[2020-07-27 22:16] crustyy commented on #277
Fixed!

[2020-07-28 06:11] Shokescodes commented on #209
@leecalcote Haven't quite gotten the hang of it. I couldn't locate the community-member.md folder in the code base

[2020-07-28 06:24] Nikhil-Ladha commented on #209
Here it is @Shokescodes https://github.com/layer5io/meshery.io/tree/master/collections/_contributors

[2020-07-28 16:26] Shokescodes commented on #209
Hi @Nikhil-Ladha . I successfully located the folder. Who are the new members I'm supposed to add?

[2020-07-28 16:33] Nikhil-Ladha commented on #209
@Shokescodes you don't need to add anyone, you will have to add a feature to filter the members in the in the community based on the role they or position they have.

[2020-07-28 16:33] leecalcote commented on #277
Thank you, @crustyy. This is most helpful.

[2020-07-28 16:33] #277 closed

[2020-07-28 16:34] Nikhil-Ladha commented on #209
@crustyy are you working or started to work on this issue?

[2020-07-29 16:47] crustyy commented on #209
yes @Nikhil-Ladha but now i can see someone else is already working that's why i will back off:)

[2020-07-29 16:55] Nikhil-Ladha commented on #209
Ohh. Nice of you @crustyy 🙂

[2020-07-29 16:57] Nikhil-Ladha commented on #209
Thn, @Shokescodes it's an open field for you to play around. Go ahead make something meshy, but in the way if you are stuck anywhere feel free to ping me in slack😎.

[2020-08-02 22:00] willcalcote opened #278 "Adding Ruth Ikegah as contributor"
**Current Behavior**
@Ruth-ikegah a new community contributor.

**Desired Behavior**
A profile for @Ruth-ikegah should be created and visible on `/community`.

[2020-08-02 22:06] willcalcote opened #279 "Adding Peace Onyekachi as contributor"
**Current Behavior**
@Code-Ebullient a new community contributor.

**Desired Behavior**
A profile for Code-Ebullient should be created and visible on `/community`.

[2020-08-02 22:54] Ruth-ikegah commented on #278
Nice! @usamaidrsk you might want to jump on this as your first contribution if @willcalcote permits!

[2020-08-04 08:05] Neilblaze commented on #276
Hey @leecalcote , can I propose a better implementation idea upon this?

For the implementation part, the first two bullets are crystal clear for me. But how about if we add "Green Circular borders" around contributor images, which will mark the active status of that respective contributor, & is controlled via CSS toggling(yes it will be manual, which may be implemented later), but this approach s

[2020-08-04 08:16] Nikhil-Ladha commented on #276
I think we can try this, also while filtering it would be better to have circle filled with green/red color in the left of active/inactive in the filter dropdown. How about that @Neilblaze ?

[2020-08-04 08:23] Neilblaze commented on #276
Yes, I agree with you @Nikhil-Ladha . I guess then it'll look like this -

![c_prof2](https://user-images.githubusercontent.com/48355572/89271051-d1e37680-d659-11ea-90a1-d2d24a75d4d9.JPG)

[2020-08-04 08:24] Nikhil-Ladha commented on #276
Yeah, what say @leecalcote ?

[2020-08-04 08:27] Neilblaze commented on #276
But @Nikhil-Ladha  I also think that red will look a bit aggressive, the better approach will be, either keep the green circular border for active community members else, leave it as it is. Views are my own :)

But if we do it as you mentioned, then we have to register two classes & link it with status attribute as @leecalcote mentioned.
Logic will be ~

if active => Green
if inactive => Red

[2020-08-04 08:48] Nikhil-Ladha commented on #276
Registering two classes is not an issue, but yes using red may seem a bit aggressive I support that. So, what we can do is that for the time being you go ahead with only adding the green color for active members. Later, on if we think adding red or something else for inactive makes more sense we will update it.

[2020-08-04 10:43] Neilblaze commented on #276
Sure, I'm on it 😃

[2020-08-05 05:35] leecalcote commented on #276
Light gray for inactive will do the trick and/or reducing the opacity of their profile picture.

[2020-08-05 05:37] Nikhil-Ladha commented on #276
I think reducing the opacity shall be a better call here.

[2020-08-05 06:30] Neilblaze commented on #276
@leecalcote @Nikhil-Ladha I guess this will be good? -

![trex](https://user-images.githubusercontent.com/48355572/89379300-344c7d80-d713-11ea-8d04-e6aabc4259fd.JPG)

[2020-08-05 08:24] Nikhil-Ladha commented on #276
Yes, go ahead with this.

[2020-08-06 04:09] #278 closed

[2020-08-07 02:36] leecalcote opened #282 "Add entry for Open Service Mesh"
**Current Behavior**
Meshery has an alpha adapter for Open Service Mesh in the `meshery-osm` repo.

**Desired Behavior**
This alpha state adapter should be represented on meshery.io

OSM logo -
[osm.svg.zip](https://github.com/layer5io/meshery.io/files/5039020/osm.svg.zip)

[2020-08-08 19:27] leecalcote commented on #282
@Anita-ihuman @Adeola-Adesoba @PluckyPrecious any takers?

[2020-08-09 01:42] leecalcote opened #283 "[Feature] Add description of SMI Conformance testing"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-08-09 05:19] leecalcote opened #286 "Promote Meshery adapter for Kuma to beta status"
**Current Behavior**
Recent work on the [Meshery adapter for Kuma](https://github.com/layer5io/meshery-kuma) brings this adapter to a beta status in functionality and quality.

**Desired Behavior**
The meshery.io site's table of service mesh adapters should reflect this bump from "alpha" to "beta" status.

// @subnetmarco @yskopets @jakubdyszkiewicz @nickolaev @tharun208

[2020-08-09 13:53] leecalcote opened #288 "Right-align mobile view's navigation menu (hamburger)"
@leecalcote We need to fix a few things in mobile view

- hem burger icon in the navbar needs to be shifted towards the right

- footer needs to be center-aligned

<img width="325" alt="Screenshot 2020-08-09 at 3 45 20 PM" src="https://user-images.githubusercontent.com/43807816/89731721-ef07b300-da66-11ea-8184-c2fdc465c356.png">

- And "Overview" can be center-aligned
![WhatsApp Image 2020-08-09 a

[2020-08-10 00:45] leecalcote opened #290 "Center "Overview" heading for slide section when in mobile view"
See the following screenshot for an out of alignment heading.

- And "Overview" can be center-aligned
![WhatsApp Image 2020-08-09 at 3 43 31 PM](https://user-images.githubusercontent.com/43807816/89731883-49554380-da68-11ea-8635-866b216f0c67.jpeg)

_Originally posted by @manishdangi98 in https://github.com/layer5io/meshery.io/pull/285#issuecomment-671045934_

[2020-08-10 00:47] #282 closed

[2020-08-10 00:52] #283 closed

[2020-08-10 00:54] leecalcote opened #292 "[Features] Bottom align "get started" links."
Also, we need to fix the margin of "get started"

![B1](https://user-images.githubusercontent.com/48355572/89727443-b48c1f00-da42-11ea-814c-a1b5d61f0f59.JPG)

To this -

![B2](https://user-images.githubusercontent.com/48355572/89727477-fcab4180-da42-11ea-9a63-8dddf2eaa1e5.JPG)

@leecalcote

_Originally posted by @Neilblaze in https://github.com/layer5io/meshery.io/pull/284#issuecomment-671020022_

[2020-08-10 08:22] Neilblaze commented on #292
Sure I'm on it :racing_car:

[2020-08-10 11:35] Code-Ebullient commented on #290
@leecalcote , i'll like to work on this... I noticed also that the hamburger menu is not properly aligned too on mobile size... i can do both on one issue right?

[2020-08-10 11:36] Code-Ebullient commented on #288
Ohh... i just notice this issue, was taking about it earlier

[2020-08-10 11:36] #288 closed

[2020-08-10 14:26] willcalcote opened #294 "Adding Kelechi Nwachukwu as contributor"
**Current Behavior**
@PluckyPrecious a new community contributor.

**Desired Behavior**
A profile for @PluckyPrecious should be created and visible on `/community`.

[2020-08-10 14:44] kushthedude opened #296 "Setup Release Drafter for CI"
**Current Situation**

Each of the layer5 repositories needs releaseDrafter automation as had been done in the meshery project which takes care of drafting release notes.

**Desired Situation**

Add ReleaseDrafter configuration yaml file & GitHub Action.

---

**Additional context**

[ReleaseDrafter Configuration File](https://github.com/layer5io/meshery/blob/master/.github/release-drafter.yml)
[R

[2020-08-10 16:46] #276 closed

[2020-08-10 23:33] leecalcote opened #297 "[Child] Add CNCF Landscape logo to meshery.io"
**Current Behavior**
Meshery has been accepted into the CNCF Landscape - https://layer5.io/news/meshery-accepted-into-cncf-landscape

**Desired Behavior**
This fact should be reflected on the meshery.io website alongside other programs that Meshery is participating in (e.g. GSoC, CommunityBridge and so on).

**Implementation**
- Select one of the SVGs here - https://github.com/cncf/artwork/tree/ma

[2020-08-10 23:35] leecalcote opened #298 "[Parent] Add Program Participation section on meshery.io"
**Current Behavior**
Meshery participation in a number of programs.

**Desired Behavior**
A new section should be created to display the logos of these programs (e.g. GSoC, CommunityBridge and so on).

**Implementation**
- See related issues: #297

[2020-08-11 08:46] #290 closed

[2020-08-11 12:50] #279 closed

[2020-08-11 20:33] #286 closed

[2020-08-11 22:36] #294 closed

[2020-08-12 13:54] willcalcote opened #303 "Adding Vineeth Reddy as contributor"
**Current Behavior**
@vineethvanga18 a new community contributor.

**Desired Behavior**
A profile for @vineethvanga18 should be created and visible on `/community`.

[2020-08-12 19:44] #303 closed

[2020-08-17 10:17] PluckyPrecious opened #305 "Update Kelechi Nwachukwu as Active Member"
**Current Behavior**
Community member list show Kelechi Nwachukwu as inactive contributor
**Desired Behavior**
Update as active member

[2020-08-17 10:46] PluckyPrecious commented on #164
Hi @vineethvanga18  what's the situation report please? 😃

[2020-08-17 11:06] #305 closed

[2020-08-17 11:51] PluckyPrecious commented on #296
Hi @kushthedude I  think this issue have been resolved. I'll close it now?

[2020-08-17 11:51] #296 closed

[2020-08-18 22:20] chandrashritii opened #307 "Update the osm adapter status"
**Description**
Update the OSM adapter status from alpha to beta on the [meshery.io](https://meshery.io/) page.

![Screenshot_2020-08-19 Meshery The Service Mesh Management Plane](https://user-images.githubusercontent.com/34476976/90564064-5984c580-e1c2-11ea-98e6-57a51b6a8e65.png)

[2020-08-18 22:31] lumenCodes commented on #307
I am interested in this. Can I get more information on the issue

[2020-08-18 22:33] leecalcote commented on #307
@lumenCodes, that's great! Here you go - https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website

[2020-08-18 22:36] lumenCodes commented on #307
Okay thank you.

[2020-08-18 23:12] willcalcote opened #308 "Adding Michael Gfeller as contributor"
**Current Behavior**
@mgfeller a new community contributor.

**Desired Behavior**
A profile for @mgfeller should be created and visible on `/community`.

[2020-08-18 23:14] willcalcote opened #309 "Adding Anita Charles as contributor"
**Current Behavior**
@Anita-ihuman a new community contributor.

**Desired Behavior**
A profile for @Anita-ihuman should be created and visible on `/community`.

[2020-08-19 01:52] #309 closed

[2020-08-21 21:09] kushthedude opened #315 "Mention about SMI Conformance Tool in the website"
**Description**
SMI Tool is well integrated into Meshery Adapter for OSM & Istio, and will soon be available in others. Mention about SMI Conformance Tool of Meshery on the homepage of the website.

Take the Tool info & screenshot of the results from the Meshery Google Slide added on the meshery.io

---

[2020-08-24 02:51] #308 closed

[2020-08-24 22:10] UdokaVrede commented on #298
@leecalcote I would love to take this up but would definitely need a guide on this and further details

[2020-08-25 00:02] leecalcote commented on #298
Hi @UdokaVrede, good deal. Here are the programs that Meshery participates in - https://layer5.io/programs. Logos for each of the programs can be found on the layer5.io site.  // @PluckyPrecious

[2020-08-25 18:35] willcalcote opened #316 "Adding Jubayer Joy as contributor"
**Current Behavior**
@JubayerJoy a new community contributor.

**Desired Behavior**
A profile for @JubayerJoy should be created and visible on `/community`.

[2020-08-25 18:36] willcalcote opened #317 "Adding Dev Kalra as contributor"
**Current Behavior**
@kalradev a new community contributor.

**Desired Behavior**
A profile for @kalradev should be created and visible on `/community`.

[2020-08-26 16:56] JubayerJoy commented on #316
Thanks for this! 🤩

[2020-08-27 14:49] #317 closed

[2020-08-27 16:52] PluckyPrecious opened #319 "Add Reminder in the Welcome Bot to Star the Meshery.io Project"
**Current Behavior**
 A welcome bot has been configured to usher in contributors new to this project. However, a reminder to star the project is missing in the message.

**Desired Behavior**
 The [config.yml](https://github.com/layer5io/meshery.io/blob/master/.github/config.yml) should be updated, you can take a cue from the highlighted [line 22](https://github.com/layer5io/meshery-consul/blob/mas

[2020-08-29 14:29] hikky08 commented on #319
I would love to work on this

[2020-08-31 02:42] leecalcote opened #322 "Add Community Calendar icon/link to Footer"
**Current State of the Meshery.io site**
The current footer on meshery.io is missing a link to the Layer5 Community Calendar.

<img width="189" alt="Screen Shot 2020-08-30 at 9 39 38 PM" src="https://user-images.githubusercontent.com/7570704/91677842-97121880-eb09-11ea-952d-272e74e1bf60.png">

**Desired State of the Meshery.io site**
Akin to the community calendar icon/link in the https://layer5.i

[2020-08-31 09:00] claire-me commented on #322
Hello @leecalcote I'd love to take this issue

[2020-08-31 10:28] claire-me commented on #322
but i will need help locating the folder that contains "contacts" @leecalcote

[2020-08-31 10:51] Nikhil-Ladha commented on #322
Here you go @claire-me https://github.com/layer5io/meshery.io/blob/master/_includes/social-icon.html
This gile contains all the icon for the footer and the file footer.html in the same directory contains the code for the footer of the site.

[2020-08-31 22:37] #319 closed

[2020-09-07 12:36] koladeafeez commented on #297
working on this

[2020-09-09 03:20] leecalcote commented on #316
Whoo-hoo! 💯

With our transition to member profiles to https://layer5.io/community/members, let's close this mid-flight issue and land Mr. Joy over there.

[2020-09-09 03:20] #316 closed

[2020-09-09 03:21] leecalcote commented on #315
@KarenEfereyan you might consider taking this on. This [deck](https://docs.google.com/presentation/d/14kxjwYSJ_FyE3K_6CDEd6oq2kqwn0OSE8RDJ4H-KlKU/edit#slide=id.g820d9370f8_0_0) (see on the meshery.io page) has a slide and screenshot that can be used here.

[2020-09-09 03:23] leecalcote commented on #228
transitioning the majority of the community member profiles and the MeshMate program description to layer5.io/community

[2020-09-09 03:23] #228 closed

[2020-09-09 03:24] leecalcote commented on #209
Related - https://github.com/layer5io/layer5/issues/739

[2020-09-09 03:26] leecalcote commented on #91
@Aisuko, @mgfeller, what are your thoughts here? Is this something worth pursuing?

Note the chart version on https://hub.helm.sh/charts/meshery/meshery.
Note that this repo is use to host the chart: https://github.com/layer5io/meshery.io/tree/master/charts

[2020-09-09 03:57] Aisuko commented on #91
I saw the image tag in meshery Helm chart always set as the latest. since we change the CI scripts to build three version of the image like the `latest` `git tag as tag` etc. So, every time the user deploy meshery with helm chart will use  the tag `latest` image of meshery. So, I believe we do not need to add the Helm chart into the release page

[2020-09-09 08:07] KarenEfereyan commented on #315
Sure thing @leecalcote  assign it to me

[2020-09-09 21:06] koladeafeez commented on #297
@leecalcote , I created a PR for this issue, Waiting for it to be review

[2020-09-13 14:56] #297 closed

[2020-09-13 14:56] #298 closed

[2020-09-18 17:13] chandrashritii commented on #164
@tripathyprateek Do signal if you want to work on this issue

[2020-09-18 18:09] tripathyprateek commented on #164
Hey @chandrashritii I would take this issue up after I complete the other 2 tasks assigned to me. I faced some issues with Jekyll today which I will get fixed, and I will take this up after that.

[2020-09-18 18:11] Nikhil-Ladha commented on #164
In case you are still stuck with it, and are not able to come up with a solution. Feel free to ping me in slack :slightly_smiling_face:

[2020-09-20 13:22] prasanjit15 commented on #322
If this issue is not been worked upon, Can I take this up?

[2020-09-20 14:51] claire-me commented on #322
Yes, you can. Been having issues setting up Jekyll

[2020-09-20 15:20] tripathyprateek opened #325 "NavBar of site needs improvement."
**Description**

Nav Bar doesn't behave properly on all pages and becomes transparent.

**Expected Behavior**

Just take a look at navbar colour in all pages.

**Screenshots**

![image](https://user-images.githubusercontent.com/25269310/93714815-b210ff00-fb82-11ea-95d5-b1b160731776.png)

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. l

[2020-09-20 15:31] tripathyprateek commented on #322
@claire-me take a look at [this](https://jekyllrb.com/docs/installation/windows/) . You dont need to complete Step 2 and 3 of ridk install. The projects works correctly without that as well. Just clone the repo, make sure you do all steps in the above link, then go to the repo in your local machine, `npm install` and `npm start`.

[2020-09-20 15:50] tripathyprateek commented on #322
@prasanjit15 assigned you this task.

[2020-09-20 18:14] PluckyPrecious commented on #322
Hi @claire-me what OS are you using? [This here](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#set-up-your-development-environment) would help. If issues persist please ping me on the community [slack](http://slack.layer5.io/)

[2020-09-21 17:08] reveurguy commented on #325
can i correct this?
also, this error is on the blog page, i didn't see it anywhere else

[2020-09-21 20:46] Neilblaze opened #326 "Fix the navbar visibility in Community & Blog pages"
**Description**

The navigation bar of [Community](https://meshery.io/community/) & [Blog](https://meshery.io/blog/) pages of [Meshery](https://meshery.io/) page has gone completely blended with the background. As a result, nothing is visible on the navbar after the landing of the respective pages, but it becomes visible on scroll. This issue pertains for both desktop-view & mobile-view.

**Expect

[2020-09-22 06:12] tripathyprateek commented on #325
Yes, this issue seems to be on the features page of meshery.io. Go ahead, I will assign you this task.

[2020-09-22 06:35] reveurguy commented on #325
can i submit it on October 1 so that it will count for hacktoberfest.

[2020-09-22 06:43] Nikhil-Ladha commented on #326
Here you go...

[2020-09-22 06:44] Nikhil-Ladha commented on #325
Related to #326

[2020-09-22 06:45] Nikhil-Ladha commented on #325
I think this is an ugly issue, and it's better to be addressed now, when the hacktoberfest starts we will have issues for it marked specificallyy for hacktoberfest. So, you can grab one at that time.

[2020-09-22 07:27] McZenith commented on #326
Thanks ☺️

[2020-09-22 07:28] reveurguy commented on #325
ok

[2020-09-22 07:34] reveurguy commented on #325
where exactly is the css file for header in blogs page. i am not able to find it.

[2020-09-22 07:36] Nikhil-Ladha commented on #325
The issue is in features page. For the blogs page a different issue is opened, so you only need to correct it for features page.

[2020-09-22 07:39] reveurguy commented on #325
where's the css file for features as well ? is it program.css?

[2020-09-22 07:41] reveurguy commented on #325
because in the chrome dev it is showing screen.css as file but such file doesn't exist

[2020-09-22 07:45] Nikhil-Ladha commented on #325
https://github.com/layer5io/meshery.io/tree/master/_sass
This is the css file for the features page, but I don't think the navbar cas is there, so you will have to a bit of finding there.
If you don't get it then, ping me.

[2020-09-22 07:48] reveurguy commented on #325
i have made the pr.

[2020-09-22 07:53] Neilblaze commented on #326
@Nikhil-Ladha thank you for the migration. I don't do this type of mistake generally :laughing: but thankfully someone's already there to fix it! :100:

[2020-09-22 08:08] reveurguy commented on #325
actually this corrected the navbar on blogs page as well

[2020-09-22 11:19] Techwinx1 commented on #325
I see this task has been assigned to someone, can I still take on it ?

[2020-09-22 11:23] Nikhil-Ladha commented on #325
Hello @Techwinx1 , the issue is being worked upon by @reveurguy . So, you can look out for other issues. We have many other open issues across other repository too.

[2020-09-22 11:27] Techwinx1 commented on #325
Alright, thanks for getting back to me. Are there open issues requiring
React,Js,Gatsby ,css  ? If any.pleasd send the link

On Tue, Sep 22, 2020, 12:24 PM Nikhil_Ladha <notifications@github.com>
wrote:

[2020-09-22 11:32] Nikhil-Ladha commented on #325
@Techwinx1 let's discuss on slack. Ping me there.

[2020-09-24 16:08] Nikhil-Ladha commented on #292
@Neilblaze this has been resolved right? Please do confirm and take action on the issue accordingly.

[2020-09-24 16:09] Nikhil-Ladha commented on #325
@Techwinx1 if you are still interested this issue is up for grab. Shall I assign you?

[2020-09-24 18:42] Neilblaze commented on #292
Yup! This issue got fixed with one of my merged PR's. But I don't know why, things got reverted back :confused:

[2020-09-24 19:32] Nikhil-Ladha commented on #292
Can you please send out a quick PR for that?

[2020-09-24 19:46] leecalcote opened #328 "[Internship Programs] Replace old GSoC with CommunityBridge"
**Current State of the Meshery.io site**
Meshery participates in CommunityBridge - https://people.communitybridge.org/project/0d6fd362-04a1-4086-a6e7-ec753ed4a60b. CommunityBridge is missing from this list:

<img width="1379" alt="Screen Shot 2020-09-24 at 2 22 58 PM" src="https://user-images.githubusercontent.com/7570704/94192495-a5d3bd00-fe74-11ea-9055-831f51d56a5d.png">

**Desired State of the

[2020-09-24 19:58] leecalcote opened #329 "Add SMP as a feature of Meshery"
**Current State of the Meshery.io site**
Meshery implements SMP

**Desired State of the Meshery.io site**
This should be a feature shown on the site.

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website) section of the readme.md.

[2020-09-24 21:40] leecalcote commented on #329
Completed.

[2020-09-24 21:40] #329 closed

[2020-09-24 21:40] leecalcote commented on #315
Completed.

[2020-09-24 21:40] #315 closed

[2020-09-25 05:29] RohitDhatrak commented on #328
I would like to work on this issue.

[2020-09-25 06:26] Nikhil-Ladha commented on #328
Sure! Please go ahead with it. If stuck anywhere or want any help feel free to ping me in slack🙂

[2020-09-25 16:55] leecalcote opened #331 "Add Created By and Used By section"
**Current State of the Meshery.io site**
There is no section that identifies Layer5 as the creator of Meshery. Nor is there a section that highlights users of Meshery.

**Desired State of the Meshery.io site**
Add a new section that contains two headings:

1. Created By
 - Layer5
2. Used By
 - see the list in the [ADOPTERS.md](https://github.com/layer5io/meshery/blob/master/ADOPTERS.md) file in th

[2020-09-25 21:08] Neilblaze commented on #292
@Nikhil-Ladha umm can we keep it as an hacktoberfest issue :laughing: ?

[2020-09-25 22:28] leecalcote commented on #292
Not to worry, we will have lots of hacktoberfest issues. 🤠

[2020-09-26 05:56] prasanjit15 opened #332 "Addition of better explanatory Comments in html files for easy and fast bug fixes."
It becomes very difficult to analyse each and every file without comments. So, to create a clean coding environment and also to help others to easily look into the section into which they have to make changes in order to fix the bugs, it is important to have comments.

[2020-09-27 05:55] prasanjit15 commented on #322
After addition of the icons below in contact. Is the social tab required further or can I remove it completely?

[2020-09-27 06:31] prasanjit15 commented on #322
Can anyone please provide me with the link that I have attach with the calendar icon

[2020-09-27 08:31] Nikhil-Ladha commented on #322
Same as in the layer5 site.

[2020-09-28 06:35] kishore007k commented on #331
I would like to work on this issue If it is still open.

[2020-09-28 06:41] kishore007k commented on #209
I would like to work on this issue If it is still open.

[2020-09-28 07:20] Nikhil-Ladha commented on #209
Yes please @kishore007k 💯

[2020-09-29 13:13] #331 closed

[2020-09-30 13:17] kennyOlakunle commented on #328
Is this issue assigned to anyone yet??

[2020-09-30 13:23] RohitDhatrak commented on #328
@kennyOlakunle yes I have started working on this

[2020-09-30 14:26] kennyOlakunle commented on #328
Okay @RohitDhatrak, Well done.

[2020-10-01 10:56] prasanjit15 commented on #322
Hii @leecalcote,
I have fixed the issue by adding the community calendar and making the necessary changes. Kindly verify PR #[335 ](https://github.com/layer5io/meshery.io/pull/335) and merge it.

[2020-10-01 14:41] #209 closed

[2020-10-02 13:21] Nikhil-Ladha commented on #326
@McZenith anything coming up here.....it's time for a hacktober fest PR!

[2020-10-03 02:49] #325 closed

[2020-10-03 02:49] #326 closed

[2020-10-06 18:43] Nikhil-Ladha commented on #322
Closed #337

[2020-10-06 18:44] #322 closed

[2020-10-06 18:46] leecalcote commented on #322
Thanks for this, @prasanjit15. 👍

I don't know if this is captured elsewhere, but you know what else would be lovely, @prasanjit15? - - the same coloration onHover of these buttons like you can see in the current https://layer5.io site's footer.

[2020-10-06 18:47] Nikhil-Ladha commented on #164
@Neilblaze ^^

[2020-10-06 18:48] leecalcote commented on #322
Oops. I got my site's mixed up. I thought this PR was on the `layer5-ng` branch of the layer5io/layer5 repo.

The coloration onhover in the meshery.io footer is excellent. The Layer5-ng site could use the same interaction.

[2020-10-06 18:49] leecalcote commented on #292
That'll teach to you mistreat your motherboard, @Neilblaze. tsk, tsk, tsk.  😜

[2020-10-06 19:05] Neilblaze commented on #164
@Nikhil-Ladha the link which Kush provided redirects to a 404 page :confused:

[2020-10-06 19:09] Nikhil-Ladha commented on #164
Yeah...I know maybe @leecalcote or @kushthedude can give some more insights here, on what's to be done.

[2020-10-06 20:20] leecalcote commented on #164
Either of these two should work:

[code]
and

https://calendar.google.com/calendar/embed?src=layer5.io_eh2aa9dpf1g40elvoc762jnphs%40group.calendar.google.com&ctz=America%2FChicago

[2020-10-08 17:00] leecalcote commented on #332
Sounds great, @prasanjit15 👍

[2020-10-08 17:01] leecalcote opened #341 "Update Maesh logo"
**Current State of the Meshery.io site**
Maesh has a new logo.

**Desired State of the Meshery.io site**
Each reference to this logo needs updated.

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website) section of the readme.md.

[2020-10-08 17:01] leecalcote commented on #341
Thanks for taking this on, @dannylwe

[2020-10-08 17:07] #164 closed

[2020-10-08 18:23] leecalcote opened #342 "[Calendar] Create independent page for the new calendar"
**Current State of the Meshery.io site**
A new calendar provided in #340 has been incorporated into the community page.

**Desired State of the Meshery.io site**
This new calendar can be placed onto its own, standalone page as well at meshery.io/calendar.
The menu item for the calendar can be updated to point to this new page.

---
**Contributor Resources**
- See the [Contributing to Meshery.io We

[2020-10-10 06:05] elshaek commented on #341
Hi, can I clarify what the old logo was, and which new logo should replace the old one?

[2020-10-11 12:17] leecalcote commented on #341
@elshaek, you bet. Here you are - a snapshot from the main meshery.io page:

<img width="1105" alt="Screen Shot 2020-10-11 at 7 14 21 AM" src="https://user-images.githubusercontent.com/7570704/95678332-9f8e5200-0b91-11eb-88c7-8492ba292bbb.png">

Link to the new Maesh product page with new logo - https://traefik.io/traefik-mesh/

[2020-10-11 12:18] leecalcote commented on #341
I'll assign this issue to you in case you'd like to carry it forward. If not, no sweat. You can unassign or just signal and I will unassign. Thanks for looking into this issue.

[2020-10-11 19:51] Keenal commented on #342
Can I work on this?

[2020-10-12 03:52] leecalcote commented on #342
@Keenal That would great. 👍

[2020-10-12 06:59] clementkng opened #343 "Update Brew mesheryctl installation instructions"
**Current State:**
Currently, in the Getting Started page for Meshery (https://meshery.io/#getting-started), the Brew installation instructions are outdated. When you run them, you'll get an error since `mesheryctl` is not properly installed.

**Desired State:**
The instructions should be updated based on the instructions under the "Installing with Homebrew section" here: https://meshery.layer5.io

[2020-10-12 08:23] Fahdmoh01 commented on #343
Kindly assign me to this issue.

[2020-10-12 08:24] Nikhil-Ladha commented on #343
Cool, go ahead with it @Fahdmoh01 :+1:

[2020-10-12 23:54] PluckyPrecious commented on #341
I’ll like to assign this to another contributor.

[2020-10-13 06:18] Keenal commented on #342
So I have been trying to install all the dependencies and I did not expect it to take so much time. I'm currently where I get this message "Your Ruby version is 2.7.2, but your Gemfile specified 2.7.0". Just wanted to let you know that I'm still working on it and if you have any quick ways of tackling that issue, please let me know, thanks!

[2020-10-13 06:33] tripathyprateek commented on #342
Yes. This happens because the Ruby Bundler doesn't recognise the version. Try running `gem install bundler` to fix this issue. I think this might work.

[2020-10-13 07:24] Keenal commented on #342
![image](https://user-images.githubusercontent.com/14351534/95828873-81486380-0d03-11eb-8ac9-b89010fc9ce9.png)

Still getting the same error.

[2020-10-13 08:21] Nikhil-Ladha commented on #342
Which OS are you using?
If linux, then change the version of ruby to 2.7.2 in Gemfile. Then run `bundle install`. Then, the `make site` command.

[2020-10-13 14:11] akashprasher commented on #341
I would like to do this job. Should we use

![image](https://user-images.githubusercontent.com/42891970/95871353-307c4d80-0d8b-11eb-8a6d-398973cdab88.png)

or complete logo

![image](https://traefik.io/static/traefik-mesh-logo-1a85e104816d54531d55c520369bddc1.svg)

#### Result will be

![image](https://user-images.githubusercontent.com/42891970/95871903-d29c3580-0d8b-11eb-90e7-0f2a4b38da3e.png)

[2020-10-13 14:56] PluckyPrecious commented on #341
Hi @akashprasher another contributor is already on this, I’ll assign you to another if you don’t mind. Thanks.👍🏽

[2020-10-13 15:36] akashprasher commented on #341
@PluckyPrecious, It's fine I'll look some other issue if I'll be able to resolve.

[2020-10-13 15:57] Keenal commented on #342
Can you just change the version of Ruby in gemfile? Wouldn't that cause issues? There must be a reason why a certain version was set in the gemfile, right? Or would I be okay changing it?

[2020-10-13 15:58] Nikhil-Ladha commented on #342
That's the reason I asked you to do a bundle install after changing the version 🙂

[2020-10-13 16:09] Keenal commented on #342
Oh, alright. It works if I change the version first and then do bundle install. And gotcha, I won't commit the gemfile changes, I hope that will not cause issues merging. Thank you!!

[2020-10-13 16:11] Keenal commented on #342
Am I supposed to be getting this for make site command?

![image](https://user-images.githubusercontent.com/14351534/95886868-276c8b80-0d4d-11eb-9116-0b7ff5485b3c.png)

[2020-10-13 16:40] prasanjit15 commented on #322
Thanks a lot @leecalcote .

[2020-10-13 17:15] Keenal commented on #342
Yes, it did run successfully!

![image](https://user-images.githubusercontent.com/14351534/95893821-33108000-0d56-11eb-9bf0-3a3f638daabc.png)

[2020-10-13 17:20] Nikhil-Ladha commented on #342
Hmm...which os are you using and how have you set up ruby?
Then try changing the ruby version in your system to 2.7.0 only. Maybe that should fix as that is tested.
It looks like a dependency issue.

[2020-10-14 01:33] Aisuko opened #344 "[DOC]The Helm v2 scripts in a wrong way and need to be fix"
**Current State:**

Going to the https://meshery.io/#getting-started and make a choice on Kubernetes platform, you will see that the helm v2 script of how to deploy Meshery with Helm v2

[code]

As we know if we use the `template` we just rendered the manifest and without deployment. Say in other word, the command just print the manifest and do nothing with deployment.

**Desired State:**

There n

[2020-10-15 07:56] #343 closed

[2020-10-15 20:00] leecalcote opened #346 "Add Ericsson's logo to the Used By section"
**Current State of the Meshery.io site**
Ericsson is not listed as a user. See Meshery [ADOPTERS](https://github.com/layer5io/meshery/blob/master/ADOPTERS.md) file.

**Desired State of the Meshery.io site**
Given use by employee's at Ericsson, add Ericsson's logo to those under the **Used By** section.

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com

[2020-10-15 20:01] leecalcote commented on #341
@elshaek would you like to see this through?

[2020-10-15 20:02] leecalcote commented on #346
@akashprasher interested?

[2020-10-16 02:36] elshaek commented on #341
Hi @leecalcote sorry for not leaving a message previously. I've unassigned myself, please assign this to another contributor m(_ _)m

[2020-10-16 03:04] akashprasher commented on #346
I can see a PR already coming. Please review it and it does work then it's good otherwise I'm open to this.

[2020-10-16 07:50] PluckyPrecious commented on #341
Do go ahead @akashprasher 👏🏽

[2020-10-16 13:15] kumarabd opened #350 "Add EnvoyFilter Provisioning as a feature to the documentation"
**Desired State:**

We have introduced a new feature for meshery to configure a custom EnvoyFilter of their choice for the Istio service mesh. We should have them added to the main-page as well as the `/features` section.
Here is a sample screenshot that can be attached to describe the feature on meshery dashboard.
<img width="1792" alt="Screenshot 2020-10-16 at 6 44 40 PM" src="https://user-image

[2020-10-16 13:16] kumarabd commented on #350
@leecalcote  @chandrashritii This can be marked for `hacktoberfest` I believe. What say?

[2020-10-17 18:04] Sudhish2101 commented on #328
Shall I start working on this?

[2020-10-18 03:45] iambami commented on #350
hi love to take this

[2020-10-18 03:52] iambami commented on #344
Hi Aisuko can you put me through this?

[2020-10-18 04:21] RohitDhatrak commented on #328
I won't be able to complete this because something came up @lolyparty you can assign this issue to @kennyOlakunle or @Sudhish2101

[2020-10-18 04:27] Nikhil-Ladha commented on #328
Go ahead @Sudhish2101 . Its all yours now 🙂

[2020-10-18 05:29] Aisuko commented on #344
Any issue you hit?

[2020-10-18 05:33] iambami commented on #344
I'd love to work on it

[2020-10-18 05:36] iambami commented on #344
Can I chat you up on slack?

[2020-10-18 05:38] Aisuko commented on #344
For sure

[2020-10-21 03:30] #346 closed

[2020-10-21 03:36] leecalcote opened #353 "Welcome bot not functioning"
**Description**
Example here - https://github.com/layer5io/meshery.io/pull/347

[2020-10-21 03:41] #353 closed

[2020-10-22 02:36] akashgp09 commented on #344
Can I take this issue or @iambami you are still up on it ?

[2020-10-22 03:31] Aisuko commented on #344
Yes, please.

[2020-10-22 05:26] #344 closed

[2020-10-22 13:21] Neilblaze opened #356 "Fix the Google calendar sync for Fullcalender"
**Description**

In the [community](https://meshery.io/community/) page of Meshery site, the Fullcalender is not syncing with the Google calendar API. This needs to be fixed.

**Useful Resources**
- [FullCalender Docs](https://fullcalendar.io/docs/v3/google-calendar)
- [Google API](https://github.com/layer5io/meshery.io/blob/fefecabbe833f0d806d121bd1f6172cc0923d849/community.html#L37) key.

**Scre

[2020-10-22 21:36] leecalcote opened #357 "[Feature] Add Meshery Adapter for NGINX Service Mesh"
**Current Behavior**
NGINX Service Mesh is missing. A new adapter has been created - https://github.com/layer5io/meshery-nginx-sm

**Desired Behavior**
- The supported service meshes table should have NGINX Service Mesh adapter listed as an alpha adapter.
- use the Nginx service mesh logo recently included in the https://layer5.io/landscape

<img width="602" alt="Screen Shot 2020-10-22 at 4 33 34

[2020-10-23 09:56] chandrashritii opened #358 "[Site] Brew installation instructions"
**Description**

The instructions for installing Meshery with Brew currently outlines three commands. The same can be achieved with two commands. The site and docs should be updated accordingly

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website) section of the readme.md.

[2020-10-23 14:14] chandrashritii commented on #358
duplicate: issue resolved

[2020-10-23 14:14] #358 closed

[2020-10-24 07:22] PluckyPrecious commented on #357
Ai ai Captain!

[2020-10-26 06:28] kishore007k opened #362 "Fix: Misaligned Layout of the community /contributors page"
**Current State of the Meshery.io site**
1. The Community Page of the [Meshery.io](https://meshery.io/community/) site members have misaligned in the (1920 X 1080) resolution and for the 1625px and below it is aligned perfectly.

![issue-1](https://user-images.githubusercontent.com/34863222/97139838-61905100-1781-11eb-9d86-99d5361fafef.PNG)

2. Update the Community Members of the [Meshery.io](http

[2020-10-26 08:20] PluckyPrecious commented on #362
I could get my hands on this.😇

[2020-10-26 08:22] kishore007k commented on #362
@PluckyPrecious No, I have some other Issue that I have been working on.

[2020-10-26 08:28] PluckyPrecious commented on #342
Hey @Keenal how is this coming up

[2020-10-26 08:43] jlcastrogro commented on #356
Hi, I want to work in this issue :)
How to I get the  correct key?

[2020-10-26 08:47] PluckyPrecious commented on #356
Hi @jlcastrogro the API key is at the useful resources above.

[2020-10-26 08:48] Neilblaze commented on #356
@jlcastrogro Sure! Go for it :+1:
The api key is [here](https://github.com/layer5io/meshery.io/blob/3bb19f5d7ea40552010009ffa0d3f460d659d02d/community.html#L37)

[2020-10-26 08:50] PluckyPrecious commented on #362
Very well then, I’ll take it up.👍🏽

[2020-10-26 11:52] kishore007k commented on #362
Awesome 🔥 @PluckyPrecious

[2020-10-26 13:50] Keenal commented on #342
Hey! I haven't had a chance to try it after my Ruby was giving me errors. I think I'll unassigned myself so someone else can work on it. Sorry about that!

[2020-10-26 14:07] leecalcote commented on #342
@keenal, you can try make docker to circumvent your challenges with Ruby.

[2020-10-26 14:17] Keenal commented on #342
Alright, I will try that! Also, has the application been deployed to Docker? Because that will also be easier for contributors to just build the whole application on their location machine and not have to worry about dependencies. I was just wondering about this.

[2020-10-26 19:06] #357 closed

[2020-10-26 22:18] leecalcote commented on #342
@Keenal good call. Yes, it has. Actually, if you execute the command `make docker` from within the root of the fork of this this repo, it will build the site in docker. 👍

[2020-10-26 22:47] Keenal commented on #342
Great, I will try that out then, thank you!

[2020-10-27 03:13] jlcastrogro commented on #356
Hi, again @Neilblaze, I need the Layer5 Community calendar to be public and its calendar ID, please:

![Screenshot_20201026_210726](https://user-images.githubusercontent.com/20060947/97252512-bbb80300-17cf-11eb-829c-a079a080959a.png)
![Screenshot_20201026_210758](https://user-images.githubusercontent.com/20060947/97252514-bfe42080-17cf-11eb-8969-c261ae413979.png)

[2020-10-27 06:15] Neilblaze commented on #356
@chandrashritii ^^

[2020-10-27 15:47] leecalcote commented on #356
@Neilblaze @jlcastrogro @chandrashritii the calendar is publicly shared. The integration ID is available in the original issue - https://github.com/layer5io/meshery.io/issues/164#issuecomment-704530710

[2020-10-27 15:48] leecalcote commented on #356
I'll paste the integration ID for convenience - layer5.io_eh2aa9dpf1g40elvoc762jnphs@group.calendar.google.com

[2020-10-27 21:56] jlcastrogro commented on #356
@leecalcote @Neilblaze I don't know but with the Google API key and the calendar ID that you have provided me it does not work. I test a simple example with my Google Key and calendar ID and it is working. If the calendar ID is correct, I think that the Google API Key is the problem. Thanks.

[2020-10-29 03:44] #328 closed

[2020-10-29 10:41] kumarabd commented on #350
@Nikhil-Ladha @chandrashritii  Is there someone who can help @iambami with this issue. She has a couple of queries around this issue, can any of you give her a little context on this?

[2020-10-29 10:52] Nikhil-Ladha commented on #350
Yeah, @kumarabd. She approached me with some questions and I have guided her in possible ways. I think she is working on it now.

[2020-10-29 11:05] kumarabd commented on #350
@Nikhil-Ladha Thanks a lot  :)

[2020-10-29 21:30] leecalcote opened #366 "Add a call for Adopters"
**Current State of the Meshery.io site**
The Created By and Used By section of the site has a list of logos, but does not call for others to add their logo.

**Desired State of the Meshery.io site**
Add a call to action like "Add yourself as an adopter... and share your service mesh story with the community".

<img width="354" alt="Screen Shot 2020-10-29 at 4 25 58 PM" src="https://user-images.git

[2020-10-30 00:01] jlcastrogro commented on #356
@Neilblaze, Excuse me, who could check if the Google API gave me is correct?

[2020-10-30 00:12] jlcastrogro commented on #366
Can I try to do this?

[2020-10-30 01:29] leecalcote commented on #366
@jlcastrogro, yes, that would be great. 👍

[2020-10-30 01:47] leecalcote commented on #356
@jlcastrogro I meant to message earlier. Here is a couple screenshots from the Google Cloud Console:

<img width="537" alt="Screen Shot 2020-10-29 at 8 41 41 PM" src="https://user-images.githubusercontent.com/7570704/97650543-ec927500-1a27-11eb-943e-46cfe3af4131.png">

<img width="567" alt="Screen Shot 2020-10-29 at 8 41 27 PM" src="https://user-images.githubusercontent.com/7570704/97650547-f025fc

[2020-10-30 01:54] jlcastrogro commented on #356
Excuse me, @leecalcote, I forgot about the domain, that is my error why it does not work in my local :p

[2020-10-30 02:01] leecalcote commented on #356
😅 No problem. Very pleased that you're solving this issue.

[2020-10-30 02:02] leecalcote commented on #356
@jlcastrogro you are most welcome to join the Layer5 community here - http://slack.layer5.io - many resources and friendly people inside.

[2020-10-30 02:05] jlcastrogro commented on #356
@leecalcote Can you remove the domain restrictions, please? A moment, just to test it.

[2020-10-30 02:08] leecalcote commented on #356
Ok. Here we are:

<img width="1209" alt="Screen Shot 2020-10-29 at 9 08 32 PM" src="https://user-images.githubusercontent.com/7570704/97651756-eeaa0300-1a2a-11eb-92af-6024b9d76868.png">

[2020-10-30 02:15] jlcastrogro commented on #356
![Screenshot_20201029_201239](https://user-images.githubusercontent.com/20060947/97652034-201ed080-1a23-11eb-9714-7f7129936d55.png)

@leecalcote It worked! ¡Hurra! :laughing:

[2020-10-30 02:18] leecalcote commented on #356
jaja! It certainly felt like we had a few meetings. Yes, yes, we do have meetings. :)

[2020-10-30 14:38] #356 closed

[2020-10-30 19:41] jlcastrogro commented on #366
![Screenshot_20201030_133531](https://user-images.githubusercontent.com/20060947/97749519-ce268b00-1ab4-11eb-9280-91e776b44f6b.png)
![Screenshot_20201030_134115](https://user-images.githubusercontent.com/20060947/97750014-a71c8900-1ab5-11eb-8be7-170540f262c3.png)

Is it ok like this?

[2020-10-30 20:17] leecalcote opened #368 "Add dedicated page for community calendar"
**Current Status:**
1. A community calendar is available and located on the latter half of the community page.
1. A menu item for the community calendar exists, but points to the google calendar directly.
1. Some issues exists with the mobile view of the calendar.

**Desired Status:**
1. create a new page, dedicated to the display of the community calendar. Include a link to allow people to subscr

[2020-10-30 20:17] leecalcote commented on #368
// @jlcastrogro

[2020-10-30 20:24] leecalcote commented on #366
I'm having a hard time complaining about any of this, @jlcastrogro. It looks pretty good. You might consider a small reduction of font size on the call to action, understanding that the vast majority of site visitors won't be taking this action, so it doesn't need to be the most visible action item.

[2020-10-30 20:39] jlcastrogro commented on #368
@leecalcote, nice, nice :+1:

[2020-10-30 20:48] jlcastrogro commented on #366
@leecalcote I will look it.

[2020-10-31 12:37] jlcastrogro commented on #366
@leecalcote better or more bigger or very small? I'm not good at the front, sorry.
![imagen](https://user-images.githubusercontent.com/20060947/97779370-2c9a4a80-1b43-11eb-829e-37171077aa26.png)

[2020-10-31 15:28] leecalcote commented on #366
Nice! Looking good. 😀

[2020-11-01 10:20] #362 closed

[2020-11-03 19:27] Keenal commented on #342
Hey there, it's working!! I am finally able to see the site and I'll go ahead and make the changes related to this issue and create a PR soon after.

[2020-11-03 19:33] leecalcote commented on #342
😁

[2020-11-03 20:35] Keenal commented on #342
So I would like to get a clarification. Right now, when we click on Calendar, it takes us directly to Google Calendar. We want it to instead take us to meshery.io/Calendar? I can create html page that links to meshery.io/Calendar. What would you like me to put in there? Just a like that takes us to the Google Calendar? Sorry if I am asking too many questions, I would like to get a clear understand

[2020-11-04 03:22] Nikhil-Ladha commented on #342
I think you don't have to do any changes to the calendar, just create the new page and add this calendar on that page. Some design enhancements are always welcome if you want.

In the current page, maybe we can remove the calendar and just add a callout to the calendar on the meshery.io/calendar page.

[2020-11-06 03:29] jlcastrogro commented on #368
@leecalcote Is there a difference between point 1 with the issue #342?

[2020-11-06 03:31] leecalcote commented on #368
@jlcastrogro, yes, those two statements:

"This new calendar can be placed onto its own, standalone page as well at meshery.io/calendar.
The menu item for the calendar can be updated to point to this new page."

Are intended to mean that the calendar can be exposed in two places on the site - where it is today, and also, on it a page dedicated to the community calendar.

[2020-11-06 08:33] #342 closed

[2020-11-06 12:47] leecalcote commented on #342
Minor issue - the menu item for the new calendar page should not be marked as external (should not carry an external link icon adjacent to it).

Sent from my mobile

[2020-11-06 12:50] nik-redhat commented on #342
@Keenal please add it the above comment to the new issue when you create one.

[2020-11-06 12:57] Nikhil-Ladha commented on #368
I think only point 3 is left now and just this [comment](https://github.com/layer5io/meshery.io/issues/342#issuecomment-723062882) needs to be addressed.

[2020-11-06 19:27] #366 closed

[2020-11-10 20:17] jlcastrogro commented on #368
@Nikhil-Ladha I think the same. I will check it. The problems are with the mobile version, right?

[2020-11-11 03:42] Nikhil-Ladha commented on #368
Mobile version, and the design can be improved a bit.

[2020-11-12 02:42] #368 closed

[2020-11-12 04:34] leecalcote commented on #350
All, the deadline on this update encroaches. We need this up with 12 hours from now.

[2020-12-04 06:44] kumarabd opened #380 "Migrate all meshery.layer5.io/docs references to docs.meshery.io"
**Description**
The domain name used for publishing Meshery's documentation has changed from "https://meshery.layer5.io/docs" to "https://docs.meshery.io".

**Expected Behavior**
All references to "https://meshery.layer5.io/docs" need to be updated to "https://docs.meshery.io".

[2020-12-04 06:45] kumarabd commented on #380
@chandrashritii Something quick that can be done, docs.meshery.io is already up

[2020-12-07 15:15] leecalcote opened #381 "[Site] Insert comma into thousandths place for number of tests run"
**Current Behavior**
Just like the https://layer5.io/meshery site has the number of performance tests run with a comma inserted into the thousandths place, so too should the perf test number on the smp-spec site have a comma.

<img width="641" alt="Screen Shot 2020-11-18 at 9 22 21 AM" src="https://user-images.githubusercontent.com/7570704/99557058-dec97300-2987-11eb-94df-d5001f319135.png">

<img

[2020-12-07 15:24] jomefavourite commented on #381
I'll like to do this

[2020-12-07 15:37] leecalcote commented on #381
Perfect, @jomefavourite 👌

[2020-12-07 15:37] leecalcote commented on #381
Assuming success on Meshery.io, there is a very similar issue open on SMP-spec.io, too

[2020-12-07 16:06] jomefavourite commented on #381
Okay, I'll check it out.

[2020-12-07 16:10] #381 closed

[2020-12-07 17:16] jomefavourite commented on #381
I'm sorry I couldn't find SMP-spec.io, is it a repository?

[2020-12-07 17:20] jomefavourite commented on #381
I'm guessing its service-mesh-performance right?

[2020-12-19 03:30] #350 closed

[2020-12-22 18:18] leecalcote opened #387 "[Traefik Mesh] Adapter and Repo name change"
**Current State:**
The Maesh project underwent a name change and is now referred to as "Traefik Mesh".

**Desired State:**
The Meshery site needs updated to reflect this project name change.

The GitHub repository for Meshery Adapter for Traefik Mesh has also recently been updated. All links to https://github.com/layer5io/meshery-maesh need to be updated to https://github.com/layer5io/meshery-trae

[2020-12-22 18:21] leecalcote commented on #387
Helloooo @pjzzz.... this one has your name on it. 😄

[2020-12-22 18:28] pjzzz commented on #387
Yeah😊 On it.

[2020-12-22 19:02] pjzzz commented on #387
@leecalcote I remember you mentioning Traefik Mesh is in Beta. Should I change it from alpha to beta here as well?

[2020-12-22 19:10] leecalcote commented on #387
@pjzzz, yes, please. That would be great.

[2020-12-22 19:19] #387 closed

[2021-01-04 07:42] kumarabd opened #390 "Markdown table depicting the architecture grouping in meshery"
**Current State of the Meshery.io site**
None

**Desired State of the Meshery.io site**
PFA screenshot for the table information.
<img width="756" alt="Screenshot 2021-01-04 at 1 09 19 PM" src="https://user-images.githubusercontent.com/10404724/103512268-6f073d00-4e8e-11eb-9e89-d0c3feee9e94.png">

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer

[2021-01-04 07:42] kumarabd commented on #390
@leecalcote @chandrashritii FYI

[2021-01-04 07:44] leecalcote commented on #390
Thank you. Moving to `meshery` repo for inclusion in docs.

[2021-01-21 10:47] Aisuko opened #391 "[Chart] The version of chart should be add to this repo"
I already fix the issue on meshery chart and need to update the new version to https://artifacthub.io/packages/helm/meshery/meshery

[2021-01-21 10:48] Aisuko commented on #391
The resource https://github.com/layer5io/meshery.io/tree/master/charts

[2021-01-21 10:49] Aisuko commented on #391
@zjyingchang

[2021-01-21 10:53] zjyingchang commented on #391
Yeah! I can try it.

[2021-01-21 17:26] leecalcote commented on #380
Done

[2021-01-21 17:26] #380 closed

[2021-01-21 17:27] leecalcote commented on #391
@zjyingchang excellent. 👍

@Aisuko, hopefully, we'll get to a point where this is automated (https://github.com/layer5io/meshery/issues/2278). What do you think?

[2021-01-22 08:36] #391 closed

[2021-01-24 07:13] chinmaym07 opened #393 "Email Address input is not aligned"
**Description**

Email input is not correctly aligned

**Expected Behavior**

Email must be aligned with Name input

**Screenshots**
Add screenshots, if applicable, to help explain your problem.
![Screenshot_2021-01-24 Meshery The Service Mesh Manager](https://user-images.githubusercontent.com/44670961/105623699-9aec6180-5e41-11eb-838c-83c39795dd5b.png)

[2021-01-24 07:15] chinmaym07 commented on #292
Hey @leecalcote Can I work on this.?

[2021-01-24 07:16] chinmaym07 commented on #193
Hey @leecalcote I want to take this up.

[2021-01-24 07:20] Neilblaze commented on #292
@chinmaym07 go for it! :+1:

[2021-01-24 15:00] leecalcote commented on #393
Good eye, @chinmaym07!

[2021-01-24 15:01] leecalcote commented on #193
Beautiful. That would be great.

[2021-01-24 16:25] #292 closed

[2021-01-26 13:51] #393 closed

[2021-02-01 12:58] chinmaym07 commented on #193
@leecalcote Sir can I get the design for this issue. ?

[2021-02-02 13:50] leecalcote opened #396 "[Adopters] Add MetaBob to the list of adopters"
**Current State of the Meshery.io site**
MetaBob is a Meshery user, but not listed on the meshery.io site.

**Desired State of the Meshery.io site**
MetaBob should be listed in the USED BY section of the site.

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website) section of the readme.md.

[2021-02-02 13:56] leecalcote commented on #396
// @sakomws

[2021-02-02 13:57] leecalcote commented on #396
@chinmaym07 would you like to take this on?

// @Jashpatel1

[2021-02-02 15:24] chinmaym07 commented on #396
Yes @leecalcote sir .I can do that. 👍🏻

[2021-02-05 05:16] #396 closed

[2021-02-05 20:04] leecalcote opened #398 "Promote Meshery Adapter for NGINX SM to beta"
**Current State of the Meshery.io site**
The Meshery Adapter for NGINX SM is in beta state.

**Desired State of the Meshery.io site**
The meshery.io should reflect a "beta" status for this adapter. [These lines](https://github.com/layer5io/meshery.io/blob/f73078ee3d23ab671e46c3e14c56e34d1d7b73e6/index.html#L379-L381) should be moved to the "beta" section of the adapters table.

---
**Contributor R

[2021-02-07 04:34] #398 closed

[2021-02-07 18:01] leecalcote commented on #332
@prasanjit15 is this something that you would like to tackle?

[2021-02-19 23:42] leecalcote opened #400 "Instructions for installing via Scoop"
**Current State of the Meshery.io site**
`mesheryctl` is available via Scoop as a Windows-based package manager.
The meshery.io site doesn't provide users the option of using Scoop to install Meshery.

<img width="1064" alt="Screen Shot 2021-02-19 at 5 39 06 PM" src="https://user-images.githubusercontent.com/7570704/108573290-d57ada00-72d9-11eb-8794-91cf50d97251.png">

**Desired State of the Meshe

[2021-02-19 23:44] leecalcote opened #401 "helm instructions should not include cloning the repo"
**Description**
A brief description of the issue.

**Expected Behavior**
A brief description of what you expected to happen.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1

[2021-02-19 23:50] leecalcote commented on #400
@metonymic-smokey interested in picking this up?

[2021-02-20 02:40] metonymic-smokey commented on #400
@leecalcote ,
Yes! Give me a week to submit a PR.

Thanks for the consideration!

[2021-02-20 04:22] #401 closed

[2021-02-20 04:28] leecalcote commented on #400
Sounds real good. You bet. 👍

[2021-02-21 15:18] #400 closed

[2021-02-22 08:17] chinmaym07 opened #404 "Subscribe button is missing alignment & Vertically Align Community & image"
**Description**

 Subscribe button is missing alignment wrt to name,email inputs  & Service mesh landscape button is having width issue.
Vertically Align Community & image wrt to text.

**Screenshots**

![Screenshot_2021-02-22 Meshery The Service Mesh Manager](https://user-images.githubusercontent.com/44670961/108680594-13fbd900-7514-11eb-9eae-3f7bec1359d4.png)
![Screenshot_2021-02-22 Meshery The

[2021-02-25 05:24] leecalcote commented on #404
Thank you, @chinmaym07

[2021-02-26 22:50] #404 closed

[2021-03-04 06:50] metonymic-smokey opened #407 "[Docs] Extra rows in mesheryctl command reference table"
**Description**
1. When building the site locally, there are some extra blank lines below commands, when the only change being made is adding a `channel.yaml` file for the specific command in `docs/_data/mesheryctlcommands/lifecycle/subcommands`.
2. [This page](https://docs.meshery.io/reference/mesheryctl) of the official site too shows the same issue below the `verbose` command.

**Expected Behav

[2021-03-05 04:06] leecalcote commented on #407
Thank you for opening this up, @metonymic-smokey. Is this an issue that you would like to address (take assignment of)?

[2021-03-05 17:39] metonymic-smokey commented on #407
@leecalcote I think we now know the root cause of this issue(thanks to @alonsolopezr!) so this can be closed?
Maybe let's add a line to the Documentation Contribution section stating files must be checked for newlines when adding new commands?

Thanks!

[2021-03-05 20:02] leecalcote commented on #407
Very good. 🙂 yes, that sounds about right. 👍

[2021-03-05 20:02] #407 closed

[2021-03-19 16:57] austinogiza opened #410 "[Homepage] Adding CNCF Landscape to Meshery Home page"
#### Current Behavior
We currently have no section highlighting Meshery as proudly representing service mesh management in the CNCF Landscape.

#### Desired Behavior
It will be good to created a new section, adding the CNCF landscape in Meshery home page

![mesh-](https://user-images.githubusercontent.com/44683018/111815538-16b3d900-88dc-11eb-8b7f-24e407ab741b.PNG)

Below is the design file
https:

[2021-03-21 04:28] leecalcote opened #408 "[Menu] Change "Mailing List" link to be local to site"
**Current State of the Meshery.io site**
The link in the screenshot points to layer5.io/subscribe

**Desired State of the Meshery.io site**
The link in the screenshot should point to meshery.io/subscribe

<img width="305" alt="Screen Shot 2021-03-20 at 11 26 27 PM" src="https://user-images.githubusercontent.com/7570704/111893864-e5b6cf80-89d3-11eb-9be8-883cdcbde7d6.png">

---
**Contributor Resourc

[2021-03-21 04:55] leecalcote opened #409 "[Getting Started] Kubernetes: Add instructions for using mesheryctl"
**Current State of the Meshery.io site**
`mesheryctl system start` now supports installing Meshery on Kubernetes, but the Getting Started section only describes using Helm or manifests.

**Desired State of the Meshery.io site**
Present visitors with instructions to use `mesheryctl system start`. This option should be first in the list.

<img width="1240" alt="Screen Shot 2021-03-20 at 11 52 46 PM"

[2021-03-21 04:55] leecalcote commented on #409
@metonymic-smokey, if you up for this, please self-assign.

[2021-03-21 04:59] leecalcote commented on #410
@austinogiza please point to the CNCF Landscape SVG to be used.

[2021-03-21 05:00] #332 closed

[2021-03-21 05:00] l5io commented on #332
Stale issue.

[2021-03-21 18:22] leecalcote opened #411 "Publishing SMI Conformance Results: Create HTML/Javascript version of SMI Conformance table"
**Current State of the Meshery.io site**
Meshery validates individual service mesh conformance with SMI and saves these results. The results need to be published on meshery.io.

**Desired State of the Meshery.io site**
HTML/Javascript version of SMI Conformance table should work on both Jekyll and Hugo sites. This will consume the Meshery Cloud endpoint that provides SMI results. See @dhruv0000 fo

[2021-03-23 00:29] igallup commented on #408
Hi, could I take a crack at this one?

[2021-03-23 01:57] leecalcote commented on #408
Hi @igallup, yes, that'd be great. 👍

[2021-03-23 01:58] leecalcote commented on #411
@dhruv0000 please provide the necessary API endpoints here.

[2021-03-23 16:47] leecalcote commented on #411
Don't worry, @vineethvanga18, I've got you covered - https://meshery.layer5.io/smi/results/public

[2021-03-24 03:24] #408 closed

[2021-03-24 21:50] leecalcote opened #413 "[Feature] Description of Patterns capability needs added"
**Current State of the Meshery.io site**
Meshery is capable of applying service mesh patterns.

**Desired State of the Meshery.io site**
This feature needs to be added as a capability and listed on the site.

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contributing-to-the-mesheryio-website) section of the readme.md.

[2021-03-24 21:51] leecalcote commented on #413
@austinogiza we could use a design on this.

[2021-03-26 20:16] leecalcote opened #416 "Mailing lists update"
**Current State of the Meshery.io site**
Meshery has a couple of mailing lists:

https://groups.google.com/a/meshery.dev/g/community
https://groups.google.com/a/meshery.dev/g/dev
https://groups.google.com/a/meshery.dev/g/user

**Desired State of the Meshery.io site**
The https://meshery.io/subscribe page should have a link and short description of each.

The form on the page now is for the layer5.

[2021-03-26 21:58] austinogiza commented on #416
Design specification over here https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=1164%3A6564

<img width="1440" alt="meshery subscribe" src="https://user-images.githubusercontent.com/44683018/112696769-b8ac6600-8e86-11eb-96cb-64891bf1b7b3.png">

[2021-03-26 23:29] austinogiza opened #417 "[Footer] Adding Layer5 as the creator of meshery to the footer"
**Current State:**
We current have only navlinks highlighting just Layer5 as the creator of meshery

**Desired State:**
Adding Layer5 as the creator of Meshery to the footer of  Meshery

Below is the desired design and the design link

https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=1165%3A1044

<img width="346" alt="footer" src="https://user-images.githubusercontent.com/44683

[2021-03-29 15:09] #409 closed

[2021-04-01 17:17] chinmaym07 opened #420 "Smooth Transition of Instruction section"
**Current State of the Meshery.io site**
Instructions Section is neither opening smoothly nor closing.

**Desired State of the Meshery.io site**

Smooth opening/closing of Instructions section in [meshery.io](https://meshery.io/)

https://user-images.githubusercontent.com/44670961/113330128-08ce7100-933c-11eb-9a0e-241b02572d81.mp4

---
**Contributor Resources**
- See the [Contributing to Meshery.i

[2021-04-01 17:27] chinmaym07 opened #421 "Padding & Margin around Program Section"
**Current State of the Meshery.io site**

1. Program Section is missing some padding & margin .
2. Subscribe Section on [Mehery's Program page](https://meshery.io/programs/) is missing padding.

**Desired State of the Meshery.io site**

1. Program Section must have some padding & margin around it.
2. Subscribe Section on [Mehery's Program page](https://meshery.io/programs/) must have some padding

[2021-04-01 17:44] xdshivani commented on #421
Assign this to me.

[2021-04-01 17:46] chinmaym07 commented on #421
Go ahead @xdshivani Assigned to you .. Happy Contributing !!

[2021-04-01 20:24] leecalcote commented on #417
Another, generally available link to logo - https://layer5.io/brand

[2021-04-02 12:28] mahryam commented on #417
I would like to take this up.

[2021-04-02 14:22] leecalcote commented on #420
Good one, @chinmaym07 👍

[2021-04-03 14:24] xdshivani commented on #421
Help me installing meshery.io in my system `windows10` environment. As am getting error while installing
![code](https://user-images.githubusercontent.com/56837749/113481299-5f5fba80-94b6-11eb-836d-b5e0b5566f51.PNG)

[2021-04-06 19:28] rijusougata13 commented on #420
can you assign me?

[2021-04-07 01:33] leecalcote commented on #420
@rijusougata13, if you would like to pick this one up, you're most welcome to it.

[2021-04-07 02:52] rijusougata13 commented on #420
yeah i would like to.but i'm having some problems when running ```make site```...i am trying to solve that problem

[2021-04-07 02:59] leecalcote commented on #420
@rijusougata13 Ok, understood. Have you joined the Layer5 Community - http://slack.layer5.io? Many helpful MeshMates in there that can point out resources for Jekyll. I assume you're having this challenge on Windows.

[2021-04-07 03:06] rijusougata13 commented on #420
yeah joining this group.. having problem in ubuntu

[2021-04-07 20:47] Lezette commented on #416
@leecalcote I would like to work on this issue

[2021-04-07 21:57] leecalcote commented on #416
@Lezette, that would be excellent. 👍

[2021-04-07 21:58] leecalcote commented on #411
Looking good, @utkarsh-pro! https://meshery.io/smi

[2021-04-07 21:58] #411 closed

[2021-04-08 07:24] Lezette commented on #410
@austinogiza what section on the Homepage should this be on?

[2021-04-08 11:20] #416 closed

[2021-04-08 13:20] austinogiza commented on #410
@Lezette  this should be after the Community and GSOD section

[2021-04-08 16:57] Lezette commented on #410
@leecalcote I would like to work on this

[2021-04-09 11:05] Thea10 commented on #417
@Ruth-ikegah assign this to me please

[2021-04-09 11:10] Ruth-ikegah commented on #417
sure!

[2021-04-10 12:39] #410 closed

[2021-04-11 07:30] rijusougata13 commented on #420
@chinmaym07  PTAL .

[2021-04-13 12:21] #420 closed

[2021-04-13 12:49] leecalcote opened #426 "Blurry CNCF Landscape image"
**Description**
On the main meshery.io page, this image (in the screenshot) is rastered (a PNG) and will expand to a larger size that 100%, so it shows as blurry on large screens.

**Expected Behavior**
Use the SVG version of this logo: https://raw.githubusercontent.com/cncf/artwork/master/other/cncf-landscape/horizontal/color/cncf-landscape-horizontal-color.svg

**Screenshots**
Blurry.
<img width

[2021-04-14 05:04] imraghav20 commented on #426
Hi @leecalcote
Can I work on this issue?

[2021-04-14 05:09] leecalcote commented on #426
Thanks for volunteering, @imraghav20. Yes, that would be great.

[2021-04-14 05:12] imraghav20 commented on #426
Should I replace the current image file with the new one?
Or I should keep both of them and instead change `<img src>` url?

[2021-04-14 05:20] leecalcote commented on #426
Good of you to ask. I'm just realizing that the current image is an SVG already and that the CSS used on the tag `max-width` is just fine.

So, I suspect the reason that it is blurry is because and imgbot came by and in the process of trying to reduce the size of the SVG, the imgbot compressed the original SVG and produced this blurry version.

So, in order to fix this issue, you can take a fresh

[2021-04-14 05:49] imraghav20 commented on #426
Ok, thanks.

[2021-04-16 19:43] #426 closed

[2021-04-18 14:44] chinmaym07 commented on #421
Hey @xdshivani 👋🏻 .Were you able to setup the project locally ?
Have you joined the Layer5 Community - http://slack.layer5.io? We have many helpful people that can point out resources for Jekyll & help you in setting up the project locally.

[2021-04-18 16:06] Kn99HN opened #429 "Programs page is covered by footer"
**Description**
Programs page at `https://meshery.io/programs` is hidden by the footer

**Expected Behavior**
A brief description of what you expected to happen.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.
<img width="1440" alt="Screen Shot 2021-04-17 at 5 13 09 PM" src="https://user-images.githubusercontent.com/44149581/115126876-4f5cd600-9fa0-11eb-9cba-b01e41e2

[2021-04-22 10:53] Josephchinedu commented on #429
In the `https://meshery.io/css/screen.css` add `margin-top: 300px;` to the footer styling

[2021-04-22 11:34] leecalcote commented on #429
Good call, @Josephchinedu. Would you like to take this issue?

[2021-04-22 15:42] leecalcote commented on #429
Thank you, @Josephchinedu 👍

[2021-04-22 15:42] leecalcote commented on #429
Be sure to reference this issue in your PR's description (`This PR fixes #`) so that this issue will automatically be closed out.

[2021-04-24 07:36] adithyaakrishna commented on #417
Hey @Thea10 any Progress here? 👀

[2021-04-24 07:43] adithyaakrishna opened #431 "[Feature] - Add SMI Conformace to the Meshery Site Footer"
**Current State of the Meshery.io site**
The footer of [meshery.io](https://meshery.io) site does not have any link to [meshery.io/smi](https://meshery.io/smi) and hence a new link should be added here to direct to the SMI Page

**Existing:**
![image](https://user-images.githubusercontent.com/23498248/115951406-369f7380-a4fe-11eb-9121-be76d273fcea.png)

**Desired State of the Meshery.io site**
A L

[2021-04-24 07:44] adithyaakrishna commented on #431
Assigning Myself on this 🎉

[2021-04-24 22:27] leecalcote commented on #431
😄

[2021-04-27 10:49] adithyaakrishna opened #434 "[Docs] - Add Entry for Meshery Release Update"
**Current State:** The below image shows, we do not have v0.5.2
![image](https://user-images.githubusercontent.com/23498248/116229467-2b557d80-a774-11eb-97f7-b1d04840c541.png)

**Desired State:**
A new version, v0.5.2 has to be updated along with the link to the release

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](h

[2021-04-27 10:50] #434 closed

[2021-04-27 10:50] adithyaakrishna commented on #434
Wrong Repo :/

[2021-04-27 10:53] leecalcote commented on #434
FYI

<img width="332" alt="Screen Shot 2021-04-27 at 5 52 37 AM" src="https://user-images.githubusercontent.com/7570704/116230066-d0dd0280-a71c-11eb-8bd5-57a4053a76ad.png">

[2021-04-27 10:54] #431 closed

[2021-04-27 13:06] adithyaakrishna commented on #434
Ohh, I didn't know about this feaure, Thanks @leecalcote 🎉

[2021-04-27 15:53] leecalcote opened #435 "[Site] Mailing lists: Add links to user and dev groups"
**Current State of the Meshery.io site**
Two of the the mailing lists at the bottom of meshery.io need their hyperlinks updated.

**Desired State of the Meshery.io site**
- User List - https://groups.google.com/a/meshery.io/g/user-group
- Dev List - https://groups.google.com/a/meshery.io/g/dev-group

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/la

[2021-04-28 09:51] marcocosta1618 commented on #435
Hi, maybe I can help with this one. Can I take it?

[2021-04-28 10:39] leecalcote commented on #435
Sounds great, @marcocosta1618. 👍

[2021-04-28 11:30] marcocosta1618 commented on #435
Great, thanks.

[2021-04-29 12:24] #435 closed

[2021-05-02 14:19] chinmaym07 opened #439 "Increase the width of the performance tests run card"
**Description**

Text is overflowing on mobile view.

**Expected Behavior**

Text should remain inside card on mobile view.
Increase the Width of the card to rectify this.

**Screenshots**

![Screenshot_2021-05-02 Meshery The Service Mesh Manager](https://user-images.githubusercontent.com/44670961/116816366-46166080-ab7f-11eb-86d2-ac261a112b55.png)

[2021-05-03 11:25] samirparhi-dev commented on #439
I am willing to take this up.

[2021-05-03 11:27] Anita-ihuman commented on #439
Sure @samirparhi-dev  go ahead

[2021-05-03 22:12] #439 closed

[2021-05-03 22:13] #417 closed

[2021-05-06 22:06] Anita-ihuman opened #442 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-07 08:23] piyushsingariya opened #453 "[Docs][Meshery.io] Update Link to meshery releases on meshery.io for windows user"
**Desired State:**
Currently, the link redirect us to- https://github.com/layer5io/meshery/releases/tag/v0.3.9
Change it to (https://github.com/layer5io/meshery/releases/)
Plus also update the command to `mesheryctl system start` from `./mesheryctl system start`

![image](https://user-images.githubusercontent.com/50979887/117420731-7a9d6a00-af3b-11eb-8677-9e7cdbe45438.png)
---
**Contributor Resour

[2021-05-07 16:53] rav121 opened #443 "[Feature] [Configuration Card][Operator Users] CloudEvents specification"
#### Current Behavior

https://meshery.io/features --> Configuration Card--> does not mention using CloudEvents

#### Desired Behaviour

https://meshery.io/features
Use Existing card: [Feature] [Configuration] or a new card  [Feature][Configuration] [Operator Users]
Add  items: Management of task/operation lifecycle for Operators Actors using CloudEvents specification
Beautify/Rephrase "Operatore

[2021-05-07 16:56] leecalcote commented on #443
We are in need of a short blurb on the project site that describes the fact that Meshery generates and consumes CloudEvents compatible events.

[2021-05-07 19:30] leecalcote opened #444 "Add Asteria Aerospace logo to list of adopters"
**Current State of the Meshery.io site**
Asteria Aerospace is diligently walking through a proof of concept with Meshery, engaging deeply in the community, and investing in improving the project as they go (see adopters.md).

**Desired State of the Meshery.io site**
The Asteria Aerospace logo should be added to the list of adopters: https://github.com/layer5io/meshery.io/blob/55d7af8019db02a24a8be

[2021-05-09 03:32] srisatya1197 commented on #444
@leecalcote Howdy Sir!! I'm Sri I want to work on this issue.

[2021-05-09 10:35] Jassi10000 opened #451 "Lil issue in the meshry docs"
**Description**
A brief description of the issue.

 Issue already opened at
https://github.com/layer5io/meshery/issues/2879

**Expected Behavior**
A brief description of what you expected to happen.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPh

[2021-05-09 10:40] leecalcote commented on #451
Docs are in the Meshery repo. This repo contains the project site only.

[2021-05-09 10:41] leecalcote commented on #451
You can close this issue.

[2021-05-09 10:45] Jassi10000 commented on #451
Actually Mr. Samir told me that docs are in meshery.io   not meshery

[2021-05-09 10:46] #451 closed

[2021-05-09 10:58] leecalcote commented on #444
Sounds good, @srisatya1197

[2021-05-09 11:08] leecalcote commented on #444
Actually, it looks like @UtkarshMathur05 is attempting to fix this.

[2021-05-11 01:01] josephmidura commented on #442
I can fix this.

[2021-05-12 02:01] josephmidura commented on #442
When I built the Meshery.io site, I noticed similar language on the bottom of the [community page](https://meshery.io/community/).

![Screen Shot 2021-05-11 at 8 58 14 PM](https://user-images.githubusercontent.com/11523557/117906988-95edd980-b29b-11eb-9942-6d23aaf261f9.png)

[2021-05-12 04:22] leecalcote commented on #442
// @Ruth-ikegah

[2021-05-12 22:13] #442 closed

[2021-05-19 08:50] kartike66 commented on #443
I'm working on this issue.
thanks

[2021-05-19 13:59] #444 closed

[2021-05-24 22:54] #443 closed

[2021-05-25 03:23] leecalcote opened #460 "[Blog] Copy SMI Conformance blog from smi-spec.io"
**Current State of the Meshery.io site**
[This blog post](https://smi-spec.io/blog/validating-smi-conformance-with-meshery/) can be copied and posted on meshery.io.

**Desired State of the Meshery.io site**
The blog post, including images, should be posted on smi-spec.io and https://meshery.io/blog

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website](https://github.com/lay

[2021-05-25 03:50] josephmidura commented on #460
I'll work on this.

[2021-05-25 03:52] leecalcote commented on #460
Oh, fantastic. Here is a [link to the source](https://github.com/servicemeshinterface/smi-spec.io/blob/main/content/blog/validating-smi-conformance-with-meshery.md) of the other blog post.

[2021-05-25 06:04] soham4abc commented on #453
working on it

[2021-05-25 06:09] soham4abc commented on #453
This issue is already resolved

[2021-05-25 06:12] #453 closed

[2021-05-25 18:23] Ayush-Khandelwal-007 commented on #421
Is there any figma design for this frame?

[2021-05-27 22:46] Naimaoye opened #469 "Windows logo not visible"
**Description**
Windows logo not visible

**Expected Behavior**
Windows logo expected to be visible just like other icons

**Screenshots**
![image](https://user-images.githubusercontent.com/48380183/119906018-479c3400-bf45-11eb-814d-418036344049.png)

[2021-05-27 22:57] Ayush-Khandelwal-007 commented on #469
Hey @Naimaoye Could you please specify the device and browser in use while you are facing this issue.

[2021-05-27 23:21] leecalcote commented on #469
I see it in Safari 14.1 on macOS Big Sur 11.3.1 at https://meshery.io/#getting-started

[2021-05-28 03:36] leecalcote commented on #469
This needs to be fixed urgently.

[2021-05-28 03:37] #469 closed

[2021-05-28 03:38] texas2010 commented on #469
@leecalcote, I was going to send PR but you got it.  oops haha.

[2021-05-28 03:39] leecalcote commented on #469
Oh, no! Ha!

Good news, though: there are plenty more where this comes from - https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+

[2021-05-28 03:49] texas2010 commented on #469
@leecalcote, that is fine. Thank you for the link. I will check it out.

Btw I saw the open job at your company. I will send my resume to that email later.

Have a nice day!

[2021-05-28 05:28] alphaX86 opened #470 "Enlistment of all platforms missing on Meshery installation page"
**Current State of the Meshery.io site**
For now, the site provides instructions for 4 diff platforms for installing Meshery. But this is really outdated! There are many platforms available as compared to https://layer5.io/meshery

![image](https://user-images.githubusercontent.com/59508546/119934513-82cd5000-bfa3-11eb-9598-f6099989e3ac.png)

![image](https://user-images.githubusercontent.com/5950

[2021-05-28 09:30] NikhilSharma03 commented on #470
Can I work on this issue? @alphaX86

[2021-05-28 09:32] alphaX86 commented on #470
Sure :) 👍

[2021-05-28 09:36] NikhilSharma03 commented on #470
Thank you @alphaX86 👍

[2021-05-28 13:34] leecalcote commented on #469
Excellent. 😄

[2021-05-30 03:10] josephmidura commented on #460
A couple of the images resized on the Meshery.io blog. Are there guidelines for the desired sizes, or should I just try to approximate the size on the original smi-spec.io post?

[2021-06-19 04:32] ishitakeshawani commented on #429
@Josephchinedu are you working on it?
Otherwise I like to solve it @Nikhil-Ladha

[2021-06-25 18:06] amino19 opened #474 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/meshery.io/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316/123441080-162

[2021-06-26 04:55] NikhilSharma03 commented on #474
@amino19 Can I work on this?

[2021-06-26 05:15] amino19 commented on #474
@NikhilSharma03 : Good to see that, already done! Thanks. 😉

[2021-06-26 05:46] navendu-pottekkat opened #476 "Add CNCF logo to meshery.io homepage"
**Current State of the Meshery.io site**
Meshery is shown as a CNCF landscape project:

![Screenshot_20210626_111035](https://user-images.githubusercontent.com/49474499/123503236-4ad32e80-d66f-11eb-877d-211547987d58.png)

**Desired State of the Meshery.io site**
As Meshery is now a CNCF project and should use the plain CNCF logo:

[cncf-horizontal-color.svg](https://raw.githubusercontent.com/cncf/

[2021-06-26 05:46] navendu-pottekkat commented on #476
@leecalcote please make changes if they are needed

[2021-06-26 06:26] #474 closed

[2021-06-27 14:57] navendu-pottekkat opened #477 "Update copyright information in the footer"
**Current State of the Meshery.io site**
The footer of the website says "© 2021 Layer5, Inc." -

![Screenshot_20210627_202333](https://user-images.githubusercontent.com/49474499/123549258-d0490280-d785-11eb-92ce-a2e01d1d4a93.png)

**Desired State of the Meshery.io site**
It should instead say "© 2021 The Meshery Authors"

---
**Contributor Resources**
- See the [Contributing to Meshery.io Website]

[2021-06-28 07:22] navendu-pottekkat commented on #477
Fixed in commit https://github.com/layer5io/meshery.io/commit/a76124cff584d3b1af942a88ba90537b84f052a7

[2021-06-28 07:22] #477 closed

[2021-06-28 14:47] navendu-pottekkat commented on #476
Sure @alphaX86

[2021-06-28 14:56] alphaX86 commented on #476
@navendu-pottekkat quick Q the text "Meshery is a CNCF project" should be the title?

[2021-06-28 14:57] navendu-pottekkat commented on #476
Yes, the subtitle can be black IMO // @leecalcote

[2021-06-28 15:27] leecalcote commented on #476
"Meshery is a Cloud Native Computing Foundation project."

LOGO

"Proudly representing every service mesh."

[2021-06-28 15:28] #460 closed

[2021-06-28 15:40] #476 closed

[2021-06-29 12:58] #421 closed

[2021-06-29 12:58] #429 closed

[2021-07-01 20:16] chinmaym07 opened #482 "Update Missing Links"
**Description**

Due to migration of meshery repo from `layer5io` to `meshery`, some links in meshery.io needs to be updated .

1. Update the `Github` url link in the navbar from `https://github.com/layer5io` to `https://github.com/meshery`

![Screenshot from 2021-07-02 01-32-13](https://user-images.githubusercontent.com/44670961/124183541-ffd57300-dad5-11eb-9bba-c18a90398656.png)

2. Update the l

[2021-07-02 04:57] #470 closed

[2021-07-02 05:02] NikhilSharma03 commented on #482
Can I work on it?

[2021-07-02 05:18] #413 closed

[2021-07-02 05:19] leecalcote commented on #91
Finally: DONE!

[2021-07-02 05:19] #91 closed

[2021-07-02 19:16] singh08prashant commented on #482
Can I take this up?

[2021-07-02 19:18] leecalcote commented on #482
Yes, please, @singh08prashant.

[2021-07-02 22:10] #482 closed

[2021-07-05 15:07] #193 closed

[2021-07-05 18:39] Anita-ihuman opened #489 "Add the service mesh patter logo on the website"
**Current State of the Meshery.io site**
The Service Mesh petter logo is absent from the webpage
![Screenshot 2021-07-05 at 19 34 19](https://user-images.githubusercontent.com/62384659/124508778-6dc8b580-ddc8-11eb-8131-11cbd9ba0446.png)

**Desired State of the Meshery.io site**
Include the Service mesh pattern logo next to the Ohm logo.

---
**Contributor Resources**
- See the [Contributing to Mes

[2021-07-05 21:23] #489 closed

[2021-07-08 22:26] leecalcote opened #491 "Error on load of site"
**Description**
The following error is shown when the homepage is loaded.

**Screenshots**
![56498824-AAD4-4553-846D-97C8C8E7E8AE](https://user-images.githubusercontent.com/7570704/124998097-6ba56780-e011-11eb-99ca-12920daeb9b7.png)

**Enviroment:**
 - Browser: Safari
 - Device:  iPhone

[2021-07-10 10:57] amino19 opened #492 "[UI] Need some modifications"
**Current State of the Meshery.io site**
Modification relates to `mobile view` in general:
1. [x] Needs to add Community Forum point at appropriate section [Community]
2. [ ] Alignment of `Created by LAYER5 and it's open source community` needs to set, i.e, flexible to current state - G
3. [ ] Horizontally footer content must be vertical represent - A
4. [ ] Menu issue - H

**Current State of the

[2021-07-13 04:42] hdck007 opened #495 "Fixing the broken profile Image for "Anand Kumar Singh""
**Description**
The profile image link on the [https://meshery.io/community/](https://meshery.io/community/) and [https://meshery.io/contributors/anand-kumar-singh/](https://meshery.io/contributors/anand-kumar-singh/) is broken.

**Expected Behavior**
The profile image for Anand Kumar Singh on the above-mentioned pages should be visible.

**Screenshots**
![image](https://user-images.githubusercont

[2021-07-13 04:59] leecalcote commented on #495
Thank you, @hdck007

[2021-07-13 05:43] The-Loony-Coder commented on #495
Can I work on this issue?

[2021-07-14 13:38] Anita-ihuman commented on #495
@The-Loony-Coder sure, go ahead.

[2021-07-15 15:17] The-Loony-Coder commented on #495
hey @Anita-ihuman,images off all the members are stored in assets/images/photos except for anand kumar singh.He provided a link which is not working "https://pbs.twimg.com/profile_images/1102512808363679744/Rp8-3wn9_400x400.jpg", so I  guess I want an image of anand kumar to make it work .

[2021-07-15 15:28] Anita-ihuman commented on #495
Hold up a bit, I will send it accross.

[2021-07-22 16:41] The-Loony-Coder commented on #495
hey @hdck007,I think I fixed the issue #495 ,have a look and tell me if anything is missing.sorry for taking this long,didn't have an image of anand-kumar and I was also stuck with other issue

[2021-07-23 19:25] #495 closed

[2021-07-24 00:38] leecalcote opened #500 "[Programs] Change label and icon from CommunityBridge to LFX"
**Current State of the Meshery.io site**
Main page has this section:

<img width="1262" alt="Screen Shot 2021-07-23 at 7 18 46 PM" src="https://user-images.githubusercontent.com/7570704/126852447-511ddd53-829b-4259-b41c-64d1aa09d9b0.png">

**Desired State of the Meshery.io site**
Both the label and icon for the CommunityBridge button should be that of LFX.

[lfx_reverse.svg.zip](https://github.com

[2021-07-24 11:25] AKSHATNEMA commented on #492
Hi, I want to work on this issue. Please assign me this issue.

[2021-07-24 11:27] Harsh-jot commented on #492
Hey, I would like to work on this issue!

[2021-07-24 12:28] Meghana-12 commented on #500
Hi, I'd like to work on this.

[2021-07-24 12:29] sayantan1413 commented on #500
Here you go @Meghana-12 🚀

[2021-07-24 12:49] ghulamyazdani commented on #492
@amino19 I would like to work on this issue!!

[2021-07-24 15:04] warunicorn19 commented on #500
Hey @Meghana-12 sorry for this, but looks like nikhil has solved this issue in a PR he sent a few ours ago. Why don't look for some other issues with the tag https://github.com/meshery/meshery.io/labels/help%20wanted . Apologies for the misunderstanding.

[2021-07-24 19:38] Meghana-12 commented on #500
Should I change "CommunityBridge" to "LFX" ?

[2021-07-24 19:39] Meghana-12 commented on #500
Oh! Sure, no problem!

[2021-07-29 12:10] aman-cpu commented on #500
Hey @leecalcote is this issue is open. If it is open pls assign to me.

[2021-07-29 12:19] warunicorn19 commented on #500
Hey @aman-cpu there's already an existing PR for this, you might want to take a look at other issue which have the `help wanted` label.

[2021-07-30 16:42] samirparhi-dev opened #502 "[Getting started ] rectifying the installation commands for various platform"
**Description**
The Commands for installing meshery to be rectified for various platform. (https://meshery.io/#getting-started)

**Expected Behavior**
- Move "Using Manifests" section from helm to Kubernetes and correct the the helm command  where ever necessary
Correct command is `helm install meshery meshery/meshery --namespace meshery`
- Other platform section should have the command to install

[2021-07-30 16:44] shahkushal38 commented on #502
Hey @samirparhi-dev, I would like to work on this issue.

[2021-07-30 16:45] warunicorn19 commented on #502
Here you go! @shahkushal38

[2021-07-30 18:51] warunicorn19 commented on #491
@leecalcote i don't think this issue persists anymore, i just checked. Is it still happening your device?

[2021-07-30 18:53] leecalcote commented on #491
You’re right. No, it’s not happening any longer. Thank you, sir.

[2021-07-30 18:53] #491 closed

[2021-07-30 20:53] leecalcote opened #503 "[UX] Design new page for Service Mesh Patterns"
**Current State of the Meshery.io site**
Meshery will support a catalog of service mesh patterns.

**Desired State of the Meshery.io site**
A new page is needed to display a collection of patterns. Each patterns will have a name, diagram, unique identifier, description, and link to where it can be located in GitHub. See the main page on meshery.io for an example pattern.

#### Implementation
- Des

[2021-08-02 20:35] afzal442 opened #504 "[features page] Get Started button not linked to specific area of the Meshery docs"
**Description**
The four **“Get Started”** don't point to the specific area of the Meshery docs relevant to that category.
https://meshery.io/features

**Expected Behavior**
It should link to each specific area of docs.

**Enviroment:**
Everything

---

### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.c

[2021-08-03 06:51] amino19 commented on #502
@samirparhi-dev : Couple of points I want to ask here as follows:-
1. I think, we've already "Using Manifests" section in `Kubernetes` commands itself, represents similar as `Helm`  :slightly_smiling_face:

2. Under `Install on Kubernetes using Helm` section, there are 2 commands, I think the first one is incorrect, it must be like:
[code]
Currently it is:

![image](https://user-images.githubuserc

[2021-08-03 09:08] samirparhi-dev commented on #502
@amino19 : Replace the command with this
[code]

[2021-08-03 09:10] samirparhi-dev commented on #502
@amino19 : Just remove the `using Manifest` section under Helm

[2021-08-03 09:18] amino19 commented on #502
@samirparhi-dev : Thanks for clearing this out! :heart:

@shahkushal38 : Hope you got the way now! :eyes:

[2021-08-03 10:10] shahkushal38 commented on #502
Yes will do the said changes

[2021-08-03 17:36] warunicorn19 commented on #504
@afzal442 are you working on this?

[2021-08-03 17:38] warunicorn19 commented on #503
Hey @leecalcote can I try to work on this?

[2021-08-03 18:01] afzal442 commented on #504
Yes @warunicorn19. I will work. Plz assign it to me. thanks

[2021-08-03 19:34] leecalcote commented on #503
Sounds great, @warunicorn19

[2021-08-05 01:21] leecalcote opened #506 "[Newsletter] Low contrast font not legible"
**Description**
See screenshot of https://meshery.io/subscribe page.

**Screenshots**
<img width="1743" alt="Screen Shot 2021-08-04 at 8 20 45 PM" src="https://user-images.githubusercontent.com/7570704/128276322-0b87481c-6c34-4f87-84be-3e1ad6220253.png">

**Enviroment:**
 - Browser: Safari]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scrol

[2021-08-05 04:11] afzal442 commented on #506
/assign

[2021-08-05 04:58] afzal442 commented on #506
@warunicorn19 should I remove the color style?

[2021-08-05 05:02] warunicorn19 commented on #506
@afzal442 If there are no Figma designs, you can try out whatever you like and think would look nice 😅.

[2021-08-06 08:13] warunicorn19 opened #509 "Broken links"
**Description**
There are 3 broken links on meshery.io.
1.MLH broken link on MLH program page + Naveen Jain profile link: https://meshery.io/programs/mlhfellowship/2020

2.Blog category links on blog page

<img width="775" alt="Screenshot 2021-08-06 at 1 36 05 PM" src="https://user-images.githubusercontent.com/53532328/128478872-78b704c6-2ab9-4e5d-bf30-ff78f18bf8c9.png">

3. Meshery link on GSOC P

[2021-08-06 11:57] warunicorn19 commented on #500
@Meghana-12 Sorry for the miscommunication, but this still seems to be an issue, would you like to work on it.?

[2021-08-06 12:35] #506 closed

[2021-08-06 17:46] adithyaakrishna commented on #492
@leecalcote @amino19 Reopening this as the other 3 tasks are pending still

[2021-08-06 18:43] Meghana-12 commented on #500
Yeah sure

[2021-08-06 18:46] warunicorn19 commented on #500
Thanks @Meghana-12

[2021-08-07 00:03] #504 closed

[2021-08-07 00:11] leecalcote commented on #492
Thank you, @adithyaakrishna

[2021-08-07 20:55] amino19 commented on #492
@adithyaakrishna : Do you mind reassign, @ghulamyazdani-bot & @AKSHATNEMA. They're still working at the back-end! :slightly_smiling_face:

[2021-08-08 04:13] #492 closed

[2021-08-09 18:38] Meghana-12 commented on #500
I'm busy with another issue rn. So if anyone else is interested then feel free to assign it to them. Else I'll work on this once I complete that task.

[2021-08-09 18:41] warunicorn19 commented on #500
Okay, @Meghana-12 no problem at all, thanks for letting us know😃.

[2021-08-10 12:08] warunicorn19 commented on #500
Yes sure @aman-cpu you can work on this.😃

[2021-08-10 12:08] aman-cpu commented on #500
Thank you, Sir.

[2021-08-12 17:12] afzal442 opened #515 "Add a `scrolltoUp` button"
**Current State of the Meshery.io site**

Currently, there is no. It's difficult to scroll from bottom to top.

**Desired State of the Meshery.io site**

We can add a smooth `scrolltoUp` button.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contrib

[2021-08-12 17:17] afzal442 opened #516 "[Blog page] Broken links at Categorical tag"
**Description**
A brief description of the issue.
There are no links associated with categorical tags which are broken.

**Expected Behavior**
A brief description of what you expected to happen.
Plz find it here from https://meshery.io/blog/

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Vers

[2021-08-15 20:30] warunicorn19 commented on #516
Hey @afzal442 closing this because there's already an open issue on this

[2021-08-15 20:30] #516 closed

[2021-08-15 20:33] warunicorn19 opened #517 "Copy text gets hidden"
**Description**
In the Getting Started portion of the website, the tooltip for the copy clipboard is getting cut off

**Expected Behavior**
The complete tooltip should be visible.

**Screenshots**

https://user-images.githubusercontent.com/53532328/129491907-3d9fc663-6192-4ba4-ae04-63d37ffe0d6a.mov

**Enviroment:**
 - OS: MacOs
 - Browser:  Chrome, Safari

### Contributor Resources

The meshery.io

[2021-08-19 17:14] ANURAG-PATHAK commented on #517
i would like to work on this issue

[2021-08-19 17:18] warunicorn19 commented on #517
sure @ANURAG-PATHAK !

[2021-08-19 17:20] ANURAG-PATHAK commented on #517
WOULD YOU LIKE TO SUGGEST ME SOMETHING ANY HINTS OR ANYTHING AS THIS IS MY FIRST CONTRIBUTION SO I AM LITTLE NERVOUS

[2021-08-19 17:22] warunicorn19 commented on #517
😂 i would suggest you to calm down and take your time with it, no pressure.
Also, i think it has something to do with the `z-index` so you might want to look into that.

[2021-08-19 17:24] warunicorn19 commented on #517
Also, go through this https://github.com/meshery/meshery.io/blob/master/README.md#contributing to get your environment setup

[2021-08-19 17:40] ANURAG-PATHAK commented on #517
OKAY THANK YOU SO MUCH

[2021-08-19 17:41] ANURAG-PATHAK commented on #517
OKAY ☺️

[2021-08-19 21:30] leecalcote opened #518 "[Mailing Lists] Add the rest of the mailing lists to /subscribe page"
**Current State of the Meshery.io site**
https://meshery.io/subscribe is missing entries for all the project mailing lists.

**Desired State of the Meshery.io site**
Have all lists available on /subscribe:

- | Meshery Developers | dev-group@meshery.io |
- | Meshery Users | user-group@meshery.io |
- | Meshery Maintainers | maintainers@meshery.io |
- | Meshery Security and Vulnerability Reports | m

[2021-08-19 22:04] Zain-Muiz commented on #518
Hey @leecalcote , Can I Take this ?

[2021-08-19 22:06] sayantan1413 commented on #518
Sure @Zain-Muiz go ahead.

[2021-08-20 04:06] ANURAG-PATHAK commented on #517
hey man I am not able to change the default ruby on my M1 mac
I installed ruby using rbenv
`rbenv install 3.0.2`
then I set it to global using
`rbenv global 3.0.2`
when I type `rbenv global ` it is returning `3.0.2` but when I am typing `ruby -v` it is giving me the default version of ruby
`ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.arm64e-darwin20]` can you please help me

[2021-08-20 04:52] warunicorn19 commented on #517
Oh yes, ruby on M1 is really a hassle, `RUBY_CFLAGS="-w" rbenv install X.X.X` (X.X.X being the version you require), for meshery.io you'll require 2.7.0, after this use rbenv to set it to global. Please drop in more doubts in the slack channel, if you have any.

[2021-08-20 05:03] ANURAG-PATHAK commented on #517
okay

[2021-08-20 15:09] ANURAG-PATHAK commented on #500
hey @leecalcote I was working on this issue just wanted a confirmation
is it  the desired change and if you want me to change something else please let me know I will do the same
<img width="1288" alt="Screenshot 2021-08-20 at 8 36 30 PM" src="https://user-images.githubusercontent.com/81188792/130254116-0a5cc9d2-c326-4a98-806f-8a2aa003d1e2.png">

if you could provide me with a better icon or a lar

[2021-08-20 15:13] warunicorn19 commented on #500
@ANURAG-PATHAK remove the community bridge all together and make that solely LFX, and you could just add some css properties to make it bigger and better

[2021-08-20 15:14] ANURAG-PATHAK commented on #500
okay

[2021-08-20 15:18] ANURAG-PATHAK commented on #500
<img width="1288" alt="Screenshot 2021-08-20 at 8 46 55 PM" src="https://user-images.githubusercontent.com/81188792/130255265-21ff277a-6232-40d6-9950-44f550ed784c.png">

 @warunicorn19
 is it the desired change

[2021-08-20 17:29] warunicorn19 commented on #500
no like it'll be just LFX that's it.

[2021-08-20 18:34] ANURAG-PATHAK commented on #500
<img width="1288" alt="Screenshot 2021-08-20 at 11 59 06 PM" src="https://user-images.githubusercontent.com/81188792/130278036-5b9a3943-8f71-4d59-8b0e-8da42e71d955.png">

<img width="1288" alt="Screenshot 2021-08-20 at 11 59 49 PM" src="https://user-images.githubusercontent.com/81188792/130278079-18c8a0a9-dd9e-4e6d-9c09-aad8d071c0bd.png">

                   which one is the preferred one top one

[2021-08-20 18:36] warunicorn19 commented on #500
@leecalcote ^^^^

[2021-08-20 18:37] leecalcote commented on #500
Looking good so far, @ANURAG-PATHAK. +1 to the bottom, but with the blue X made white. This can be done by editing the original SVG or by applying a CSS filter.

[2021-08-20 18:38] ANURAG-PATHAK commented on #500
okay

[2021-08-20 18:45] ANURAG-PATHAK commented on #500
<img width="1288" alt="Screenshot 2021-08-21 at 12 14 52 AM" src="https://user-images.githubusercontent.com/81188792/130279595-8c7ca773-3a49-4f87-b8a6-c1ee560bea93.png">

is this one okay or should i change some thing else

[2021-08-20 18:53] leecalcote commented on #500
@ANURAG-PATHAK I would've thought that we would just use a white version of the logo, since it has the name in the logo already, but there's a certain quality afforded to the buttons as a set when they are consistent in their presentation of logo+text. This looks good to me. ✔️

[2021-08-20 18:56] ANURAG-PATHAK commented on #500
should I make a PR with this one as final?
@leecalcote

[2021-08-20 22:19] ANURAG-PATHAK commented on #500
issue fixed in the commit `c06ce3ba37655ca57a37b36a03069465b06679c5` in PR #520

[2021-08-21 08:25] Meghana-12 opened #521 "[UI] Add dropdown arrows in docs Sidebar Menu"
**Description**
I think it'd be better to add dropdown arrows for Sidebar in https://docs.meshery.io/ too, like the one discussed for [ this issue](https://github.com/meshery/meshery/issues/3940). It's not clear which Menu items have submenus and which ones do not. So, an arrow like the one below would make it clear.
![Screenshot 2021-08-20 at 3 27 22 PM](https://user-images.githubusercontent.com/

[2021-08-21 08:36] sayantan1413 commented on #521
Hey @Meghana-12 for the docs issue can you open this issue in the Meshery repository beacuse this repository is for the meshery.io page.

[2021-08-21 08:41] #521 closed

[2021-08-21 14:09] Zain-Muiz opened #522 "[ Fix Syntax ] : 3 files in .gitignore not being ignored"
**Description**
Following files mentioned in the .gitignore are not being ignored due to a missing '/' before file name.
 - CNAME
 - robots.txt
 - Gemfile.lock

**Expected Behavior**
The mentioned files are expected to be ignored during commits and pushes.

[2021-08-24 09:23] harsh9711 commented on #515
hi i m interested in your issue

[2021-08-24 09:24] harsh9711 commented on #515
WOULD YOU LIKE TO SUGGEST ME SOMETHING ANY HINTS OR ANYTHING AS THIS IS MY FIRST CONTRIBUTION

[2021-08-24 10:57] warunicorn19 commented on #515
Hey @harsh9711 , for meshery.io we use a jekyll framework, maybe you'd like to go through the [documentation](https://jekyllrb.com/) first. Also, please consider using something like
<img width="110" alt="Screenshot 2021-08-24 at 4 22 51 PM" src="https://user-images.githubusercontent.com/53532328/130604716-0a70ec0c-1946-4c64-9718-046bb104585a.png">
as the scroll to up icon. And if you could please

[2021-08-24 17:16] leecalcote opened #524 "[Site] Callout to Discussion Forum"
**Current State of the Meshery.io site**
meshery.io is missing prominent links to the service mesh discussion forum.

**Desired State of the Meshery.io site**
Akin to the recent callout to the service mesh discussion forum provided on layer5.io/blog, add one or more calls to action on meshery.io

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is fo

[2021-08-24 21:26] leecalcote commented on #518
Hi @Zain-Muiz, how are we doing here?

[2021-08-25 01:01] Zain-Muiz commented on #518
Hey @leecalcote , We are ready here ! Having a small issue with my forked repo. Will need to re-fork. As soon as https://github.com/meshery/meshery.io/pull/523 gets merged, will have PR up for this issue as well !

[2021-08-25 08:49] harsh9711 commented on #515
ok
please tell about color scheme

[2021-08-25 10:06] warunicorn19 commented on #515
https://layer5.io/company/brand

[2021-08-25 13:23] leecalcote commented on #518
@Zain-Muiz good deal. I wasn't sure that you were working through this or not. We need mailing lists published on smp-spec.io, meshery.io and getnighthawk.dev. In trying to get this behind us, I put in a few changes last night and just pushed before seeing your note. Will you review the main page and the mailing lists page to see if we need anything further here or if we can close this issue?

It

[2021-08-25 13:24] #522 closed

[2021-08-25 15:19] Zain-Muiz commented on #518
@leecalcote As of now the meshery.io web has links to 2 of its mailing lists [Users and Dev], If that suffices I think this issue can be closed. But we have 3 more mailing lists that is to be a part as well. [ Maintainers, Community and Security Reports ].

[2021-08-25 15:24] Zain-Muiz commented on #518
If we need all the mailing lists on this site, I can update the 3 which aren't available as of now with the present design [ The one you pushed yesterday ] , or have a PR with All 5 in, with the design I had previously coded and you can review and make a decision. @leecalcote .

[2021-08-25 15:31] Zain-Muiz commented on #518
Also the smp-spec.io has a PR open for the Mailing list. Here : https://github.com/service-mesh-performance/service-mesh-performance/pull/216 .

2/3 mailers [Developers and Users] are already a part of getnighthawk web, if you want, I can add a PR adding the Maintainers Mailing list as well @leecalcote .

[2021-08-26 09:45] Aman-Codes opened #526 "[UI] Make Layer5 logo in line with text"
**Description**
In the line `Created by Layer5 and its open-source community.`
There is a need to provide a -4.5px margin to the Layer5 image.
Currently:
![image](https://user-images.githubusercontent.com/54680709/130940053-aac9123f-cd3a-4bbb-b1f4-7fc8f68f5746.png)

**Expected Behavior**
Layer5 logo to be in line with text
![image](https://user-images.githubusercontent.com/54680709/130940104-8da49

[2021-08-26 09:54] Aman-Codes opened #527 "[Enhancement] Improve Accessibility"
**Description**
Need to fix the below accessibility issues in the meshery.io website
- Insufficient contrast ratio affecting text readability
- Non-consecutive heading level tag
- Missing labels in the Meshery Community Newsletter form
- Improve screen reader experience

**Expected Behavior**
No accessibility issues and good screen reader experience

**Screenshots**

Accessibility report of mesher

[2021-08-26 09:58] Aman-Codes opened #528 "[Security] Add missing security headers"
**Description**
The current meshery website has a D grade in the security report. We need to add some missing security headers.
Reference Links:
- https://securityheaders.com/?q=https%3A%2F%2Fmeshery.io%2F&followRedirects=on
- https://observatory.mozilla.org/analyze/meshery.io

**Expected Behavior**
A grade in above security report

**Screenshots**
![image](https://user-images.githubusercontent.co

[2021-08-26 10:10] Aman-Codes opened #529 "[Performance] Improve website performance"
**Description**
The current website homepage is getting too long which is impacting its performance.
Possible fixes:
- Remove all instances of unnecessary commented out code in production
![image](https://user-images.githubusercontent.com/54680709/130943791-106bcad8-56bc-44fe-a387-43a3c3d98ecf.png)
- Too many images and gifs are increasing the load time. we could use lazy loading for images. Refer

[2021-08-26 10:23] Aman-Codes opened #530 "[UI] Issues on disabling JavaScript"
**Description**
When we [disable JavaScript](https://developer.chrome.com/docs/devtools/javascript/disable/) the following issues appear:
- Improper CSS of buttons
![image](https://user-images.githubusercontent.com/54680709/130946149-db71d549-34f2-40f1-a268-818d87fd71d1.png)
- Unreadable navbar text
![image](https://user-images.githubusercontent.com/54680709/130946204-6ca1cc07-5367-4576-9735-86fb3

[2021-08-26 10:29] Aman-Codes opened #531 "[UI] Custom 404 error page"
**Description**
Currently, the below page appears on error 404 (page not found)
![image](https://user-images.githubusercontent.com/54680709/130947050-f19df141-5f0b-4410-9341-bb0f6ca47d06.png)
The above page should contain a message that the page could not be found.

**Expected Behavior**
A custom 404 error page similar to layer5
![image](https://user-images.githubusercontent.com/54680709/130947387

[2021-08-26 10:41] Aman-Codes opened #532 "[Enhacement] Improve UX"
**Description**
- Display information in a card to effectively utilize space. Also, reference links could be replaced with a button with a hover effect.
![image](https://user-images.githubusercontent.com/54680709/130948193-57ce9bb7-c34b-4886-a268-4f78f3541135.png)
- In the used by section, display the company's logo on a marquee (logos moving from left to right)

---
**Additional Context**
**Note*

[2021-08-28 09:21] AnshumanDhiman commented on #532
can I work on this @warunicorn19

[2021-08-28 09:30] AnshumanDhiman commented on #530
can I work on this @warunicorn19 @leecalcote

[2021-08-28 09:31] warunicorn19 commented on #532
Go for it!

[2021-08-30 12:12] #526 closed

[2021-08-30 12:28] #531 closed

[2021-08-30 20:27] warunicorn19 commented on #530
Sorry 😅, missed the comment.

[2021-08-30 21:37] leecalcote commented on #530
Thanks for filing this @AnshumanDhiman

[2021-08-30 21:39] leecalcote commented on #502
@shahkushal38 we're having users reporting issues with these installation commands. We'll need to get this issue knocked out pronto.

[2021-08-30 21:47] leecalcote commented on #502
Oh, I see now. The helm chart instructions under the Helm section are old, using:

[code]

[2021-08-30 23:07] leecalcote commented on #530
Is this a concern? Do we expect to have visitors with Javascript disabled? Are these target Meshery users?

[2021-08-30 23:09] leecalcote commented on #529
Thanks for calling these out, @Aman-Codes 👍

Specifying height and width attributes of images has the adverse affect of them not being responsive. Their responsiveness will need too accounted for as well.

[2021-08-30 23:10] leecalcote commented on #528
Good call out, @Aman-Codes 👍

[2021-08-30 23:10] leecalcote commented on #527
@Aman-Codes, I'd love to see issues like this opened on github.com/layer5io/layer5 (for layer5.io).

[2021-08-31 08:23] AnshumanDhiman commented on #530
I don't think that website visitors have their JavaScript disabled. But let's go for the safe side if any one by chance have their JavaScript disabled the website will automatically throw a small message at the top to enable the JavaScript for viewing full features of the website.

[2021-08-31 18:37] #502 closed

[2021-08-31 19:03] #524 closed

[2021-08-31 19:07] #532 closed

[2021-09-01 17:03] leecalcote opened #542 "Add NGINX Service Mesh results to the SMI Conformance Dashboard"
**Current State of the Meshery.io site**
https://meshery.io/smi is missing an entry for NGINX Service Mesh.

**Desired State of the Meshery.io site**
Make the same results that are available here - https://layer5.io/service-mesh-landscape#smi, available on meshery.io, too.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master`

[2021-09-01 17:22] afzal442 commented on #542
Can I take up this?

[2021-09-02 08:50] AnshumanDhiman commented on #515
can I work on this issue @warunicorn19 @afzal442

[2021-09-02 08:54] warunicorn19 commented on #515
@AnshumanDhiman if you could please confirm with @harsh9711 if he's still working on this. If he isn't then the issue is yours.😃

[2021-09-02 08:58] afzal442 commented on #515
Thanks, @AnshumanDhiman for your interest. I echo Aditya.

Even this is a kind of priority. 😃 let's see.

[2021-09-02 09:15] AnshumanDhiman commented on #515
@harsh9711 are you still working on this ??

[2021-09-03 15:54] warunicorn19 commented on #503
Hey @debo19, before you start working on this, I actually have some of it ready, I'll make a PR (draft) tomorrow, and then maybe you could work on that branch?

[2021-09-03 15:59] AnshumanDhiman commented on #530
@warunicorn19 @leecalcote can you help in reviewing this one

[2021-09-03 16:14] debo19 commented on #503
@warunicorn19 alright we can do that 🙌

[2021-09-08 06:06] afzal442 commented on #515
since no updates here, we are assuming @harsh9711 is not working on here.

Giving it to @AnshumanDhiman! let us know if you need help further.

// @warunicorn19

[2021-09-08 07:43] warunicorn19 commented on #515
Sounds good!😃

[2021-09-08 14:57] AnshumanDhiman commented on #515
Thanks @afzal442 @warunicorn19

[2021-09-08 18:45] Blakelist7 commented on #529
@Aman-Codes if no one is working on this issue, can I give it a shot?

[2021-09-08 18:45] warunicorn19 commented on #529
Sure @Blakelist7

[2021-09-08 19:37] leecalcote opened #548 "Add CNCF Webinar video and link to slides"
**Desired State of the Meshery.io site**
video: https://www.youtube.com/watch?v=mU8qHUGYsk8
slides: https://docs.google.com/presentation/d/1YxeERLarsh60ItrgT29KzlNQEjkRnw5WDnnwy2uUe1Y/edit?usp=sharing

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [C

[2021-09-08 19:41] leecalcote opened #549 "Add link to CNCF Meshery Community"
**Desired State of the Meshery.io site**
Find a good spot on the site to add a link to this community - https://community.cncf.io/meshery-community/

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contributing to Meshery.io Website](https://github.co

[2021-09-09 13:24] Blakelist7 commented on #529
Okay, so I was reading through the [Performance](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fmeshery.io%2F) and saw that one of the [ways](https://web.dev/serve-responsive-images/) listed under "Properly size pictures" was to reduce the size of images ([imagemagic](https://web.dev/serve-responsive-images/#imagemagick)).
What are your thoughts on this?

[2021-09-09 19:23] #518 closed

[2021-09-09 19:37] Zain-Muiz commented on #549
'Communities' Menu Item In the Navbar Could be a potential place ?

[2021-09-10 07:06] AnshumanDhiman commented on #549
can I work on this @leecalcote

[2021-09-10 07:06] AnshumanDhiman commented on #548
can I work on this @leecalcote

[2021-09-10 07:06] warunicorn19 commented on #549
sure @AnshumanDhiman.

[2021-09-10 07:07] leecalcote commented on #548
That would be great.

[2021-09-10 14:40] AnshumanDhiman opened #551 "Button in a Button"
**Description**
The "Become an Adopter" button is looking very weird (a button in a button)

**Expected Behavior**
The button should look normal

**Screenshots**
![1](https://user-images.githubusercontent.com/67755381/132871530-bcaaedf6-eaeb-4c79-a9bf-69f238c27444.jpg)
![2](https://user-images.githubusercontent.com/67755381/132871338-bb27e0f3-f89f-4961-8db7-5ba193a731ff.jpg)

**Enviroment:**
 - OS

[2021-09-10 14:47] leecalcote commented on #551
@AnshumanDhiman good call out. Let's work through design in the Meshery Figma file, so that we are sure to consider the site holistically. Let's get a sitemap going in that Figma file.

[2021-09-10 14:49] warunicorn19 commented on #551
@AnshumanDhiman will you be working on this?

[2021-09-10 15:46] AnshumanDhiman commented on #551
Yes @warunicorn19 let me take it.

[2021-09-10 15:47] warunicorn19 commented on #551
Great!

[2021-09-12 12:50] #551 closed

[2021-09-14 04:53] error9098x commented on #548
Is this task done yet ?

[2021-09-14 06:17] leecalcote opened #556 "Add service mesh discussion community forum to menu"
**Current State of the Meshery.io site**
Menu is missing a link to the service mesh discussion community forum

<img width="283" alt="Screen Shot 2021-09-14 at 1 15 07 AM" src="https://user-images.githubusercontent.com/7570704/133204977-2e35bbe4-8744-48e1-9d77-ae022ce9993d.png">

**Desired State of the Meshery.io site**
"Discuss" with an external link icon pointing to https://discuss.layer5.io

--

[2021-09-14 13:52] AnshumanDhiman commented on #556
On it @leecalcote boss😃

[2021-09-14 14:23] AnshumanDhiman commented on #548
I am working on it @error9098x

[2021-09-14 14:24] AnshumanDhiman commented on #548
@leecalcote can you help me in finding a place where to place this, like should I create a particular section for this or like add this in the normal form

[2021-09-15 08:39] warunicorn19 commented on #548
🤔🤔hmmm, @leecalcote the home page for meshery.io is already too long, which is affecting the performance of the website, should we create another section for videos and slides?

[2021-09-15 13:18] #542 closed

[2021-09-17 12:03] amino19 opened #558 "[CI] add label commenter workflow"
**Description:**

This repository should have the label commenter workflow.
It would run whenever an issue/pr is labelled with one of the targeted labels and comment down any relevant information.

**Contributor Reference:**

The workflow would use: https://github.com/peaceiris/actions-label-commenter

A sample workflow is defined in: https://github.com/meshery/meshery/blob/master/.github/workflow

[2021-09-20 18:04] Zain-Muiz opened #559 "Post the CNCF Webinar on Meshery"
**Desired State of the Meshery.io site**
Find a good spot on[ the site](https://meshery.io/) to post this webinar - https://www.youtube.com/watch?v=mU8qHUGYsk8

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contributing to Meshery.io Website](https:

[2021-09-20 18:07] Zain-Muiz commented on #559
@leecalcote , For beginners to have clarity, Do we want to embed this video on our site or just have the link pointing to the resource on YouTube ?

[2021-09-21 17:52] abhishek818 commented on #515
Hello @warunicorn19 @afzal442, can i take up this issue?

[2021-09-21 17:54] warunicorn19 commented on #515
@AnshumanDhiman i think you have more issues assigned to yourself and considering you also have college, lets have @abhishek818 tackle this, sound good @AnshumanDhiman ?

[2021-09-21 18:01] AnshumanDhiman commented on #515
Well I was facing the issue of having working on different branches at the same time that's why I am waiting on one PR to merge or review then work😅.
I was having 1 pr for this can I push actually it was pushing to another issue so I deleted and waiting for other PR to merge to I can work on this

[2021-09-21 18:51] AnshumanDhiman commented on #515
https://user-images.githubusercontent.com/67755381/134229970-38ec85e1-d609-4648-928d-33b1bb2b3812.mp4

@warunicorn19 have a look at this. It is in another branch I am not pushing at the same time as it will push it into my recent issue and one thing more can't find any icon to put in the button like fontawesome icon or anything

[2021-09-21 18:54] warunicorn19 commented on #515
Aah, okay I understand, we could wait for those PRs to merge, while you're at it could you use this chevron.

[2021-09-21 18:54] warunicorn19 commented on #515
With our color scheme.

[2021-09-21 19:48] #556 closed

[2021-09-21 19:50] #529 closed

[2021-09-21 19:59] warunicorn19 commented on #549
Closing this one for now.

[2021-09-22 06:39] chetak123 commented on #558
Can I please take this issue ?

[2021-09-22 06:48] warunicorn19 commented on #558
Sure @chetak123.

[2021-09-22 09:27] Blakelist7 commented on #529
@leecalcote I believe we could reopen this discussion because there are still certain things that have not been implemented. : )

[2021-09-22 19:45] leecalcote commented on #548
@warunicorn19, yes, please. FYI - https://github.com/meshery/meshery.io/issues/193

[2021-09-23 06:27] monalisha31 commented on #528
Can i work on this issue?

[2021-09-23 07:32] warunicorn19 commented on #528
Sure @monalisha31.

[2021-09-23 15:28] #559 closed

[2021-09-23 18:56] AnshumanDhiman opened #562 "Button in a Button Again"
**Description**
I think someone has edited the div of the button or the button and the classes applied to different pages are facing this button in a button issue.

**Expected Behavior**
Currently only this page buttons needs to be updated asap.

**Screenshots**
![1](https://user-images.githubusercontent.com/67755381/134567127-abdca3c0-03e5-44e7-aa08-f490bf6295ef.jpg)
![2](https://user-images.gith

[2021-09-23 19:32] AndrewArnita commented on #562
Hello, please can I take care of this issue?

[2021-09-23 20:01] leecalcote commented on #562
Thank you, @AndrewArnita. Yes, please take it away. 👍

[2021-09-24 08:30] AndrewArnita commented on #562
This issue has been fixed!

[2021-09-24 12:11] #562 closed

[2021-09-26 05:13] #517 closed

[2021-09-26 23:08] #500 closed

[2021-09-28 20:54] yahyakhn commented on #509
Is this issue still open?

[2021-09-28 20:55] warunicorn19 commented on #509
Yup

[2021-09-28 20:58] warunicorn19 commented on #509
@yahyakhn would you like to try your hand at this?

[2021-09-29 09:52] yahyakhn commented on #509
@warunicorn19 yeah sure.

[2021-09-29 17:38] leecalcote opened #567 "Mailing Lists: Vulnerability Reports"
**Current State of the Meshery.io site**
ON the mailing list page, https://meshery.io/subscribe, the vulnerability list has a subscribe button.

<img width="594" alt="Screen Shot 2021-09-29 at 12 34 38 PM" src="https://user-images.githubusercontent.com/7570704/135320399-19e821df-12a4-4c0a-96d9-88a2a0d9ed72.png">

**Desired State of the Meshery.io site**
the vulnerability mailer is not to be subscr

[2021-09-29 17:45] leecalcote opened #569 "[CI] Upgrade Slack notifier to use Environment Files"
**Description**
The slack notifier [workflow fails](https://github.com/meshery/meshery.io/runs/3728731236?check_suite_focus=true) with the output shown in the screenshot.

**Expected Behavior**
Refactor to use recommended [environment files](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/)

**Screenshots**
<img width="962" alt="Screen Shot 2021-09

[2021-09-30 04:37] toth2000 opened #570 "Meshery logo appears cutoff on social hyperlinks"
**Description**
When we post something on social mentioning the `mehery.io` website links, the meshery logo appears to be zoomed in on the link preview.

**Expected Behavior**
The complete logo should appear.

**Screenshots**
![image](https://user-images.githubusercontent.com/65480420/135387419-78f638e3-2bb7-477a-83c8-8073481357dc.png)

---
**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2021-09-30 04:37] toth2000 commented on #570
I am working on it.

[2021-09-30 06:02] AnshumanDhiman opened #571 "Slack icon color"
**Description**
The slack icon appears to be merging with the footer color. It looks a bit odd hovering to the slack icon.

**Expected Behavior**
Can we like change the color of the slack icon to just slightly light.

**Screenshots**
![img](https://user-images.githubusercontent.com/67755381/135396146-bc3a91fd-6460-4fbf-bbad-3f8fef8730e8.PNG)

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g.

[2021-09-30 13:15] leecalcote commented on #570
Thank you, @toth2000. Please verify with this tool as well - https://www.linkedin.com/post-inspector/

[2021-09-30 15:37] toth2000 commented on #570
Okay, Lee.

[2021-09-30 17:55] AnshumanDhiman opened #573 "Meshery Blog sub-tags"
**Description**
Currently the meshery blog website have heading and some sub-tags. But when use clicks to the tag such as (smi-conformance, specification, multimesh) it redirects to a page where it says page doesn't exist.

**Expected Behavior**
For the time being if the data is not available for the subtags anchor links should be disabled.

**Screenshots**
![Screenshot (53)](https://user-images.g

[2021-09-30 17:55] AnshumanDhiman commented on #573
Can I work on this @warunicorn19 @vinayaksh42 @leecalcote

[2021-09-30 17:57] warunicorn19 commented on #573
@AnshumanDhiman there's already an open issue on this #509

[2021-09-30 17:58] warunicorn19 commented on #573
You could probably help the contributor in fixing this, you could take a look at his open PR

[2021-09-30 18:00] AnshumanDhiman commented on #573
sorry I didn't noticed I'll just close this issue😅😅

[2021-09-30 18:01] warunicorn19 commented on #573
No problem 😄

[2021-09-30 18:01] #573 closed

[2021-09-30 20:13] iamsdas commented on #569
I'd like to take up this issue

[2021-10-01 15:14] amino19 commented on #569
@iamsdas: Sure, deffo! :+1:

[2021-10-02 15:00] dhruv0000 opened #576 "Results from different versions of SMI test is not Visible"
**Description**

Issue 1 (High Priority):
The table in https://meshery.io/service-mesh-interface gets data from https://meshery.layer5.io/smi/results/public which has results for multiple versions for same mesh. We should ideally be able to see results of older version by clicking on them.

Issue 2 (Mid Priority):
The user should also have ability to navigate between diff test versions for future