[2021-10-02 15:04] Sandesh1013 commented on #576
Can I have a go on this?

[2021-10-02 15:30] warunicorn19 commented on #576
@dhruv0000 so we basically want all the data to be present in the table, like for all versions?

[2021-10-02 18:17] leecalcote commented on #576
@dhruv0000 will you confirm that all test results are accompanied by an SMI version number?

[2021-10-02 18:21] dhruv0000 commented on #576
For future versions. Currently we only have test results for `v0.6.0`

[2021-10-02 18:28] dhruv0000 commented on #576
The overall SMI version is included in the specific version detail of each spec.

Ideally, we should also show the SMI version along with mesh_name and mesh_version ..., but not sure if it's worth the pain to update the protobufs and rerun all the tests for a new structure, right now tbh.

[2021-10-03 08:18] #571 closed

[2021-10-03 08:22] AnshumanDhiman opened #577 "Image supporting text mis-aligned"
**Description**
The SMP087: Circuit breaker pattern text in the Service Mesh Patterns is aligned to left.

**Expected Behavior**
I think it will give a better view at the center of the below the image and try to make it a just a little bit of bold.

**Screenshots**
![image_2021-10-03_134954](https://user-images.githubusercontent.com/67755381/135745762-8d59cce8-771f-475b-87cc-4f42319ed668.png)

**E

[2021-10-03 09:16] yahyakhn commented on #577
Can i work on this issue?

[2021-10-03 09:18] AnshumanDhiman commented on #577
go for it @yahyakhn

[2021-10-04 02:08] contracamilo commented on #527
@Aman-Codes  if you want I cant work on this issue.  :)

[2021-10-04 19:22] #569 closed

[2021-10-05 04:28] alphaX86 opened #580 "[Site] Add a separate platform for installing Meshery on Docker"
**Current State of the Meshery.io site**

In the website, (https://meshery.io/#getting-started)  separate platforms are enlisted to install Meshery. Generally, for installing Meshery on Docker, bash script would suffice, but due to evolving changes, a separate section for Docker platform is needed...

![image](https://user-images.githubusercontent.com/59508546/135959897-341c5983-b78f-4ff6-9205-d49

[2021-10-06 09:16] yahyakhn commented on #580
Hey can i work on this?

[2021-10-06 10:05] alphaX86 commented on #580
Sure @yahyakhn

[2021-10-06 22:56] Panquesito7 opened #581 "[FEATURE] Add dark mode to the website"
**Current State of the Meshery.io site**

Currently, there is no dark mode for the website. It would look cool if we could add a dark mode.

**Desired State of the Meshery.io site**

It would be cool if a dark mode for the website be added.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshe

[2021-10-07 10:49] iambami opened #582 "[Docs] Replace image in README file"
**Current  #State:**
See the white background between the man and woman in the image below that needs to be updated to a better version in the README file.

![meshery image issue](https://user-images.githubusercontent.com/64528871/135849111-baf2b2c0-abfa-42f7-8600-e794d23649d2.PNG)

**Desired State:**
This is the desired image.
![meshery image](https://user-images.githubusercontent.com/64528871/13

[2021-10-07 12:04] #509 closed

[2021-10-07 12:09] leecalcote commented on #581
This would be excellent. There's design that needs done (see the linked Figma project).

Also, @NikhilSharma03 has put some effort toward this. See is open PR. What do you think, @Panquesito7?

[2021-10-07 12:14] #558 closed

[2021-10-10 16:28] #530 closed

[2021-10-10 16:49] #515 closed, assigned to AnshumanDhiman

[2021-10-10 16:50] #567 closed

[2021-10-14 09:12] ghulamyazdani opened #585 "[UI] Remove useless gap between "Overview" and "Getting Started" section"
**Description**
There is a useless gap between "Overview" and "Getting Started" section
![mesherypng](https://user-images.githubusercontent.com/55938346/137286367-d000809b-bee9-4c4c-a25a-5f3205c5d462.png)

**Expected Behavior**
The gap between "Overview" and "Getting Started"   should be removed.
![image](https://user-images.githubusercontent.com/55938346/137287188-4e963ee2-36f5-4784-8be1-63a504f9

[2021-10-14 17:18] iambami commented on #585
Sure @ghulamyazdani you can

[2021-10-17 17:43] yahyakhn commented on #527
Is this issue available? i can work on it.

[2021-10-20 19:41] leecalcote opened #587 "Move Meshery Adapter for App Mesh to beta status"
#### Current State
On https://meshery.io's main page, the Meshery Adapter for AWS App Mesh is listed under Alpha status.

#### Desired State
This adapter is ready for Beta and its entry should bumped up.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the

[2021-10-21 03:04] #585 closed, assigned to ghulamyazdani

[2021-10-21 03:06] leecalcote commented on #576
@Sandesh1013 please do progress with a selector to allow the user to choose which version of SMI they want to review compatibility of.

[2021-10-21 12:23] leecalcote commented on #587
That would be great, @yahyakhn

[2021-10-23 14:49] vedant-kakde opened #589 "Add a back to the top button on Landing Page [Desktop Mode]"
**Current State of the Meshery.io site**

Back to the top button is not visible on existing Landing Page in Desktop Mode.

**Desired State of the Meshery.io site**

Add a back to the top button on the handbook to help users scroll through the page.
A typical example can be found on [this site](https://smp-spec.io/).

![image](https://user-images.githubusercontent.com/69970950/138561037-278b7268-c6

[2021-10-24 15:01] #587 closed, assigned to yahyakhn

[2021-10-25 17:52] AnshumanDhiman opened #590 "Blending Navbar dropdown hover color"
**Description**
The current dropdown navbar option hover color in the meshery.io website is blending with the background of background color making it a little bit of harder to read.

**Expected Behavior**
Boldness should be added or the color should be made a bit darker.

**Screenshots**
![image_2021-10-25_232159](https://user-images.githubusercontent.com/67755381/138745312-c19a5e06-3c46-4a1c-925

[2021-10-25 18:01] AnshumanDhiman opened #591 "Github and Slack Icon color"
**Description**
The current colors of the slack icon and github icon in the meshery.io are mixing with the footer which is not looking good.
![3](https://user-images.githubusercontent.com/67755381/138746610-8c0a0f84-5e0a-4eb2-aba6-5e5da790b39c.jpg)
![4](https://user-images.githubusercontent.com/67755381/138746616-1e997022-6857-4c6b-a0bc-75ddd1cc3ad5.jpg)

**Expected Behavior**
In the layer5 websit

[2021-10-26 13:02] yahyakhn opened #592 "Aspect ratio of docker icon"
**Description**
The aspect ratio of Docker icon seems a little off

**Expected Behavior**
The asapect ratio should be fixed .

**Screenshots**

<img width="378" alt="docker ss" src="https://user-images.githubusercontent.com/90936613/138883888-2eef0e0f-f500-465c-a827-be9aae3bfd21.png">
**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. lapt

[2021-10-27 15:37] #590 closed, assigned to vedant-kakde

[2021-10-27 16:16] #592 closed, assigned to yahyakhn

[2021-10-28 05:29] pottekkat opened #596 "Add schema to the website for better SEO"
**Desired State of the Meshery.io site**

Add schema to the website for better SEO.

Refer: https://schema.org/docs/schemas.html
Implementation in Layer5's website: https://github.com/layer5io/layer5/blob/master/src/pages/index.js#L26

Schema validator: https://validator.schema.org/

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the

[2021-10-28 05:34] #596 closed, assigned to nobody

[2021-10-31 16:42] leecalcote opened #598 "Getting Started section images skewed."
**Description**
Getting Started section images skewed.

**Enviroment:**
 - OS: Mac
 - Browser: Safari
 - Version: 15.0

**Screenshots**
<img width="1204" alt="Screen Shot 2021-10-31 at 11 39 16 AM" src="https://user-images.githubusercontent.com/7570704/139593654-90931b93-77c7-4300-a5bc-c9a37366e648.png">

### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content

[2021-10-31 16:58] leecalcote commented on #598
Thank you for taking this, @warunicorn19

[2021-10-31 18:01] vedant-kakde commented on #598
This issue can be closed as @warunicorn19  's PR #600  has been merged for fixing this issue.

[2021-10-31 18:02] #598 closed

[2021-10-31 18:03] warunicorn19 commented on #598
Sorry my bad, I forgot to link.

[2021-10-31 18:08] vedant-kakde commented on #598
No worries. It was urgent fix I can understand 😄

[2021-10-31 20:42] warunicorn19 commented on #576
@Sandesh1013 do we have any updates on this?

[2021-10-31 20:46] Sandesh1013 commented on #576
Was facing some issues setting it up, I'll try to have a final go at it

[2021-10-31 20:46] warunicorn19 commented on #576
Okay sounds good.

[2021-11-01 05:30] vedant-kakde opened #603 "[Site] Logos on Program page are not completely visible"
**Description**
LFX and MLH logos are not visible properly.

![image](https://user-images.githubusercontent.com/69970950/139625556-0120218b-0134-445e-a322-111d1671055e.png)

**Expected Behavior**
![image](https://user-images.githubusercontent.com/69970950/139625700-8f55d136-1f25-4147-b354-7b2f711428b0.png)

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site co

[2021-11-01 09:38] #603 closed

[2021-11-01 12:59] #548 closed

[2021-11-01 19:16] debo19 opened #605 "Newsletter Subscription enhancement on Programs page"
**Description**
 On hover, the subscribe button blends with the background completely. (On [Programs](https://meshery.io/programs) page)

https://user-images.githubusercontent.com/85789734/139727744-b019bd94-0863-40c5-bf9b-1bd3a092748a.mp4

**Expected Behavior**

1) Change the hover effect of the subscribe button.
2) Remove the gray band between the footer and the newsletter section.

**Screenshot

[2021-11-01 19:27] debo19 opened #606 "Icon for external hyperlinks in navbar"
**Description**
The `Contributing` option in the navbar ( under `Resources` ) directs to an external page.

**Expected Behavior**
The icon to represent external hyperlinks, as used in `Code-of-Conduct`, must be added to `Contributing` as well.

**Screenshots**
![hyperlink](https://user-images.githubusercontent.com/85789734/139728775-601f5d11-7c15-4fc0-8560-40e6c4a860d9.jpg)

**Enviroment:**
 - OS:

[2021-11-01 19:39] Generalsoi commented on #605
Hi, I would like to work on this issue.

[2021-11-01 19:40] iambami commented on #605
Sure @Generalsoi Go ahead!

[2021-11-01 21:32] amino19 opened #607 "🐛 bug: LFX Box size caught dissimilar"
**Description**

In Program's section, the LFX box is not similar to other boxes such as, CNCF, GSOC & GSOD 2020, & so, represented small in the website.

**Expected Behavior**

Need to get everything similar to each other, by increasing the size of the box. If the CSS does not find correspond to other boxes, the contributor must need to add different class fs!

Note: Try to stick more towards CSS

[2021-11-03 07:47] #606 closed

[2021-11-06 17:29] shubham-tyagi commented on #591
Hey @vedant-kakde, are you still working on this?

[2021-11-08 03:01] Panquesito7 commented on #581
Commented, so the issue doesn't get closed. 😅

[2021-11-08 14:52] #607 closed

[2021-11-09 13:31] Chadha93 opened #611 "[UI] Alignment for copy to clipboard"
**Current State of the Meshery.io site**
Alignment issue for copy to clipboard
![bug](https://user-images.githubusercontent.com/65453826/140932796-e9fa2d9d-132f-4f9c-a830-59ae0e12c37e.jpg)

**Desired State of the Meshery.io site**
This should be properly aligned.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](h

[2021-11-14 11:17] #591 closed

[2021-11-14 17:02] #611 closed

[2021-11-15 18:26] shubham-tyagi opened #615 "Change the cursor when it is on the right tick symbol"
**Current State of the Meshery.io site**
on this [page](https://meshery.io/service-mesh-interface), there is no change of cursor when the cursor is on the **right tick** symbol in the column **Traffic Access**.

![](https://imgur.com/TEQ3icP.png)

**Desired State of the Meshery.io site**

Change the cursor to like it changes when on any other symbol in the table.

---
### Contributor Resources

Th

[2021-11-15 18:34] shubham-tyagi opened #616 "A legend below the table"
**Current State of the Meshery.io site**

There is no legend below the table on this  [page](https://meshery.io/service-mesh-interface).

**Desired State of the Meshery.io site**

We need a legend below the table on this [page](https://meshery.io/service-mesh-interface) like we have on this [page](https://layer5.io/service-mesh-landscape)
![](https://imgur.com/jU9fvrX.png)

---
### Contributor Res

[2021-11-15 18:57] roman-rezinkin commented on #616
Hi there, could I please take a crack at this, and implement the Legend?

[2021-11-15 19:06] shubham-tyagi commented on #616
sure @roman-rezinkin, Thanks for taking this up.

[2021-11-18 18:33] roman-rezinkin commented on #616
Could you please review my PR @shubham-tyagi #617

[2021-11-18 19:00] Mr-DG-Wick commented on #605
How much have you progressed on this one ? @Generalsoi

[2021-11-19 05:48] shubham-tyagi commented on #616
sure @roman-rezinkin

[2021-11-22 17:01] shubham-tyagi opened #619 "Youtube video does not stop after modal has been closed."
**Description**
We have a youtube video embedded in a modal on this [page](https://meshery.io/talks-and-presentations). We can see the modal and hence youtube video after clicking on the button `find video and slides here`. When we start the video and then close the modal either by clicking outside or by clicking on the close symbol on the top right the video does not stop and keeps going.

**Expe

[2021-11-23 18:36] Reedham20 commented on #619
Hey can I have a look at it?
I am new to open source and would like to contribute so if anyone can assign this to me, I would be happy to help.

[2021-11-23 18:36] warunicorn19 commented on #619
For sure @Reedham20, Thank you for taking this up.

[2021-11-23 19:05] Reedham20 commented on #615
Hey, I was solving #619 and noticed this and solved this as well should I make a PR?

[2021-11-23 19:06] warunicorn19 commented on #615
Sure @Reedham20

[2021-11-23 19:39] #527 closed

[2021-11-23 20:02] #615 closed

[2021-11-30 21:28] leecalcote commented on #576
@Sandesh1013 still working this one through? If not, let's unassign, so that another contributor might pick this up.

[2021-12-01 03:21] DhairyaBahl commented on #581
@Panquesito7 @leecalcote Is this issue still available ?

[2021-12-01 03:31] Panquesito7 commented on #581
Sure, feel free to work on it! 😄

[2021-12-01 03:53] warunicorn19 commented on #581
@DhairyaBahl there's actually an open open PR on this already. Why don't you take a look at some other [help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5io+label%3A%22help+wanted%22+) issues.

[2021-12-01 03:54] DhairyaBahl commented on #581
No issues. I will check out other issues 😄

[2021-12-01 17:46] Panquesito7 commented on #581
What is that PR? 👀 I haven't seen it, nor it's linked here to this issue.

[2021-12-03 12:57] Revolyssup opened #623 "Expose the count of the number of supported versions for each adapter"
**Current State of the Meshery.io site**

**Desired State of the Meshery.io site**

Based on the supported versions here https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZIRQsZUwkt1qLFg7JCs4pfvbU/edit#gid=0 , we need to reflect the support for all these versions on meshery.io
---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under th

[2021-12-03 18:13] roman-rezinkin commented on #605
Hi I was wondering if I could be assigned to tackle this problem? @debo19 @Mr-DG-Wick @iambami

[2021-12-03 18:19] debo19 commented on #605
Sure, @roman-rezinkin go ahead.

[2021-12-03 18:23] debo19 commented on #605
Hey @Generalsoi, since the issue persists for a long time I'm assigning @roman-rezinkin as well to help you out here. In case you have any updates, please feel free to share them with us.

[2021-12-05 03:47] roman-rezinkin commented on #605
I have removed the grey banner below the subscribe button, any kind of special request for the subscribe button hover, in terms of color? I can see that currently it would be a accessibility issue, so I am just wondering if a change in color would be enough? @debo19

[2021-12-05 06:29] debo19 commented on #605
@roman-rezinkin a change in color is not necessary, you can try any other hover effect as well. For example- adding a shadow or a slight translation on hover.

[2021-12-05 07:16] roman-rezinkin commented on #605
@debo19 I made the hover over a black, just as a test:
![image](https://user-images.githubusercontent.com/17882264/144736584-8cc6c238-429f-4a0c-9860-a0ad147e3805.png)

https://user-images.githubusercontent.com/17882264/144736676-397cafa7-d594-44f0-871a-51a5a2b9ec4c.mp4

Here is the same hover color as the footer + a few shades lighter:

https://user-images.githubusercontent.com/17882264/144737469-

[2021-12-05 09:03] debo19 commented on #605
@roman-rezinkin Let's go with the last one(the one with the footer color) since we need to follow the color scheme on the site.

[2021-12-05 16:47] roman-rezinkin commented on #605
I have created a PR, it is ready for review! [Pull Request](https://github.com/meshery/meshery.io/pull/625)

[2021-12-05 17:19] #616 closed

[2021-12-06 10:16] #605 closed

[2021-12-06 15:08] #528 closed

[2021-12-09 23:06] leecalcote opened #628 "[Website] Place service mesh patterns demo video into modal"
**Current State of the Meshery.io site**
On the index page of meshery.io, the short video linked under the button in this screenshot is directly linked.

<img width="736" alt="Screen Shot 2021-12-09 at 5 03 56 PM" src="https://user-images.githubusercontent.com/7570704/145489628-6bbc59f7-0904-4113-bd9b-d96f5d2bfc90.png">

**Desired State of the Meshery.io site**
Ideally, this video plays in a modal

[2021-12-10 09:01] vedant-kakde commented on #589
Thanks @Prakhar-Agarwal-byte . Go ahead 🚀

[2021-12-10 18:12] Ankita13-code opened #630 "Add newcomers-alert.yml workflow to notify good-first-issue on slack"
**Description**
Currently, as the maintainers mark any issue as a "good first issue",  there are no notifications on the slack channel for this repository.

**Expected Behavior**
Adding a Github workflow, so that newcomers on slack can get notified about the issues marked as good first issue.

[2021-12-10 18:17] theBeginner86 commented on #630
@Ankita13-code you are good to work on the issue 🚀

[2021-12-11 09:36] Ankita13-code commented on #630
@theBeginner86 I have created a PR for this issue. Please take a look.

[2021-12-13 10:52] debo19 opened #633 "Button not visible completely"
**Description**
The button on https://meshery.io/calendar gets cut halfway.

**Expected Behavior**
Make the button visible completely.

**Screenshots**
![Button](https://user-images.githubusercontent.com/85789734/145799191-3cbebcd1-e9ba-467e-b9a4-c1bedc34ef34.jpg)

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[

[2021-12-13 14:10] debo19 opened #634 "Add Discuss Forum to footer"
**Current State of the Meshery.io site**
![footer](https://user-images.githubusercontent.com/85789734/145827219-c4e36ae0-39e2-4d55-89dd-2fd419cbff84.jpg)

**Desired State of the Meshery.io site**
Add a link to our [Discuss](https://discuss.layer5.io/) Forum on the footer under Community.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found unde

[2021-12-13 14:16] debo19 opened #635 "fix size of call-outs"
**Description**
![callouts](https://user-images.githubusercontent.com/85789734/145828174-a4399c3d-3717-4aee-a7ec-57f489090f28.jpg)

**Expected Behavior**
Remove whitespace on the bottom of resource cards on [meshery.io](https://meshery.io/)

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce

[2021-12-13 15:01] Abhipise81 commented on #634
/assign

[2021-12-13 15:21] Abhipise81 commented on #634
/assign

[2021-12-13 15:36] Abhipise81 commented on #634
Hi @debo19, Can I work on this task?

[2021-12-13 15:48] debo19 commented on #634
Sure, go ahead @Abhipise81

[2021-12-14 10:24] the-good-boy commented on #628
Can I work on this?

[2021-12-14 10:49] #634 closed

[2021-12-14 10:51] #630 closed

[2021-12-15 18:12] #635 closed

[2021-12-16 16:13] Swapnil-Bhabal opened #641 "[Docs] Addition of shield section in README.md"
**Description**
Its a small update the shield section is missing in README.md of meshery.io repository

**Expected Behavior**
It needs to have a shield section since it provides information to the reader.

**Screenshots**
Expected :
![image](https://user-images.githubusercontent.com/61308713/146406602-a8eefeaa-da64-4eba-b3a6-4ac1b900ecb9.png)

Actual :
![image](https://user-images.githubuserconten

[2021-12-16 16:17] Swapnil-Bhabal commented on #641
Kindly assign this task to me.

[2021-12-16 17:24] leecalcote opened #642 "Add Meshery Adapter for Cilium Service Mesh as an Alpha adapter"
**Current State of the Meshery.io site**
The main index has a table of supported service meshes.

**Desired State of the Meshery.io site**
The `meshery-cilium` adapter is in an alpha state currently and should be reflected on meshery.io

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/m

[2021-12-17 07:36] Swapnil-Bhabal commented on #641
#644
Thats my PR on this issue
@warunicorn19 kindly review it.

[2021-12-17 11:15] shubham-tyagi commented on #619
Hey @Reedham20, are you still working on this?

[2021-12-17 12:51] Reedham20 commented on #619
I am sorry... My exams are going on I will make updates on pr

[2021-12-17 12:52] Reedham20 commented on #619
Before 25th of the month

[2021-12-17 13:14] shubham-tyagi commented on #619
Thanks, @Reedham20 .

[2021-12-17 15:08] #641 closed

[2021-12-17 17:32] #633 closed

[2021-12-18 14:08] #642 closed

[2021-12-22 03:33] #589 closed

[2021-12-23 21:53] #628 closed

[2021-12-31 22:24] leecalcote commented on #576
Bringing in the big guns...

[2022-01-03 13:57] YashKamboj opened #653 "Need validation for the Newsletter form"
**Description**
A brief description of the issue.
There is no validation of the input fields in the newsletter form .
https://meshery.io/
**Expected Behavior**
A brief description of what you expected to happen.
should not proceed without any input

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]

[2022-01-03 15:18] YashKamboj commented on #653
@MukulKolpe Go Ahead!!

[2022-01-07 19:39] #581 closed

[2022-01-07 20:46] developer-diganta opened #656 "Year in Footer is not updated."
**Current State of the Meshery.io site**

The year in the main website footer seems to not update correctly. But the docs page shows the correct year though.
![image](https://user-images.githubusercontent.com/65999534/148604923-35bc6852-7351-4614-a059-bd33ecbc8de5.png)

**Desired State of the Meshery.io site**

The year should be 2022 i.e. "© 2022 The Meshery Authors".
---
### Contributor Resource

[2022-01-07 21:16] Panquesito7 commented on #581
Can you re-open this issue? Thanks. 😅

[2022-01-07 22:56] leecalcote commented on #656
@developer-diganta thanks for pointing this out. It would be great for this date to be dynamic. I _think_ that Meshery Docs has it dynamic in it's footer (I haven't looked in a long time) - https://docs.meshery.io.

[2022-01-07 22:56] leecalcote commented on #656
Assigning this to you @developer-diganta, assuming that you want to work on it.

[2022-01-08 04:23] developer-diganta commented on #656
@leecalcote yeah sure! I'll work on this!

[2022-01-08 07:18] developer-diganta commented on #656
@leecalcote I compared the [docs footer](https://github.com/meshery/meshery/blob/master/docs/_includes/footer.html) and the [main website footer](https://github.com/meshery/meshery.io/blob/master/_includes/footer.html). Both seem to have the same code ` <div class="text-white">&copy; {{ site.time | date: '%Y' }} The Meshery Authors</div>` . Can I use Javascript Date to keep the main website update

[2022-01-09 12:08] Anosh21 commented on #656
@leecalcote can you please assign this issue to me?

[2022-01-09 13:00] YashKamboj commented on #656
@Anosh21 , @developer-diganta is already working on it , you can look other issues with `help-wanted` tags.

[2022-01-09 13:23] #623 closed

[2022-01-09 13:23] Anosh21 commented on #656
Okay @YashKamboj

[2022-01-09 16:09] Susmita-Dey commented on #619
Hey, I'm new to open source. But here I can see there are controls in the video so on closing this the video can be stopped using the pause button otherwise one thing can be done like showing the thumbnails of the video on closing the window.

[2022-01-10 16:30] #653 closed

[2022-01-15 07:08] shubham-tyagi commented on #619
hey @Reedham20, are you still working on it. There is a PR #651 which implements the stopping of video on closing the modal. It would be great if you could look into `assets/js/video-modal.js` file of that PR.

[2022-01-15 07:15] shubham-tyagi commented on #619
@Susmita-Dey those are some interesting ideas. Our ultimate goal here is to stop the video after closing the modal. Do you wish to solve the issue. Seems like @Reedham20 is busy somewhere else.

[2022-01-15 13:02] Susmita-Dey commented on #619
@shubham-tyagi I was learning javascript these days and so I don't have a deeper knowledge of it but still I wanna try it out once if I can help you to solve this issue and this would be a great opportunity for me in that case.

[2022-01-15 14:02] shubham-tyagi commented on #619
thanks @Susmita-Dey for taking this up. If you face any hurdles while solving this issue please feel free to connect with me and other community members on slack.

[2022-01-15 15:34] Susmita-Dey commented on #619
@shubham-tyagi Okay, thanks!

[2022-01-15 17:54] leecalcote commented on #619
@shubham-tyagi please ensure that the same modal and javascript that we recently created is reused here.

[2022-01-15 17:55] leecalcote commented on #619
Desired approach - https://github.com/meshery/meshery.io/pull/651

[2022-01-15 17:59] leecalcote commented on #656
the year in the footer is 2022, currently, correct? is this issue still valid?

[2022-01-15 18:00] leecalcote commented on #656
Assuming this is an invalid issue (@YashKamboj, please help figure this out in the future). Closing the issue. Let @YashKamboj know if I missed something and it needs to be reopened.

[2022-01-15 18:00] #656 closed

[2022-01-15 18:03] YashKamboj commented on #656
Yeah invalid issue! , @leecalcote

[2022-01-15 18:41] shubham-tyagi commented on #619
sure @leecalcote, will make sure that same approach is being used here.

[2022-01-17 15:14] leecalcote commented on #619
@Susmita-Dey progress to report?

[2022-01-17 15:18] Susmita-Dey commented on #619
@leecalcote Sir I am just working on it. Please give me some time and I'll report soon.

[2022-01-18 10:23] Susmita-Dey commented on #619
@shubham-tyagi @leecalcote Sir how could I run it on my local system to check if everything is working perfectly or not?
The command "bundle install" is not working.

[2022-01-18 15:52] Susmita-Dey commented on #619
@leecalcote @shubham-tyagi I have made some changes to the file but I can't check if it's working correctly or not. Shall I create a pull request and commit the changes?

[2022-01-18 16:22] YashKamboj commented on #619
What is the error showing ?

[2022-01-18 16:45] shubham-tyagi commented on #619
You should check by yourself first, so that you could debug it.

[2022-01-18 16:51] shubham-tyagi commented on #619
have you gone through this -> https://docs.meshery.io/project/contributing/contributing-docs ?

you could simply run `make site` command if the `gem install bundler` command is working fine. What is the ruby version that you have installed ?

[2022-01-19 12:46] Susmita-Dey commented on #619
Ok I'm following it and installing ruby

[2022-01-19 13:03] Susmita-Dey commented on #619
I have getting this type of error
![image](https://user-images.githubusercontent.com/79099734/150136014-e033918f-14d0-41e7-995c-d4bfcf1f19fe.png)

[2022-01-21 19:02] RajGM commented on #619
Hi
Can I look into the issue as well?
I am new to open source, so it would be good beginning point for me.

[2022-01-22 06:12] shubham-tyagi commented on #619
@Susmita-Dey just change your ruby version to 2.7.0 . Use the command `rbenv install 2.7.0` if you have `rbenv` for managing ruby versions.

[2022-01-22 06:15] shubham-tyagi commented on #619
Hi @RajGM, Thanks for going through this issue. Currently @Susmita-Dey is solving this issue. It would be great if you could go through other issues right now. Maybe you can assist @Susmita-Dey for solving this issue.

[2022-01-22 06:24] Susmita-Dey commented on #619
I don't have `rbenv` for managing ruby versions.

[2022-01-22 09:23] shubham-tyagi commented on #619
@Susmita-Dey You need to have ruby version 2.7.0. You can do that using anything like rvm, rbenv, etc. You just need to have any ruby version manager.

[2022-01-22 18:40] RajGM commented on #619
Hi @shubham-tyagi
Yeah I can look into other beginners issue alongside helping @Susmita-Dey.

[2022-01-26 17:36] leecalcote opened #658 "[UX] Design need for top of service mesh catalog"
**Current State of the Meshery.io site**
The current version of the upcoming service mesh catalog has too much text and is too boring.

<img width="1568" alt="Screen Shot 2022-01-26 at 11 36 05 AM" src="https://user-images.githubusercontent.com/7570704/151216339-25042aaf-5baf-40d0-9094-9ec5132ae650.png">

**Desired State of the Meshery.io site**
Brainstorming, suggestions, and mockups of new desig

[2022-01-27 03:42] Sonichigo commented on #658
@leecalcote Can i try this?

[2022-01-27 04:11] warunicorn19 commented on #658
Sure @Sonichigo please feel free to take a try.

[2022-01-27 07:13] leecalcote commented on #658
That's great. Let's leave it unassigned until proven that @Sonichigo is capable of producing designs that might be used. In this way, @Sonichigo can draft designs and hatch ideas while others might come and step up to the challenge, too.

[2022-01-30 19:04] leecalcote opened #659 "Add DevConf talk to presentations list"
**Current State of the Meshery.io site**
List of presentations - https://meshery.io/talks-and-presentations

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contributing to Meshery.io Website](https://github.com/meshery/meshery.io#contributing-to-the-

[2022-01-31 03:50] shubham-tyagi commented on #576
Oh missed this issue, will do it 😅

[2022-02-01 03:42] leecalcote commented on #658
@Sonichigo how's it coming along?

@NikhilSharma03 would you like to give this a shot?

[2022-02-01 03:46] Sonichigo commented on #658
Hey @leecalcote,  I do have a mockup design just figuring what could be added more there, plus rectifying the few alignments. Feel free to give some tips: https://www.figma.com/file/40Gd9W8q3jKfafNQuheUfR/%5BUX%5D-Catalog?node-id=0%3A1

[2022-02-01 07:38] NikhilSharma03 commented on #658
@leecalcote Sure, I would add it to my task list along with tasks in hand and would work on it. For now, let's leave the issue unassigned so if anyone else is interested, they can work on it, which will help us to have more UI references. Does that sound okay?

[2022-02-02 03:18] leecalcote opened #660 "Add Coming Soon sign to Catalog"
**Desired State of the Meshery.io site**

Bad font - don't use - SVG - [coming-soon-patterns](https://user-images.githubusercontent.com/7570704/152087996-63c6dafe-314a-4599-b3de-35f6fe01b44f.svg)

PNG - [coming-soon-patterns](https://user-images.githubusercontent.com/7570704/152088060-ad808a2d-f38b-4844-b6c4-253eec817015.png)

---
### Contributor Resources

The meshery.io website uses Jekyll and G

[2022-02-02 03:20] leecalcote commented on #658
Related issue - https://github.com/meshery/meshery.io/issues/660

[2022-02-02 03:22] leecalcote commented on #660
The best that I could slap together in 6 minutes.

[2022-02-02 03:26] warunicorn19 commented on #660
That's really really red 😅

[2022-02-02 16:34] adithyaakrishna commented on #658
Taking this up 👀

[2022-02-02 16:38] adithyaakrishna commented on #658
I have created a basic prototype here for the new SMC page,

Design File: https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=4411%3A24257

https://www.figma.com/proto/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=4411%3A24257&scaling=min-zoom&page-id=110%3A1&starting-point-node-id=4411%3A24257&show-proto-sidebar=1

@leecalcote @warunicorn19 @Nikhil-Ladha @Abhishek-kumar09   Would lov

[2022-02-03 17:49] #660 closed

[2022-02-04 02:57] leecalcote opened #664 "Not mobile friendly: service mesh catalog"
**Current State of the Meshery.io site**
The catalog on [meshery.io/catalog](http://meshery.io/catalog) is mobile challenged in two ways:

The catalog needs improvement to be mobile friendly both 1) in terms of the topmost patterns and filters icons/sections and 2) the catalog filters not displaying.

<img width="576" alt="Screen Shot 2022-02-03 at 8 56 23 PM" src="https://user-images.githubuserco

[2022-02-04 03:02] warunicorn19 commented on #664
@leecalcote i've hidden the filters on purpose in the mobile-view

[2022-02-04 03:03] akshitarora921 commented on #664
@leecalcote, I can take this

[2022-02-04 03:07] leecalcote commented on #664
@akshitarora921, sounds real good. 👍

@warunicorn19, oh, I see. What do you recommend our next steps be toward the ability to filter in mobile view?

[2022-02-04 03:11] warunicorn19 commented on #664
If we want to move forward with filter in the mobile view, it should be collapsible, some like this.
![image](https://user-images.githubusercontent.com/53532328/152465907-40a9f011-f6fe-4663-81c6-ce372d8c1cde.png)

[2022-02-05 08:29] RajGM commented on #619
video-modal.js is not loading at all.
If I console log on it then it does not appear.

[2022-02-05 18:17] RajGM commented on #619
Also I would suggest instead of having multiple modals with same ID.
We can store the link into an object and then depending upon the click we can load the url into video player.

[2022-02-05 18:17] RajGM commented on #619
Should I proceed in this manner @leecalcote and @shubham-tyagi

[2022-02-05 18:40] RajGM commented on #619
Hi @Susmita-Dey
Have you able to solve those errors?

[2022-02-06 04:45] Susmita-Dey commented on #619
I can't run it on my local machine to see the output, that's the only problem otherwise I have corrected the file.

[2022-02-06 05:09] asubedy commented on #619
Hi @Susmita-Dey, did you manage to install `ruby 2.7.0` using `rbenv` as mentioned on the comments above?

[2022-02-06 05:14] Susmita-Dey commented on #619
No, I'm unable to do that it's not working...can't figure out what to do. Shall I make a pull request and the repository maintainers will review my work? Hope this would be better then.

[2022-02-06 05:15] warunicorn19 commented on #619
Please go ahead @Susmita-Dey

[2022-02-06 05:16] Susmita-Dey commented on #619
Okay

[2022-02-06 05:18] warunicorn19 commented on #619
Also you could try a hacky technique, in the gemfile change the gem version to whatever your local version is. Then run `bundle install` > `bundle exec jekyll serve` . Before making the commit just revert back the change or dont add the gemfile to your commit. (This works only sometimes though, worth a try)

[2022-02-06 06:30] RajGM commented on #619
Hi @Susmita-Dey , @shubham-tyagi , @warunicorn19 and @asubedy
I have solved the issue and it is working on my local machine.
Should I make a PR?

[2022-02-06 06:36] RajGM commented on #619
Hi @Susmita-Dey
You can try WSL or try installing Linux on your system to get it running or try the hack as suggested by warunicorn19.

[2022-02-06 06:37] Susmita-Dey commented on #619
Make it

[2022-02-06 06:42] Susmita-Dey commented on #619
WSL doesn't work on my desktop. You carry on with this issue.

[2022-02-07 03:37] shubham-tyagi commented on #619
Thanks @Susmita-Dey, for the update. But please have a look at the docs.meshery.io, you could directly install those required software in windows to solve more issues in the future.

[2022-02-07 03:40] shubham-tyagi commented on #619
sorry I missed it @Susmita-Dey , you have to implement `make-site` command after going inside the docs folder.

[2022-02-07 03:42] warunicorn19 commented on #619
That's for the docs.meshery.io @shubham-tyagi, `make site` isn't working because `make` isn't installed

[2022-02-07 04:14] Susmita-Dey commented on #619
I'll try to solve issues in the near future after learning JavaScript properly.

[2022-02-07 04:54] shubham-tyagi commented on #619
yeah, completely missed the error statement @warunicorn19 😅 , only saw the current folder, my bad.

[2022-02-07 05:04] shubham-tyagi commented on #619
yeah, completely missed the error and issue statement @warunicorn19 , my bad😅.

[2022-02-07 05:05] shubham-tyagi commented on #619
yeah, completely missed the error and issue statement @warunicorn19 , my bad😅.

[2022-02-07 06:11] RajGM commented on #619
Hi @Susmita-Dey
Imposter syndrome can be the biggest challenge even after learning something.
You can refer to https://www.w3schools.com and https://developer.mozilla.org/en-US/ for documentation.

[2022-02-07 18:04] RajGM commented on #576
Hi @shubham-tyagi
Can I work on this along side with you?

[2022-02-07 18:41] RajGM commented on #576
What to display on table if mesh version : none is present in the data
![meshVersionNone](https://user-images.githubusercontent.com/16620150/152850945-efcba669-5054-4c29-960f-dae839642cce.jpeg)
.

Also what to display if we don't have info for other mesh services with same version.

[2022-02-07 20:54] debo19 opened #671 "Fix mobile responsiveness of home page"
**Description**
On the home page of meshery.io:

The "full catalog" link becomes too small in mobile view.
<img width="335" alt="Screenshot 2022-02-08 at 2 19 16 AM" src="https://user-images.githubusercontent.com/85789734/152869753-65f6124f-784e-4b14-b4b3-03e7ddc46502.png">

The button is not mobile-friendly.
<img width="481" alt="Screenshot 2022-02-08 at 2 18 11 AM" src="https://user-images.githu

[2022-02-07 21:14] leecalcote commented on #576
Let's display "Unknown" for the time being.

Show a blank table cell.

[2022-02-08 01:43] marpit19 commented on #671
Hello everyone!!! Could I work on this issue?

[2022-02-08 02:48] leecalcote commented on #671
hi @marpit19, yes, sounds great.

[2022-02-08 03:51] #619 closed

[2022-02-08 07:10] shubham-tyagi commented on #576
Hey @RajGM, I am stuck somewhere. Please proceed.

[2022-02-08 14:07] marpit19 commented on #671
Could you please review it @leecalcote

[2022-02-08 16:49] RajGM commented on #576
Okay @shubham-tyagi

[2022-02-08 20:52] RajGM commented on #576
Why @leecalcote

Traffic Accessv0.6.0/v1alpha3 | Traffic Splitv0.6.0/v1alpha4 | Traffic Specv0.6.0/v1alpha4

All have v0.6.0 even if the mesh version is v0.8 or anything else.

Should I just put the value into table with the above conflict?

[2022-02-09 04:09] ashutosh887 commented on #664
@leecalcote I would like to work on this Issue if it's not done...

[2022-02-09 04:27] ashutosh887 commented on #659
Should I work on this Issue @leecalcote ?

[2022-02-09 08:26] RajGM commented on #576
Why @leecalcote

Traffic Accessv0.6.0/v1alpha3 | Traffic Splitv0.6.0/v1alpha4 | Traffic Specv0.6.0/v1alpha4

All have v0.6.0 even if the mesh version is v0.8 or anything else.

Should I just put the value into table with the above conflict?

Also should I make a horizontal scroll for lot of mesh_version
![table](https://user-images.githubusercontent.com/16620150/153155437-6ed81c0d-8cf7-42e1-b1ae-c

[2022-02-09 11:48] RajGM commented on #576
Hi @leecalcote , @dhruv0000 and @shubham-tyagi
It's done

Is this good to push?

https://user-images.githubusercontent.com/16620150/153194128-68ee6ac1-b512-47d2-9d0a-833c3eee5da8.mp4

[2022-02-09 14:21] Chadha93 opened #673 "[UI] Add an entry for community handbook"
**Current State of the Meshery.io site**
No link/handbook is there for handbook on site.

**Desired State of the Meshery.io site**
Add a menu option for community handbook  under Community as a mega menu. option.
It should redirect the user to https://layer5.io/community/handbook
![Handbook link](https://user-images.githubusercontent.com/65453826/153219288-54bf649a-a378-44e7-a5a7-4db2b1f976ea.jpg)

[2022-02-09 14:22] Akshit42-hue commented on #673
Can I work on this issue @Chadha93

[2022-02-09 14:24] warunicorn19 commented on #673
@Chadha93  don't you think the drop down would become too long if we add another entry?

[2022-02-09 14:26] Chadha93 commented on #673
you can suggest any other place in the website :) how's this(lots of space here) in the footer.
![Screenshot from 2022-02-09 19-56-04](https://user-images.githubusercontent.com/65453826/153221062-00142c82-4c1f-463a-8d14-6a485dc65662.png)

[2022-02-09 14:33] warunicorn19 commented on #673
So the problem with adding the handbook here would be that it's the Layer5 community handbook while this is the Meshery website. We want people to know that Meshery is a Layer5 project but also want the 2 to be separate entities. So I think there's no need for anything to link back to the Layer5 website. @leecalcote what do you think?

[2022-02-09 17:04] leecalcote commented on #673
I'm not sure that this is desirable.

[2022-02-09 18:11] Chadha93 commented on #673
Created this one because of this(we wan't community handbook link to spread across)?: https://app.clickup.com/t/1ydvcdq

[2022-02-10 04:45] Akshit42-hue commented on #673
Should I work on it ?  @Chadha93

[2022-02-10 07:51] RajGM commented on #576
Hi @dhruv0000
Is there any dummy data I can use for testing purposes?

[2022-02-11 09:39] adithyaakrishna commented on #659
Hey @ashutosh887
This needs the access to slides and talks as well, I am working on this one 👀
Please fell free to take a look at some other issues if interested and lmk if you want to work on any of them, I'll assign it to you (if it is unassigned though 😶 )

[2022-02-11 15:47] ashutosh887 commented on #664
Sure
I am working on this

[2022-02-11 19:46] #673 closed

[2022-02-14 12:34] debo19 commented on #664
@ashutosh887 any updates on this? Would you like to discuss this on the websites call today?

[2022-02-14 13:30] ashutosh887 commented on #664
@debo19 How may I join the Call?

[2022-02-14 13:45] warunicorn19 commented on #664
Hop on @ashutosh887 : meet.layer5.io/websites

[2022-02-14 20:35] leecalcote commented on #664
Hi @ashutosh887, we missed you today. What progress can you report here? @YashKamboj, we might be in need of your assistance here.

[2022-02-15 03:52] subhradwip01 opened #676 "[UI] Loading animation for Calendar page"
**Current State of the Meshery.io site**

Currently, there is no Loading animation on the calendar page.

https://user-images.githubusercontent.com/88609894/153989609-63e220d2-4a8c-4829-b758-8b4c6dd30051.mp4

**Desired State of the Meshery.io site**

Need a loading animation for calendar page
---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found

[2022-02-15 03:56] subhradwip01 commented on #676
Resources for that animation:

[2022-02-15 09:37] YashKamboj commented on #664
@ashutosh887 Do you need help with it????

[2022-02-15 12:30] ashutosh887 commented on #664
Yes @leecalcote @YashKamboj
Needed some help in the setup of Project

[2022-02-16 00:14] warunicorn19 opened #677 "[Catalog] Expand Service Mesh Patterns catalog"
**Description**
The current implementation of the catalog needs to be expanded to contain eBPF programs.

**Expected Behavior**
Eventually, the catalog should also have the ability for the user to be able to directly import patterns into Meshery UI

**Screenshots**
<img width="1892" alt="Screen Shot 2022-02-15 at 12 23 43 PM" src="https://user-images.githubusercontent.com/53532328/154171416-da616f

[2022-02-17 17:36] #659 closed

[2022-02-19 11:02] a-muk commented on #677
I would like to contribute to this project for GSOC'22. Are there any resources I can look at for knowing more about it?

[2022-02-19 11:10] YashKamboj commented on #677
@a-muk You can check this out https://layer5.io/programs/gsoc

[2022-02-28 04:16] #671 closed

[2022-03-02 04:01] Sonichigo commented on #676
@subhradwip01 Can i take this up?

[2022-03-02 04:15] subhradwip01 commented on #676
@Sonichigo ya sure... @sayantan1413 can you assign him, please..I have not the access to assign him

[2022-03-04 05:11] Sonichigo commented on #676
I am facing issue in bundle install part. Tried using 2.6.9 , 2.7.5 and 3.1.1 but each time i get this message:

![image](https://user-images.githubusercontent.com/53110238/156702980-37270589-e29c-4769-a517-ba4c515cf61a.png)

But couldn't find 2.7.0 here :
![image](https://user-images.githubusercontent.com/53110238/156703156-49ab6a22-43ed-4735-a66f-08074932bfe0.png)

[2022-03-04 16:06] Nikhil-Ladha commented on #664
Any updates on the fix @ashutosh887 ?

[2022-03-04 16:11] Nikhil-Ladha commented on #676
Which tool are you using to install `ruby`? @Sonichigo

[2022-03-04 16:38] Sonichigo commented on #676
Not using any specific tool but from official ruby website. Found a workaround though. Have started working on Issue.

[2022-03-13 11:09] Ardent10 opened #691 "[UI] Enhancing the Newsletter"
#### Current Behavior

The newsletter has no color grading at the moment and looks odd.

#### Desired Behavior

It should be more distinct and catchy so that a user would be able to sign-up easily.

#### Implementation

I would like to contribute to UI of this newsletter component as an OpenForce22 participant.

# Mockups
## Before
![old](https://user-images.githubusercontent.com/73132031/15805652

[2022-03-14 05:00] #676 closed

[2022-03-21 18:29] Abhijay007 opened #684 "[Bug] : "join the community" button is getting cut"
**Description**

on the community page the " "join the community" button is getting cut into half

**Screenshots** (currently)
![image](https://user-images.githubusercontent.com/64387054/159339853-8e4f8824-55d6-4acd-a668-e1a43260d869.png)

**Expected Behavior**

![image](https://user-images.githubusercontent.com/64387054/159340586-26b3146e-2424-4304-92b8-c66cfe0cc84d.png)

---
[Optional] **To Repr

[2022-03-22 01:46] sayan011 commented on #684
Can I work on this issue?

[2022-03-22 02:08] Abhijay007 commented on #684
sure @sayan011 go ahead :)

[2022-03-27 11:08] adithyaakrishna opened #685 "[Website] - Patterns Coming Soon Overlapping WA"
#### Current Behavior
The patterns coming soon image is overlapping filters text at https://meshery.io/catalog

#### Expected Behavior
The patterns coming soon image size should be reduced

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/23498248/160278432-89409bed-8c72-4669-88f0-405875a125ad.png)

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing)

[2022-03-30 18:29] Akshit42-hue commented on #684
Can I work on this issue @Abhijay007

[2022-03-30 20:54] jjaw commented on #684
May I work on this issue? I can fix the button. @sayan011

[2022-03-30 21:00] Abhijay007 commented on #684
Hi @jjaw I have to assign this to @Akshit42-hue as he asked first, but you can try some other issues :)

ping me if you need any assistance regarding finding issues or anything related to open-source contributions, you can join the layer5 community by filling newcomers form in the newcomer's channel there are a lot of good first issues on which you can work, join the community from here : https://

[2022-03-31 06:00] Abhijay007 commented on #684
ya, there are lot for good first issues, join layer5 community to know more :))

[2022-04-02 06:00] Rahul7171 commented on #677
Hi all. I am Excel, and I im interested in contributing to this project for GSoC '22. I have joined the community, and have been looking into Meshery too. I am thinking of attending the event that was posted on the community to get up to speed with Meshrey and Mesh Chaos in general.

Is this alright? And are there any prerequisites I need to complete to increase my chances, or to write a good prop

[2022-04-02 08:24] Akshit42-hue commented on #684
Please do have a look @Abhijay007

[2022-04-03 17:43] #684 closed

[2022-04-09 11:49] Akshit42-hue commented on #664
Hey @leecalcote, @Nikhil-Ladha Can I work on this issue

[2022-04-09 12:52] Nikhil-Ladha commented on #664
Sure, go ahead @Akshit42-hue

[2022-04-09 12:53] Nikhil-Ladha commented on #664
Ok, I just noticed there is an open PR from @ashutosh887 . Hold on @Akshit42-hue for a while.
Any updates on the PR @ashutosh887 ?

[2022-04-09 16:41] Akshit42-hue opened #693 "automate year"
The year in the footer section is not automate we have to change it manually

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contributing to Meshery.io Website](https://github.com/meshery/meshery.io#contributing-to-the-mesheryio-website) section of t

[2022-04-10 04:11] Akshit42-hue commented on #693
My bad the year is already automate
![Screenshot from 2022-04-10 09-39-26](https://user-images.githubusercontent.com/59443454/162601096-4423ffa0-4f50-4f7b-9c5e-67543e76f96c.png)

[2022-04-10 08:17] Ardent10 commented on #691
Just wanted to know few things about the local installation:
This is the first time I am working on a CNCF project. In the Meshery UI contribution we don't have a breif about what 'make' is.
[https://docs.meshery.io/project/contributing/contributing-ui](url)

I don't have it pre-installed(windows) can you please tell me how can I get it installed to start working ?

[2022-04-10 08:26] Nikhil-Ladha commented on #691
Meshery UI and meshery.io site are 2 different things. Don't mix them up.
Coming to your question `make` is a tool to run commands using a reference to a set of commands defined in the Makefile of the repo. Yes, you may not have the tool pre-installed in windows. You can download it and add it to your path and use it. If in case, you still get issues while running the make command locally, you can

[2022-04-10 08:35] Ardent10 commented on #691
Thankyou I read about it and had it installed now.

[2022-04-10 13:36] leecalcote commented on #693
No sweat. While you're at it @Akshit42-hue, will you check on https://getnighthawk.dev, https://docs.meshery.io, and https://smp-spec.io?

[2022-04-10 13:36] #693 closed

[2022-04-10 16:18] Akshit42-hue commented on #693
Let me check it

[2022-04-10 16:47] Akshit42-hue commented on #693
https://docs.meshery.io/, and https://smp-spec.io/ looks good to me and in https://getnighthawk.dev/ raise an issue and will raise a PR as soon as possible @leecalcote

[2022-04-14 03:29] Akshit42-hue commented on #664
Hey @Nikhil-Ladha should I go ahead and fix this bug

[2022-04-14 04:38] Nikhil-Ladha commented on #664
Yes, @Akshit42-hue go ahead.

[2022-04-15 18:49] Chadha93 opened #694 "[Site] Update Service Mesh list"
**Current State of the Meshery.io site**
![image](https://user-images.githubusercontent.com/65453826/163608722-0d4a7e8c-8b41-48c2-8941-5334619af49c.png)

**Desired State of the Meshery.io site**
Remove Octarine from the list and move cilium to beta

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.c

[2022-04-17 16:23] abh139 commented on #677
I want to work on this issue

[2022-04-18 06:12] fazer1929 commented on #694
I'd like to work on this issue.

[2022-04-18 11:33] debo19 opened #695 "[Catalog] Ability to apply multiple filters"
**Current State of the Meshery.io site**

https://user-images.githubusercontent.com/85789734/163801423-d6399146-25a4-4f13-9ded-be3736e531d2.mov

Users can apply only one filter among different categories at the moment.

**Desired State of the Meshery.io site**

1. Move from radio buttons to checkboxes.
2. Allow selecting multiple filters:
        - Union between options in the same category.

[2022-04-18 12:52] Chadha93 commented on #694
sure, go ahead @fazer1929

[2022-04-19 04:54] #576 closed

[2022-04-20 13:05] Ardent10 commented on #691
@Nikhil-Ladha
while serving the site locally I am trying to run this command and getting the following error. Is the semicolon a typo here or I am doing something wrong?

![image](https://user-images.githubusercontent.com/73132031/164236702-796766f6-8c2b-442a-afe9-967256b8ccbd.png)
![image](https://user-images.githubusercontent.com/73132031/164236803-f273ccbf-ee8e-49f3-92e6-5aa3ec5dfc21.png)

[2022-04-20 13:08] Nikhil-Ladha commented on #691
It is not a typo.
Try running the command on Powershell once. If it still doesn't work, execute the commands individually, i.e, first `bundle install` then `bundle exec jekyll serve --drafts --livereload`

[2022-04-20 13:20] saucekode commented on #691
@Ardent10 are you developing it or working on the design?

[2022-04-20 16:55] Ardent10 commented on #691
Thankyou for clarifying.
I tried to run the commands one at a time and I get the following error

![image](https://user-images.githubusercontent.com/73132031/164282938-2e00b4a2-48e5-4c81-aa3b-0167d5fdf57e.png)
![image](https://user-images.githubusercontent.com/73132031/164282983-23cfd6d2-0540-49b0-8515-5d573a7e2a89.png)

I am trying to run this project on my local machine. I did all the installati

[2022-04-20 17:17] Nikhil-Ladha commented on #691
Yeah, known issue with Windows.
@Abhijay007 , @YashKamboj were you guys able to resolve the above issue?

[2022-04-20 17:18] YashKamboj commented on #691
@Nikhil-Ladha i tried a lot but couldn't find the reason for the error

[2022-04-20 17:23] Nikhil-Ladha commented on #691
@Ardent10 you will have to either switch to Linux totally or use WSL2, whichever you prefer.

[2022-04-21 08:42] saucekode commented on #691
@Ardent10 okay. I wanted to be certain. When will you start working on the figma design?

[2022-04-21 19:07] Ardent10 commented on #691
@Nikhil-Ladha
Why am I getting this error?
Apart from this, whenever I try to change the css for the design the changes does not take place. The inline css works for the design but not the subscribe.css.
![image](https://user-images.githubusercontent.com/73132031/164534699-57b950d9-051d-4642-a042-9aa3369ab212.png)

[2022-04-23 14:49] YashKamboj opened #698 "[Bug] Broken link in footer"
**Description**
A brief description of the issue.
Link for blog in footer is broken in meshery.io.
**Expected Behavior**
Remove "/" from the end of the link
A brief description of what you expected to happen.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. l

[2022-04-23 14:51] Akshit42-hue commented on #698
Can I work on this issue @YashKamboj

[2022-04-23 14:52] YashKamboj commented on #698
@Akshit42-hue Go Ahead!!!

[2022-04-23 16:45] bhargavmungara commented on #698
@YashKamboj  I fixed the issue can tell what is the process of submitting  PR

[2022-04-24 18:07] Akshit42-hue commented on #698
Hey @bhargavmungara, the procedure for contributing is first ask the maintainer to assigned the issue to you or the step how you can resolve the issue after the issue is assigned to you have to raise a pr. If you have any question feel free to ask on slack :)

[2022-04-24 18:57] UnkleTayo commented on #695
I will like to take up this issue

[2022-04-25 11:01] UnkleTayo commented on #695
Hi @leecalcote I'm sorry I didn't know the project was a Ruby project, I once worked on layer5 and the project was built in React when I checked the codebase I saw it was all Ruby. I don't think I can start to learn Ruby at the moment.

I'd like to be unassigned from the issue please. Thank you

[2022-04-25 11:52] Nikhil-Ladha commented on #685
This is by design and doesn't need any change.
When the filters are fixed on the page then the `Coming Soon` badge will be removed.

[2022-04-27 17:30] #685 closed

[2022-04-28 04:15] Akshit42-hue commented on #698
Hey @bhargavmungara are you working on this issue or should I go ahead

[2022-04-29 09:56] YashKamboj commented on #698
@bhargavmungara while adding the files, just add the ones you have changed
eg: git add <files path>

[2022-04-29 10:17] Akshit42-hue commented on #698
Hey @bhargavmungara, you can refer this  [Docs](https://docs.pi-hole.net/guides/github/how-to-signoff/) for process of signing the DCO

[2022-04-29 11:25] leecalcote commented on #698
Thank you, @Akshit42-hue

[2022-05-02 10:28] #698 closed

[2022-05-03 22:50] leecalcote opened #702 "Add install instructions for Docker Extension for Meshery"
#### Current State
A Docker Extension for Meshery has been created and will be publicly available at DockerCon 2022.  A description of the extension and how to install it are needed. See https://layer5.io/docker-extension-meshery and https://hub.docker.com/r/meshery/docker-extension-meshery for details.

<img width="694" alt="Screen Shot 2022-05-03 at 5 49 53 PM" src="https://user-images.githubuse

[2022-05-04 05:36] karnatisrinivas commented on #702
Hello @leecalcote ,If this is unassigned can I work on this?

and is this related/same as https://github.com/meshery/meshery/issues/5473

[2022-05-04 05:38] leecalcote commented on #702
@karnatisrinivas, right: two highly related issues. ✔️

[2022-05-04 17:40] YashKamboj commented on #664
@Akshit42-hue if you are not working on the issue, i added responsiveness to the catalog page in my pr (not dedicated to this issue) #703

[2022-05-04 18:36] Akshit42-hue commented on #664
Go ahead @YashKamboj and thanks for taking it

[2022-05-04 20:35] leecalcote opened #704 "[Catalog] Use SVGs for eBPF and OPA"
Please use an SVG

_Originally posted by @leecalcote in https://github.com/meshery/meshery.io/pull/703#discussion_r865116371_

[2022-05-04 21:06] #691 closed

[2022-05-04 21:38] leecalcote opened #705 "[Catalog] Create "related" pattern attribute"
**Current State of the Meshery.io site**
Each pattern modal will show related patterns, but these are hard-coded, self-references.

**Desired State of the Meshery.io site**
The json data model needs to evolve to include a `related` attribute, so that pattern ids can be listed in an array.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found und

[2022-05-04 21:40] leecalcote opened #706 "[Catalog] Show WebAssembly filter cards under "All" filter"
**Current State of the Meshery.io site**
The default view on meshery.io/catalog excludes display of webassembly filters.

**Desired State of the Meshery.io site**
Filters should be included in the default view.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
-

[2022-05-05 12:03] YashKamboj commented on #706
@leecalcote Do you want the wasm cards after all the cards of patterns cards, right?

[2022-05-05 12:07] YashKamboj commented on #706
Taking this up!!

[2022-05-05 12:37] YashKamboj commented on #705
Working on it!!

[2022-05-05 12:39] #704 closed

[2022-05-05 12:42] leecalcote commented on #664
@Akshit42-hue @Ardent10 there is an open need to clean up meshery.io/subscribe:
<img width="555" alt="Screen Shot 2022-05-05 at 7 41 21 AM" src="https://user-images.githubusercontent.com/7570704/166925283-9923ef6d-c9ae-431b-b5e5-ab08d54753c3.png">

[2022-05-05 12:52] Akshit42-hue commented on #664
Looking into it

[2022-05-05 18:52] harshitasao commented on #694
Hi, @Chadha93. Can I work on this if no one else is working?

[2022-05-06 07:01] Chadha93 commented on #694
Sure @harshitasao, are you still working on this @fazer1929?

[2022-05-06 07:18] fazer1929 commented on #694
Oh yes, sorry I haven't yet created a PR, ill do it by tommorow

[2022-05-06 18:58] #694 closed

[2022-05-06 21:19] leecalcote opened #711 "Create Animated Terminal of Meshery Installation"
**Current State of the Meshery.io site**
The Meshery installation process is not depicted in an animated terminal.

**Desired State of the Meshery.io site**
Using https://github.com/ines/termynal, create an animated terminal of `mesheryctl system start`.

This animation can be rotated into the site's main hero.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Si

[2022-05-06 21:20] leecalcote commented on #702
Two related issues, but two different sites, so two updates needed.

[2022-05-06 21:21] leecalcote commented on #702
@karnatisrinivas, heads-up: the deadline for this update is Sunday, May 8th, 2022. If a PR isn't submitted by the 7th, I'll carry this request forward.

[2022-05-07 04:26] karnatisrinivas commented on #702
<img width="1259" alt="Screenshot 2022-05-07 at 9 55 37 AM" src="https://user-images.githubusercontent.com/52213014/167238111-84938370-ee73-4d1f-9623-55e99c4f81bd.png">

Hello Lee, Please let me know if this is the action required.

[2022-05-07 07:24] leecalcote commented on #702
Looks good to me, @karnatisrinivas 👍

[2022-05-11 17:33] Ardent10 commented on #711
Hey, @leecalcote I would like to try this.
are there any specifications about the installation process?

[2022-05-13 11:12] #702 closed

[2022-05-17 19:38] leecalcote commented on #711
@Ardent10 yes, they are specified in the getting started section:

`mesheryctl system start`

[2022-05-18 05:58] Ardent10 commented on #711
Alright, looking into it.

[2022-05-21 08:01] Ardent10 commented on #711
I guess you are referencing to this part of meshery?
![image](https://user-images.githubusercontent.com/73132031/169642057-9847c819-32dc-4011-a97b-5b96f072038a.png)

Is the change needed for all the "platforms" of mesheryctl ?

[2022-05-30 11:47] leecalcote commented on #711
You can start with either just Docker or just Kubernetes. I'm looking for a nice feature overview animation, not a new way of displaying installation instructions. The installation instructions will remain as-is, while the multi-mesh management section of the main page might have this animation - some eye candy.

[2022-05-31 15:26] chinmaym07 opened #715 "Copy to clipboard tooltip is not aligned / scroll always visible"
**Description**

1. `Copy to Clipboard` tooltip is not align properly
2. Scroll always visible.

**Expected Behavior**

1. `Copy to Clipboard` tooltip should be aligned properly.
2. Keep the scroll as `auto` like if the content exceeds then only it will be visible else remains hidden in the modal.

**Screenshots**

https://user-images.githubusercontent.com/44670961/171209794-8cd25020-c7d6-4914-be8

[2022-05-31 16:47] Ardent10 commented on #711
@leecalcote
Do we need to enclose this part of getting started section
![image](https://user-images.githubusercontent.com/73132031/171228953-a9c3fb7c-104e-4363-be93-5d8f1f74f40b.png)
or the entire Getting started section to give it a new look in animated form?

[2022-05-31 17:36] KrishAryan opened #716 "[Docs]Improve visibility in readme files by setting logos according to light/dark mode"
**Current State:**
some logos look bad in light/dark mode

**Desired State:**
implement a feature that allows to set different icon according to light/dark mode
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.c

[2022-05-31 19:28] Ardent10 commented on #711
Sure. Working on it.

[2022-06-02 05:32] Rohith-Raju commented on #715
Does this look good ?
@chinmaym07 @theBeginner86 @leecalcote
![image](https://user-images.githubusercontent.com/55309324/171559479-b6538705-c28f-4480-a6e0-150f4f117ed4.png)

[2022-06-04 14:04] Chadha93 commented on #664
// @YashKamboj

[2022-06-04 14:05] Chadha93 commented on #705
// @YashKamboj

[2022-06-04 21:35] leecalcote commented on #706
Commenting to prevent staleness - Yash is working on this.

[2022-06-06 16:49] srrathi opened #812 "[UI] Modifying Navbar dropdown such that it takes full width in mobile view"
#### Current Behavior
Navbar dropdown doesn't take full width in mobile view and looks a bit weird.

![Screenshot from 2022-06-07 02-05-36](https://user-images.githubusercontent.com/57089237/172206986-d7ecc5dc-e462-45b1-bfeb-40d6ce04a21f.png)

#### Desired Behavior
To modify Navbar dropdown in meshery.io UI such that it takes full width in mobile view with it's items aligned to left. After clickin

[2022-06-09 13:05] KrishAryan commented on #716
ok please do

[2022-06-09 22:05] leecalcote commented on #705
@asubedy will you please knock this out?

[2022-06-09 22:06] leecalcote commented on #677
We need: to publish the collection into single pages, so that each asset in the catalog is addressable by single url.

[2022-06-09 22:07] leecalcote commented on #695
@warunicorn19 another item here is the need for OPA and eBPF categories (radio buttons).

[2022-06-09 22:08] warunicorn19 commented on #677
We could set an anchor to the modal right? That would help reference each asset. @leecalcote

[2022-06-09 22:09] leecalcote opened #729 "[Catalog] Categories for policies and programs"
**Current State of the Meshery.io site**
The meshery.io/catalog lists OPA policies and eBPF programs as upcoming asset types.

**Desired State of the Meshery.io site**
The meshery.io/catalog should  have OPA and eBPF categories (radio buttons).

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/m

[2022-06-09 22:12] leecalcote opened #730 "[Catalog] Overview page should show all types of catalog items"
**Desired State of the Meshery.io site**
1. The meshery.io/catalog landing page should show all types of catalog items.
1. The total number displayed should be paginated and limited to 50 per page.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Cont

[2022-06-09 22:13] leecalcote opened #731 "[Catalog] Search catalog items"
**Current State of the Meshery.io site**
Visitors of the https://meshery.io/catalog cannot search for items in the catalog.

**Desired State of the Meshery.io site**
Visitors should be able to match search terms found in the title or in the description of the catalog entry.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master

[2022-06-09 22:15] leecalcote opened #732 "[Catalog] Pagination"
**Current State of the Meshery.io site**
All entries are shown on the single page catalog.

**Desired State of the Meshery.io site**
The catalog should contain multiple pages and should be paginated.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Co

[2022-06-09 22:17] leecalcote opened #733 "[Catalog] Coming Soon sign over OPA and eBPF"
**Current State of the Meshery.io site**
The coming soon sign on https://meshery.io/catalog is hung off to the upper right hand side.

**Desired State of the Meshery.io site**
Meshery Patterns and WASM Filters are ready, while OPA Policies and eBPF Programs are not. The red sign should updated to remove the word "PATTERNS" and hang two, small instances of the sign on top of the op and ebpf categor

[2022-06-09 22:19] leecalcote opened #734 "Create Animated Terminal of Meshery Installation"
**Current State of the Meshery.io site**
The Meshery installation process is not depicted in an animated terminal.

**Desired State of the Meshery.io site**
Using https://github.com/ines/termynal, create an animated terminal of `mesheryctl system start`.

This animation can be rotated into the site's main hero.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Si

[2022-06-09 22:24] leecalcote commented on #677
@warunicorn19 poor seo; too fragile; too much for one page; we'll need pagination and single pages to follow anyway, particularly, since we're not able to figure out how to apply more than one filter to the view.

The answer to multiple filter views (on click) and to individual item pages requires no code, but only manipulation of the collection object and other settings in _config.yaml.

[2022-06-09 22:25] leecalcote commented on #677
Moreover, we want individual contributors to bring their own catalog items and so we shouldn't make this contentious over a single data file or single page.

[2022-06-10 07:13] YashKamboj commented on #677
What i found in other catalogs is that they have a modal for a item and an option to open them in a new page or something like read more , which results in opening the item in a new page

[2022-06-13 01:13] leecalcote opened #735 "Meshery Deployment Configurator"
**Current Behavior**
Meshery can be deployed under various configurations.

**Desired Behavior**
Users can be provided with a Meshery deployment configurator that, through a series of simple clicks, generates a meshconfig (a Meshery deployment yaml file). In this way, users can select their desired deployment platform and service mesh(es) that they wish for Meshery to run on and manage.

---
<img

[2022-06-13 15:45] YashKamboj commented on #734
isn't this issue identical to #711 ?

[2022-06-14 16:32] Rohith-Raju commented on #715
Removed unused white space aligned copy to clipboard tool-tip @leecalcote @theBeginner86 @chinmaym07

https://user-images.githubusercontent.com/55309324/173629228-a75560d0-1d83-4315-bb0e-7ba3fa73bd2e.mp4

[2022-06-14 20:03] leecalcote opened #739 "Improvement: Menu Styling"
**Current State of the Meshery.io site**
The current navigation menu is less than attractive. Screenshot below:
<img width="492" alt="Screen Shot 2022-06-14 at 1 54 20 PM" src="https://user-images.githubusercontent.com/7570704/173678509-9fbc92e7-5459-429f-b11f-f1849a581b38.png">

**Desired State of the Meshery.io site**
The navigation menu might be prettified with a bit of rounded corners and shad

[2022-06-14 20:38] chinmaym07 commented on #715
Hi @Rohith-Raju .
Great work. Just a small tweak here.
It will be much better to keep the tooltip at the bottom rather than placing side by side .

[2022-06-14 20:45] debo19 opened #740 "Font size too small"
**Description**
The font size for some text is too small. (See the last line in Getting Started or the text in the body in the following screenshots)

**Expected Behavior**
Increase the font size uniformly across the site.

**Screenshots**
<img width="530" alt="Screenshot 2022-06-15 at 2 11 34 AM" src="https://user-images.githubusercontent.com/85789734/173684998-74fc817d-73ff-4b78-8ba2-faf5fc65905

[2022-06-15 00:38] Rohith-Raju commented on #715
@chinmaym07 any particular reason? I aligned it to the side because there was a lot of unused space, as of now the height spans automatically, if we decide to add it to the bottom it will just take up more space  😄. What do you say?

[2022-06-15 00:40] Rohith-Raju commented on #715
I also think that it's better if we try to fit the content rather than telling the user to scroll for more info.

[2022-06-15 01:00] warunicorn19 commented on #715
It wont be possible to have that much of information inside a modal especially in mobile without a scroll, we can hide the scrollbar but we can't remove it's functionality.
Currently I dont see a scrollbar in mobile view.
Browser: Chrome
![image](https://user-images.githubusercontent.com/53532328/173714026-cf44fce7-6bc3-4b9a-acd4-e35f81985fc5.png)

[2022-06-15 01:14] Rohith-Raju commented on #715
@warunicorn19   yes fixing on that

[2022-06-15 15:24] Manish-Rawat-1186 commented on #739
i want to work on this issue, so may you assign me ...

[2022-06-15 23:24] leecalcote commented on #739
Hi @Manish-Rawat-1186, sounds real good.

[2022-06-15 23:25] leecalcote commented on #733
Graphic - ![coming-soon](https://user-images.githubusercontent.com/7570704/173958472-39b3d485-a131-4c28-a232-0a77874794c4.svg)

[2022-06-15 23:30] #716 closed

[2022-06-16 03:17] warunicorn19 commented on #733
Added in my open PR.

[2022-06-21 16:47] Rohith-Raju commented on #739
@leecalcote if there is no assignee i would like to take it up

[2022-06-21 17:32] leecalcote commented on #739
Great, @Rohith-Raju. Yes, brainstorming and proposals needed.

[2022-06-21 23:12] leecalcote commented on #739
@Manish-Rawat-1186 any progress to report?

[2022-06-22 01:15] Rohith-Raju commented on #739
Yup, sure @leecalcote

[2022-06-22 01:21] Rohith-Raju commented on #740
I wouldn't mind knocking this out @debo19, unless it's for beginners.

[2022-06-22 01:56] leecalcote commented on #740
Yes, this is relatively straight-forward. @Manish-Rawat-1186, how is this coming along for you?

[2022-06-23 12:13] eeshaanSA commented on #740
<img width="740" alt="image" src="https://user-images.githubusercontent.com/100678386/175295799-14484f90-03cb-44db-ba5b-74723372cbcc.png">

I believe something like this or on similar terms should do the job. Need more suggestions. @leecalcote @debo19

[2022-06-23 17:40] debo19 commented on #740
@eeshaanSA it still looks quite small

[2022-06-23 19:33] eeshaanSA commented on #740
Sure. This is a snap from the chrome dev, and i had minimized the screen size so maybe thats why looks a little wierd. Allow me to work on this so i can improve on it.

[2022-06-23 20:21] eeshaanSA commented on #740
Thanks @leecalcote. I would like to start working as soon as possible, but is there a guide/documentation to setup the code for meshery.io on the local system, and also how to run the local system as website on my own computer?

[2022-06-23 20:23] eeshaanSA commented on #740
Thanks @leecalcote. Will start working on it ASAP.

[2022-06-23 20:26] leecalcote commented on #740
@eeshaanSA, sounds great. I'll do your homework for you this one time and expect that you look in the conspicuous spots from here on out:

1. https://docs.meshery.io/project/contributing/contributing-docs
2. https://github.com/meshery/meshery.io#contributing-to-the-mesheryio-website
3. https://github.com/meshery/meshery.io/blob/master/CONTRIBUTING.md
4. Jekyll Tutorial - https://docs.google.com/do

[2022-06-24 02:53] Rohith-Raju opened #745 "Title should be capitalized"
**Current State of the Meshery.io site**
The title is not capitalized
![image](https://user-images.githubusercontent.com/55309324/175452867-073a916e-d307-4837-943c-dc162ea25cf6.png)

**Desired State of the Meshery.io site**
The title should be capitalized
![image](https://user-images.githubusercontent.com/55309324/175452839-119d951d-e76a-4631-90a2-9a2d31ed7b14.png)

---
### Contributor Resources

[2022-06-24 05:30] eeshaanSA commented on #745
Thanks for pointing the issue out. I can submit a PR for this right away, though I propose that the first letter in line " cloud native management with plugins should also be Capitalised. Your thoughts?

[2022-06-24 05:33] Rohith-Raju commented on #745
Yes, Please wait until a member approves of this and assigns it to you. 😄
@debo19 @warunicorn19 @asubedy

[2022-06-24 14:44] eeshaanSA commented on #740
![image](https://user-images.githubusercontent.com/100678386/175559120-446c097b-7ff3-49bf-af63-6f3df72dd7e3.png)
This is the final version i propose. I shifted "choose a  platform" line below the relevant section. Also fixed the text size in the last line of the image. Under the 02 section.

[2022-06-24 14:53] leecalcote commented on #740
Heads-up: we’ll accept and merge a PR that has a docs update regarding RVM and make on Windows, not one that doesn’t. :grin:

This proposed change looks great, @eeshaanSA. 👍 Will you take a moment to correct the aspect ratio (un-skew) the Docker logo, too?

[2022-06-24 15:06] eeshaanSA commented on #740
If we make the aspect ratio similar to the other images, the docker logo will not look as appealing as it now. So we will have to either keep it as it is, or minimise the image so that it fits in a 60x60 aspect ratio like other images.

[2022-06-24 15:13] eeshaanSA commented on #740
<img width="860" alt="image" src="https://user-images.githubusercontent.com/100678386/175564846-46940173-dc0a-426c-8169-9ce022b759b6.png">
Something like this? You can have a comparision with the help of the image above.

[2022-06-24 17:53] eeshaanSA commented on #740
Also, I had one more query. Since the issue #745 is very much related to this PR, is it ok/allowed to push commit for the solution of the issue #745 in this PR itself?

[2022-06-25 03:15] Rohith-Raju commented on #745
@leecalcote  Ok ill bring it down

[2022-06-25 03:15] #745 closed

[2022-06-25 04:35] leecalcote commented on #745
@Rohith-Raju thanks for raising this sort of issue up, though. Keep 'em coming. 👍

[2022-06-25 04:53] Rohith-Raju commented on #745
Aye Aye Cap

[2022-06-26 04:40] eeshaanSA opened #747 "Changes in Docs which help with setting up local developer env."
**Current State:**
Downloading and setting up the developer enviorment for any project may sometimes prove as a difficulty for first timers/ beginners. The Contributing.md file and the readme.md in this repository are making it easy for developers to set up their local enviorments, though I feel there are some changes that I feel have to be made [in README.md, CONTRIBUTING.MD, and the Meshery Docs

[2022-06-26 04:42] eeshaanSA commented on #747
I would personally like to work on this issue, though I need a confirmation and more information about the same from maintainers/admins, before I can start working with it.
@leecalcote

[2022-06-26 05:37] Rohith-Raju commented on #739
Hey @leecalcote I was thinking along the lines of this
![image](https://user-images.githubusercontent.com/55309324/175800953-6a2a254c-6208-4d19-a73b-8c5ec39c0699.png)
https://www.figma.com/file/STEeqbqIpC9MqjcFLpLqx9/Meshery.io-Dropdown?node-id=0%3A1

[2022-06-26 12:14] Rahul7171 commented on #747
I would Like to work on this Issue

[2022-06-26 12:15] Rahul7171 commented on #731
I would Like to Work On This issue

[2022-06-27 17:49] leecalcote opened #748 "Delete generic "pricing" page"
**Current State of the Meshery.io site**
https://meshery.io/archive/pricing/ is a holdover from the original theme used for this site.

**Desired State of the Meshery.io site**
This page should be deleted.

---
### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See t

[2022-06-27 17:59] Santosh1176 commented on #748
@leecalcote  Can I work on this?

[2022-06-27 18:10] asubedy commented on #730
@lee `1.` is done after [this](https://github.com/meshery/meshery.io/pull/744) PR gets merged

[2022-06-29 11:11] adi611 opened #751 "[Docs] In README.md "Visit Meshery.io to learn more!" is repeated"
**Current State:**
![image](https://user-images.githubusercontent.com/50960175/176422802-3b05b03f-75b7-469e-a69b-c56e0a5538f0.png)

**Desired State:**
![image](https://user-images.githubusercontent.com/50960175/176422981-3278a1c2-a72e-4586-8478-2d21b6bce7c3.png)

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.co

[2022-06-29 12:10] manikmmalhotra opened #753 "[Docs] Basic Step Skipped in Installation/Running in Local Environment"
**Current State of the Meshery.io site**
installation and running in local environment is missing a basic step

**Desired State of the Meshery.io site**
```cd meshery.io```
needs to be added after cloning the repo

i would like to work on this small issue.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.com/mesh

[2022-06-29 12:21] leecalcote commented on #753
Thanks

[2022-06-29 12:25] #751 closed

[2022-06-29 13:20] manikmmalhotra opened #755 "[Docs] Missing a "git" in the command"
**Current State:**
while signing commit message the command mentioned in readme is missing a "git"

**Desired State:**
```git commit -s -m “my commit message w/signoff” ```

i would like to work on this issue
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for

[2022-07-02 00:45] #753 closed

[2022-07-02 11:40] sahilsuman933 commented on #739
I think you can decrease the space between icons and text. it will look even better.

[2022-07-03 05:16] Rohith-Raju commented on #739
Ok, @sahilsuman933

[2022-07-03 09:22] ss-sharp123 commented on #734
if there is no assignee I would like to take it up, sounds good like a first issue.

[2022-07-03 09:23] Rohith-Raju commented on #739
@leecalcote  @sahilsuman933 This is what I came up with, we can change logos if it's not up to the mark, also any changes?
![image](https://user-images.githubusercontent.com/55309324/177033466-ffb59e6f-282e-40b0-8722-805370f3f04a.png)

[2022-07-03 09:46] sahilsuman933 commented on #739
@Rohith-Raju it is looking really good. But I think text are not aligned properly and it will be better without the share icon.

What's your view on this @leecalcote

[2022-07-03 09:49] Rohith-Raju commented on #739
Yup I was thinking the same @sahilsuman933 , @leecalcote ?

[2022-07-03 12:14] leecalcote commented on #739
Clarification: the “share” icon is an external link icon, denoting which links will director visitors to another domain.

[2022-07-03 12:16] leecalcote commented on #734
@YashKamboj you’re it is. I opened this second one to give others a chance to try it giving that the other issue’s assignee doesn’t quite grasp the concept.

[2022-07-03 12:17] leecalcote commented on #734
@ss-sharp123, yes, you’re right. Thanks for volunteering. 👍

[2022-07-03 12:27] YashKamboj commented on #711
@Ardent10 Are you facing any issues???

[2022-07-03 15:25] #740 closed

[2022-07-04 09:51] manikmmalhotra opened #757 "Cncf page in meshery.io would look better when Aligned"
**Current Behavior**

In https://meshery.io/programs/meshery/cncf the content are not aligned properly,

**Desired Behavior**

all the content after properly aligned will give more better look

**Screenshots / Mockups**

![Screenshot from 2022-07-04 15-18-48](https://user-images.githubusercontent.com/63007399/177129875-7ee2c508-1403-4d29-9f3b-1a91f4f645fd.png)

**Alternatives**

---
<img src="http

[2022-07-04 11:44] sumitshinde2608 commented on #739
Hey @Rohith-Raju I think the external link icon can be removed( if possible) and increase a font size(or rather weight) a bit to cover up the space

[2022-07-04 11:52] Rohith-Raju commented on #739
Sure, I'll bring it up in my next meet 😄

[2022-07-04 15:10] eeshaanSA commented on #747
These changes are subjective, and are dependant on third party software; and hence not necessary. The decision was taken in the Websites Meeting (4/07/2022).
Marking as closed.

[2022-07-04 15:10] #747 closed

[2022-07-04 19:27] YashKamboj commented on #664
I guess this is no longer an issue, so we should close it, right? @asubedy @warunicorn19

[2022-07-04 19:37] leecalcote commented on #755
Fixed

[2022-07-04 19:37] #755 closed

[2022-07-04 19:41] leecalcote commented on #664
It's not happening on my mobile phone any longer...

[2022-07-04 19:41] #664 closed

[2022-07-05 04:57] Ardent10 commented on #711
Could not find mesheryctl commands.

[2022-07-05 05:33] sumitshinde2608 commented on #729
@leecalcote if @asubedy isn't working on this, I would like to work on it

[2022-07-05 05:43] sumitshinde2608 commented on #732
@leecalcote can you please assign me this, I would like to work on it

[2022-07-05 06:05] asubedy commented on #729
Sure @sumitshinde2608 you can work on this.

[2022-07-05 06:22] sumitshinde2608 commented on #729
thanks @asubedy.

[2022-07-05 10:30] YashKamboj commented on #711
@Ardent10 `mesheryctl system start`

[2022-07-05 12:47] warunicorn19 commented on #729
@sumitshinde2608 I think there's been some sort of a mix up, this issue has already been resolved. Sorry if you've already spent time on this, please feel free to take a look at the other open issues.

[2022-07-05 12:48] #729 closed

[2022-07-05 13:05] sumitshinde2608 commented on #729
@warunicorn19 Currently the OPA and eBPF buttons are not under the 'categories' tab as mentioned in the issue. I thought the desired state was putting these buttons in the 'categories' tab rather in the 'technology' section as there are now. Do correct me I am wrong

[2022-07-05 13:08] warunicorn19 commented on #729
No not exactly, this issue was just to add the radio buttons for OPA and eBPF, I understand the confusion since it says "categories" in the issue.

[2022-07-05 13:09] sumitshinde2608 commented on #729
Cool. I'll look for other issues. Thanks for clearing.

[2022-07-05 13:21] leecalcote commented on #729
@sumitshinde2608, let us know if you don't find one and we'll help get you one.

[2022-07-05 13:22] leecalcote commented on #729
@sumitshinde2608 here's one: the menu item should say "Cloud Native Catalog", not "Service Mesh Catalog":

<img width="1167" alt="Screen Shot 2022-07-05 at 8 21 47 AM" src="https://user-images.githubusercontent.com/7570704/177337798-ded32198-75fd-49e5-85c8-a26d3d84938e.png">

[2022-07-05 13:25] sumitshinde2608 commented on #729
Thanks @leecalcote. I ll update it. I also mentioned you in an open issue regarding Pagination - #732. I would like to work on it if it ain't done

[2022-07-05 13:26] leecalcote commented on #732
@asubedy please update these issues.

[2022-07-05 13:27] #748 closed

[2022-07-05 14:03] Santosh1176 commented on #748
@leecalcote There seems to be some confusion here. @LewSplenda raised the PR to this issue.

[2022-07-05 14:17] LewSplenda commented on #748
Can you explain what PR stands for? if I need to fix/remove anything let me know! I didn't mean to cause any issues or confusion.

[2022-07-05 15:01] Santosh1176 commented on #748
This is about the [Pull Request](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests) you raised where you needed to add the issue number which this PR fixes in the Template which helps in tracking the status of the issue.

[2022-07-05 15:11] Ardent10 commented on #711
That's it? I thought there are other commands specifically for the docker, kubernetes and other platforms.

[2022-07-05 15:12] leecalcote commented on #748
Here we are - https://github.blog/2013-05-14-closing-issues-via-pull-requests/

[2022-07-05 15:12] leecalcote commented on #695
@asubedy is this complete?

[2022-07-05 15:17] LewSplenda commented on #748
Okay I will get this done! Thank you so much for your help. Still learning the ways!

[2022-07-05 16:23] YashKamboj commented on #711
@Ardent10 Yup!!

[2022-07-05 18:13] leecalcote opened #758 "[Meshery UI] : How to import catalog items into Meshery"
**Current Behavior**
"Cloud Native Catalog" is the name of the meshery.io/catalog, which is descriptive, but no instructions are provided to users on how to import catalog items.

**Desired Behavior**
1. Record animated gif or short video demonstrating how to import using Meshery UI.
    1. One for each type of content.
1. Optionally, provide written instructions.

---
<img src="https://raw.github

[2022-07-05 18:14] leecalcote opened #759 "[mesheryctl]: How to import catalog items into Meshery"
**Current Behavior**
"Cloud Native Catalog" is the name of the meshery.io/catalog, which is descriptive, but no instructions are provided to users on how to import catalog items.

**Desired Behavior**
1. Provide written instructions.
1. Also provide a recording, if possible.
    1. `mesheryctl app onboard` record either an animate gif or an ascii cinema demonstrating how to     2.
    1. `filter

[2022-07-06 03:45] Rohith-Raju opened #760 "[UI] Incorrect copy url when clicked on copy url button"
**Description**
`Download  Copy URL Copy to clipboard `  is what users get when clicking on Copy URL on an item in the Cloud Native Catalog.
The problem persists only in newly added wasm filters.

**Expected Behavior**
The correct URL should be copied to the clipboard.

**Screenshots**
![image](https://user-images.githubusercontent.com/55309324/177463374-63ca9c31-0c1b-4aec-af98-36cfbe152fa1.png)

[2022-07-06 19:27] leecalcote commented on #760
@Rohith-Raju are you taking this on?

[2022-07-06 23:10] Rohith-Raju commented on #760
Yes, I am @leecalcote

[2022-07-07 04:14] leecalcote opened #764 "Represent Meshery's broader management capabilities"
**Current Behavior**
Meshery manages all kinds of cloud native infrastructure. Branding it as a service mesh manager only misrepresents the full-breadth of its capabilities.

**Desired Behavior**
Replace most, but not all, instances of "service mesh" with "cloud native". Examples: "service mesh manager", "service mesh management plane", "multi-mesh manager", "multi-mesh management plane"... these

[2022-07-07 11:28] eeshaanSA commented on #764
I would like to work on this issue. We had a talk about this in the sites meeting too.

[2022-07-07 11:31] eeshaanSA commented on #757
Hi manik. Could you please annotate/mark the area where you feel the problem is in the screenshot?

[2022-07-07 12:10] leecalcote commented on #764
Thanks, @eeshaanSA. Sounds real good.

[2022-07-08 05:07] sumitshinde2608 commented on #732
@asubedy Can I work on this?

[2022-07-09 04:35] Rohith-Raju opened #768 "[Docs] Lorem ipsum on Wasm Filter"
**Current State:**
The content is filled with lorem ipsum text
![image](https://user-images.githubusercontent.com/55309324/178091721-09230414-c3d2-4882-bd19-be66aae8174b.png)

**Desired State:**
Content should be updated with the required information.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.com/meshery/m

[2022-07-09 04:45] bhargavmungara commented on #768
Hi @Rohith-Raju, Can i solve this issue Please assign it to me.

[2022-07-09 04:45] subhamgcon commented on #768
Is this issue open for working? @Rohith-Raju , if yes can I work on it?

[2022-07-09 04:47] Rohith-Raju commented on #768
Yes, @bhargavmungara all yours !!

[2022-07-09 04:48] Rohith-Raju commented on #768
@subhamgcon Please be on the lookout for any other issues. I'll try finding you one 😄

[2022-07-09 04:51] bhargavmungara commented on #768
@Rohith-Raju  Can you tell where to find the information to be updated with

[2022-07-09 04:56] Rohith-Raju commented on #768
@bhargavmungara Slack is your best friend, just ask and people will get back to you.

[2022-07-09 04:59] bhargavmungara commented on #768
Thank You @Rohith-Raju. I am super new to this repo. So,it would be better to assign this issue to @subhamgcon. Meanwhile i will get familiar with how this repo working and where to communicate about things.

[2022-07-09 05:21] legendarykamal commented on #768
@Rohith-Raju if possible I would love to work on
This, I have explored Meshery a bit.
If @subhamgcon doesn't have any problem then do assign to me.

[2022-07-09 05:41] subhamgcon commented on #768
I would love to work on this issue! @bhargavmungara @Rohith-Raju.

[2022-07-09 06:04] Rohith-Raju commented on #768
Sounds good @subhamgcon. All yours.

[2022-07-09 06:08] subhamgcon commented on #768
Thanks for assigning the issue @Rohith-Raju. It would be really helpful if you describe the issue to me a little bit so that I can start working on it. Thank you.

[2022-07-09 06:24] Rohith-Raju commented on #768
Sure @subhamgcon, First head over to [meshery catalog](https://meshery.io/catalog). Click on one of the wasm filters. As you can see that there is some filler text( which doesn't make sense ). You'll have to replace that text with the actual content. 😄

[2022-07-10 14:15] eeshaanSA commented on #764
<img width="661" alt="image" src="https://user-images.githubusercontent.com/100678386/178148642-619fa07e-003e-45a5-9535-8410ffdd2255.png">

Would a change here be appropriate?

[2022-07-11 05:27] #705 closed

[2022-07-11 13:04] manikmmalhotra commented on #757
@Chadha93 need your suggestion here

[2022-07-11 14:56] Chadha93 commented on #757
@manikmmalhotra What alignment issues are you highlighting? Please propose your suggestions in the PR description for specific alignments of components.

[2022-07-11 15:50] manikmmalhotra commented on #757
@Chadha93 aligning as shown in the screenshot
![757](https://user-images.githubusercontent.com/63007399/178304727-71993d25-bd6a-45de-8dd8-d59a520f0dca.png)

[2022-07-14 19:20] leecalcote opened #770 "Custom GitHub Issue Type"
**Description**
To facilitate contributors to the Meshery Catalog, a new GH issue type can be created to template ties new additions or updates to existing catalog items. See `layer5io/layer5` GH Issue Templates for some great examples.

Create two custom issue types:

1. Add / Update Catalog Item
    (feature)
2. Catalog Bug

### Contributor Resources

The meshery.io website uses Jekyll and GitHu

[2022-07-14 19:23] leecalcote opened #771 "[Catalog] Small-sized video displayed"
**Description**
Only a thumbnail of the video displays.

**Expected Behavior**
Full-sized video should display.

**Screenshots**
<img width="1203" alt="Screen Shot 2022-07-14 at 2 18 15 PM" src="https://user-images.githubusercontent.com/7570704/179066104-2f4dc824-4b3c-4aed-b358-a82718ea63a3.png">

**Enviroment:**
 - Browser: Safari

### Contributor Resources

The meshery.io website uses Jekyll and

[2022-07-14 19:25] leecalcote opened #772 "[Catalog] Improve ease by which modal can be dismissed"
**Current Behavior**
Users have to hunt for the small X to close the modal.

**Desired Behavior**
Users can click anywhere outside of the modal to dismiss the modal.

**Screenshots / Mockups**
<img width="1162" alt="Screen Shot 2022-07-14 at 2 23 35 PM" src="https://user-images.githubusercontent.com/7570704/179066729-0904a634-437d-4d99-9e19-73f04f4a9ce0.png">

---
<img src="https://raw.githubuserc

[2022-07-14 19:26] leecalcote commented on #772
I'm just seeing https://github.com/meshery/meshery.io/pull/767. // @Rohith-Raju

[2022-07-14 19:45] leecalcote opened #773 "[Catalog] Contributor Instructions"
**Current State of the Meshery.io site**
Missing contributor instructions on how to add an item.

**Desired State of the Meshery.io site**
"Have a design pattern to share? [Add yours to the catalog]." - add this sentence adjacent to the Meshery import instructions.

<img width="1127" alt="Screen Shot 2022-07-14 at 2 45 59 PM" src="https://user-images.githubusercontent.com/7570704/179070398-ac01f90

[2022-07-14 20:08] leecalcote opened #774 "[Catalog] Item Modal: Horizontally-wrap compatibility list in responsive mode"
**Desired Behavior**
<img width="469" alt="Screen Shot 2022-07-14 at 2 58 20 PM" src="https://user-images.githubusercontent.com/7570704/179074103-904e36bc-e9b0-4124-a789-343f946dd866.png">

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](https://docs.meshery.io/project/contributing) and Re

[2022-07-14 20:09] leecalcote commented on #774
@Rohith-Raju here's a follow up issue post-merge of your current catalog PR.

[2022-07-14 20:12] warunicorn19 commented on #771
Safari specific

[2022-07-14 20:49] manikmmalhotra commented on #771
i would like to try this

[2022-07-14 20:58] warunicorn19 commented on #771
Go ahead @manikmmalhotra. Before you start looking into this though, do have access to safari?

[2022-07-14 21:00] manikmmalhotra commented on #771
yea i've access to safari

[2022-07-15 01:28] Rohith-Raju commented on #774
Sure @leecalcote

[2022-07-15 01:31] Rohith-Raju commented on #772
@leecalcote, I could fix it, but I have no access to safari to experiment and resolve the issue.

[2022-07-15 05:16] leecalcote commented on #772
@manikmmalhotra ?

[2022-07-15 05:22] manikmmalhotra commented on #772
@leecalcote yea I'll work on this too

[2022-07-15 09:17] leecalcote commented on #764
Yes, @eeshaanSA. How are you progressing the rest of this issue?

[2022-07-15 09:21] warunicorn19 commented on #773
Yes I will complete today.

[2022-07-15 09:56] warunicorn19 commented on #773
@leecalcote should this link to the ISSUE TEMPLATE that I've made for the catalog?

[2022-07-15 10:03] #770 closed

[2022-07-15 10:03] #773 closed

[2022-07-15 10:09] #759 closed

[2022-07-15 10:09] #758 closed

[2022-07-15 10:09] #733 closed

[2022-07-15 10:15] leecalcote commented on #773
I would rather than people are directly contributing instead of opening issues for maintainers to update on their behalf.

[2022-07-15 14:30] asubedy opened #778 "[Site] Change the background color of the menu similar to the Docs website"
**Current State of the Meshery.io site**
Currently the menu  of individual pages in meshery.io site has this background color
![image](https://user-images.githubusercontent.com/51183483/179243848-8fdc3806-b948-43a1-93cf-211fb1c59c26.png)

**Desired State of the Meshery.io site**
Change the background color of the menu similar to https://docs.meshery.io
![image](https://user-images.githubuserconten

[2022-07-15 14:41] Santosh1176 commented on #778
@asubedy Can I work on this?

[2022-07-15 14:42] asubedy commented on #778
Sure @Santosh1176 🚀

[2022-07-15 16:02] lodenrogue commented on #778
From what I can tell this is the solution:

[code]

[2022-07-15 16:03] lodenrogue commented on #778
If @Santosh1176 is not able to complete this let me know and I'll try to add the fix.

[2022-07-15 16:49] eeshaanSA commented on #764
Pretty well. I have been thinking of various methods we can use to find all/most of the instances where correction is needed.
I am also going to discuss this issue in the upcoming websites call, hoping for some help regarding the same.

[2022-07-15 21:00] #778 closed

[2022-07-16 08:44] harkiratsm commented on #764
@eeshaanSA you can checkout this [pr](https://github.com/meshery/meshery/pull/5805) to get a understanding on what changes are required.

[2022-07-16 09:49] eeshaanSA commented on #764
Thanks @leecalcote for referencing @harkiratsm. Thanks for the link to the PR. I have gotten a rough idea in my mind now. Will push a few commits soon, to atleast get started with this issue.

[2022-07-16 09:51] eeshaanSA commented on #764
@harkiratsm would you like to collaborate though? I wouldn't mind. 😄

[2022-07-16 12:16] leecalcote commented on #764
@eeshaanSA, that’s good. We’re 9 days into the issue. We’re in need of having it completed. Let’s set 5pm IST on Sunday (tomorrow) as the deadline to have this issue completed in-full. I’ll reassign after this point. If this timeframe is too tight, don’t sweat it. We’ll find you another issue.

[2022-07-16 12:27] eeshaanSA commented on #764
No worries, will have it done. 😄
I have already linked a PR for the same, need suggestions there @leecalcote .

[2022-07-18 03:34] #677 closed

[2022-07-20 12:28] echo-sg opened #783 "[UI] Navbar Overrides the Catalog Heading and Catalog Item text overflows the card"
**Description and Expected Behaviour**
There are some bugs with the current UI on the web. They are listed as follows:
- Navbar overrides the Heading.
Heading should be clearly visible and there should be space between navbar and heading.
![image](https://user-images.githubusercontent.com/56088056/179977924-98a16a62-4949-4e48-bf67-c82481a0be5f.png)
- Card Name overflows outside the card for longer

[2022-07-20 12:36] manikmmalhotra commented on #783
@echo-sg it's working fine on my system, can you specify the aspect ratio for this ?

[2022-07-21 03:34] echo-sg commented on #783
Aspect ratio is 16:9
Screen resolution: 1920x1080 pixels
Browser's inner resolution: 1920x920 pixels

[2022-07-22 02:36] #715 closed

[2022-07-22 02:36] #735 closed

[2022-07-22 04:10] leecalcote commented on #715
@Rohith-Raju i think that you have this one covered with n your upcoming PR…. @asubedy ?

[2022-07-22 04:35] asubedy commented on #715
Yes @leecalcote  this will be covered once @Rohith-Raju PR gets merged, just one final image issue is left.

[2022-07-22 04:44] #772 closed

[2022-07-22 21:41] manikmmalhotra opened #784 "Responsiveness lagging on the catalog section"
**Description**
A brief description of the issue.
the responsive design of the meshery.io/catalog has some bugs as shown in the image below:

**Expected Behavior**
A brief description of what you expected to happen.
the logos shouldn't be cropped when in responsive form
**Screenshots**
Add screenshots, if applicable, to help explain your problem.
![WhatsApp Image 2022-07-23 at 3 05 29 AM](https://

[2022-07-23 11:29] Rohith-Raju commented on #784
Yes @manikmmalhotra, I'm working on it. Thanks for creating the issue 😄

[2022-07-23 12:45] manikmmalhotra commented on #784
sure @Rohith-Raju lemme know if i could help

[2022-07-23 14:57] Rohith-Raju commented on #784
Sure @manikmmalhotra, I'll ask for help if I need any. 😄

[2022-07-25 21:58] leecalcote opened #786 "[Catalog] Improve display of prev / next item links"
**Current Behavior**

<img width="1090" alt="Screen Shot 2022-07-25 at 7 59 51 AM" src="https://user-images.githubusercontent.com/7570704/180880791-606a252d-8830-48a4-b951-113f43c446db.png">

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](https://docs.meshery.io/project/contributing) and

[2022-07-26 11:56] #764 closed

[2022-07-26 20:35] leecalcote commented on #731
Help, help!

[2022-07-26 20:35] leecalcote commented on #731
@shivaylamba, perhaps?

[2022-07-27 11:35] Rohith-Raju opened #788 "Fix typos in meshery Catalog page"
**Description**
Check for typos and fix them. One of which is
![image](https://user-images.githubusercontent.com/55309324/181236595-d457964a-472a-4dbb-aada-e636464e34dc.png)

**Expected Behavior**
Fix typos

### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the

[2022-07-27 11:38] manikmmalhotra commented on #788
@Rohith-Raju i'll work on this one

[2022-07-27 11:43] Rohith-Raju commented on #786
@leecalcote , @warunicorn19 I think I already addressed this in my upcoming [pr](https://github.com/meshery/meshery.io/pull/767)
![image](https://user-images.githubusercontent.com/55309324/181238589-d0d3ddf9-1fbc-4aa0-bdab-421e7b42bf22.png)

[2022-07-27 11:47] Rohith-Raju commented on #788
Sure @manikmmalhotra

[2022-07-27 14:39] rakshitgondwal commented on #788
Hey @Rohith-Raju
Can i work on this issue too?

[2022-07-27 15:26] legendarykamal commented on #760
hi, @Rohith-Raju are you still working on this issue?

[2022-07-28 06:31] warunicorn19 opened #790 "[Catalog] Create a reusable modal component."
**Current Behavior**
With our current approach, we have to create a new modal component every time we need to put something in a modal.

**Desired Behavior**
There should be a reusable modal component that can be used everywhere.

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align=

[2022-07-28 06:31] warunicorn19 commented on #790
@Rohith-Raju @manikmmalhotra @asubedy any one of you guys want to pick this one up??

[2022-07-28 06:34] #771 closed

[2022-07-28 06:41] manikmmalhotra commented on #790
@warunicorn19 I can work on this

[2022-07-28 09:07] Rohith-Raju commented on #786
@leecalcote @warunicorn19 The catalog pr is merged 😄

[2022-07-28 09:07] #786 closed

[2022-07-29 08:50] sourav-sharma7 commented on #757
![Screenshot from 2022-07-29 14-17-38](https://user-images.githubusercontent.com/78010922/181721793-ba0a5323-0a98-44c9-8e80-276460ec6006.png)

@manikmmalhotra @Chadha93
is this what we are trying to achieve ?

[2022-07-29 09:49] Chadha93 commented on #757
// @warunicorn19 views...

[2022-07-29 09:53] warunicorn19 commented on #757
The proposed solution looks good. @manikmmalhotra @sourav-sharma7

[2022-07-29 10:06] manikmmalhotra commented on #757
@warunicorn19 yes, great work @sourav-sharma7

[2022-07-29 19:39] Chadha93 opened #791 "[Site] Remove the extra LFX text"
**Description**
Remove the extra LFX text
![bug](https://user-images.githubusercontent.com/65453826/181832216-652d3272-d497-4c06-a626-e0c99cfe2210.png)

**Expected Behavior**
Just keep the LFX logo, remove the extra text highlighted.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.

[2022-07-29 20:41] legendarykamal commented on #791
@Chadha93 may I take on this?

[2022-07-29 20:43] Chadha93 commented on #791
All yours @legendarykamal

[2022-07-30 04:53] mihir2226 commented on #791
May I land hand to this project

[2022-07-30 05:31] legendarykamal commented on #791
hi @mihir2226  this has been completed but you might want to try your hands on many good first issues waiting for you like this one https://github.com/layer5io/layer5/issues/2991

[2022-07-30 07:26] #791 closed

[2022-07-30 12:37] Rohith-Raju commented on #760
@legendarykamal, Was working on catalog but didn't really get to this. Do you want to take this up?

[2022-07-31 04:02] legendarykamal commented on #760
yes @Rohith-Raju I saw you were quite into much things, Yes I will take this up :)

[2022-07-31 04:08] Rohith-Raju commented on #760
Sure @legendarykamal all yours!

[2022-07-31 15:43] #788 closed

[2022-07-31 15:45] #757 closed

[2022-08-01 13:00] asubedy commented on #790
@warunicorn19 aren't we using this already we have a `modal.html` file inside include which we are using to show the modal on all cases.

[2022-08-01 13:05] asubedy commented on #790
Oh ok a modal component for the entire Meshery.io page. got it

[2022-08-02 14:08] #774 closed

[2022-08-02 18:57] warunicorn19 commented on #790
Please go ahead @manikmmalhotra

[2022-08-04 05:04] leecalcote commented on #730
Is pagination still a to-do item?

[2022-08-04 05:04] leecalcote commented on #730
@asubedy make a call for help?

[2022-08-04 15:01] asubedy commented on #730
Yes I'll make an issue for the pagination. I can't seem to figure it out.

[2022-08-04 21:33] #739 closed

[2022-08-08 07:39] manikmmalhotra commented on #790
@warunicorn19 any designs for this ??

[2022-08-08 08:58] warunicorn19 commented on #790
Nope no designs, the modal should be customizable according to its need.

[2022-08-09 17:44] Santosh1176 opened #803 "Change background color of Header Navbar in getting started page"
#### Current State of the Meshery.io site

Currently, the background color of the Navbar in the [Getting Started](https://meshery.io/#getting-started) page has a dark background color.
![meshery-todo](https://user-images.githubusercontent.com/91916466/183722525-0d1d1342-eef4-4033-b525-ed66a983f85f.png)

#### Desired State of the Meshery.io site

To maintain consistency, change the background color

[2022-08-10 04:11] #734 closed

[2022-08-11 14:10] sourav-sharma7 commented on #803
Hi @Santosh1176 Can You please assign me this issue I would like to work on this one

[2022-08-11 14:23] sourav-sharma7 commented on #803
![Screenshot from 2022-08-11 19-51-59](https://user-images.githubusercontent.com/78010922/184155740-37354d83-781c-4288-82d6-1ffce90c89d3.png)
Is this what we are trying to achieve

[2022-08-12 01:38] #711 closed

[2022-08-12 05:59] Santosh1176 commented on #803
@sourav-sharma7 Thank you for asking. A member will shortly assign you this task. Meanwhile, you can checkout the background Color for [Meshery docs](https://docs.meshery.io/), that’s the desired outcome.

[2022-08-13 12:07] sourav-sharma7 opened #804 "Meshery catalog site text overwrite"
#### Description

Text overwrite and program catalog item is cropped in mobile view of site

#### Expected Behavior

suitable space to avoid overwrite and cropped program icon fixed

#### Screenshots

![WhatsApp Image 2022-08-13 at 5 24 24 PM](https://user-images.githubusercontent.com/78010922/184493350-f225a39b-5757-4b88-b770-b8196591e31f.jpeg)

#### Enviroment:
 - OS: Mac Linux Windows
 - Browse

[2022-08-13 12:10] YashKamboj commented on #804
Already an open pr @sourav-sharma7

[2022-08-13 12:10] #804 closed

[2022-08-14 10:48] Prathamesh-Shanbhag opened #805 "[UI] Consistency in Button Width on Landing Page"
#### Description
The Buttons linking to other pages on the Landing page are of inconsistent width.

#### Expected Behavior
Consistent Width for all Buttons on the Main Page

#### Screenshots
![image](https://user-images.githubusercontent.com/70568620/184533208-58582db1-3f66-432c-b7a3-f89f9f2b2ae9.png)

#### Environment:
 - OS: Windows
 - Browser: Chrome
 - Version: 103.0.5060.134 (Official Build)

[2022-08-14 10:49] Prathamesh-Shanbhag commented on #805
If this issue gets approved I would like to work on it!

[2022-08-14 17:15] asubedy commented on #732
Ok I am trying this one final time. I will present my finding and problems in tomorrow's websites call.

[2022-08-16 08:43] Rohith-Raju commented on #768
@subhamgcon any updates?

[2022-08-17 14:44] eeshaanSA opened #806 "Fix missing spaces on meshery.io homepage"
#### Current State of the Meshery.io site

On the home page, the text under the Patterns section misses a space bar.
<img width="387" alt="image" src="https://user-images.githubusercontent.com/100678386/185167097-28f9dfc7-ac29-4483-8480-97740060b3e2.png">

#### Desired State of the Meshery.io site

<img width="305" alt="image" src="https://user-images.githubusercontent.com/100678386/185168623-2d20

[2022-08-17 14:44] eeshaanSA commented on #806
Would like to fix this myself.

[2022-08-17 14:46] eeshaanSA commented on #803
Would like to work on this issue, I have made some changes to the getting started section before, so I have an idea about what needs to be done.

[2022-08-17 14:52] sourav-sharma7 commented on #803
Hi @eeshaanSA I was working on this issue for quite a while and will be making a PR today. Thanks for volunteering can I help you to find a different issue.

[2022-08-17 16:49] bhavyastar commented on #806
I would like to work on this issue.

[2022-08-17 20:21] eeshaanSA commented on #803
@sourav-sharma7 no problem. I can volunteer to help if you need any. Let me know. Also make sure the issue is approved before you start working on it.

[2022-08-18 17:24] sourav-sharma7 commented on #803
Thanks a lot @eeshaanSA will make sure of that.

[2022-08-18 18:03] warunicorn19 commented on #803
This is by design, there's no need for change here. We want the Getting Started section to stand out.

[2022-08-18 18:03] #803 closed

[2022-08-19 13:54] Revolyssup opened #807 "Add Spire logo on public facing Design catalogue"
**Current Behavior**

Currently on the IstioSpire design, we do not show the Spire logo on the card https://meshery.io/catalog

**Desired Behavior**

A spire logo should be added
**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](https://docs.meshe

[2022-08-19 15:01] mharshita commented on #807
@Revolyssup Can I work on this issue?

[2022-08-19 15:13] leecalcote commented on #807
@mharshita, yes, please. See @asubedy, if you have questions.

[2022-08-19 15:32] mharshita commented on #807
Sure, Thankyou!

[2022-08-20 13:21] mharshita commented on #807
Hi @asubedy! I had a few doubts. Can you please check slack DM?

[2022-08-20 19:07] eeshaanSA commented on #806
Issue fixed.

[2022-08-20 19:07] #806 closed

[2022-08-21 18:28] mharshita commented on #807
Hi @Revolyssup! I have made the changes but I am not sure about the position of both logos. Can you please confirm if this is the desired result?
<img width="1180" alt="Screenshot 2022-08-21 at 11 55 14 PM" src="https://user-images.githubusercontent.com/60281688/185805546-51ceea0b-de4d-4b89-a97d-ac9e8b9efff4.png">
<img width="872" alt="Screenshot 2022-08-21 at 11 55 27 PM" src="https://user-images

[2022-08-22 06:47] eeshaanSA commented on #768
@Rohith-Raju, i dont mind taking this up real quick, unless its for ones who are just starting out?

[2022-08-22 07:26] asubedy commented on #807
@mharshita , this is not the desired result. We want the Istio + Spire logo only on the Istion and Spire card. So logo change on just this card
<img width="255" alt="image" src="https://user-images.githubusercontent.com/51183483/185863437-2395cd75-9a68-46f7-b68f-93461359dcc3.png">

Here you should add the Istio and Spire logo instead of the pattern logo (the dots and line) and leave others as it i

[2022-08-22 13:08] legendarykamal commented on #732
Hi @asubedy i would love to complete this one 1⃣

[2022-08-22 13:45] sumitshinde2608 commented on #732
Me too @asubedy

[2022-08-22 13:50] mharshita commented on #807
I have made a PR. Please review.
<img width="294" alt="Screenshot 2022-08-22 at 7 16 11 PM" src="https://user-images.githubusercontent.com/60281688/185937288-dda7b8ae-456a-4508-ab22-ab4544e98d8c.png">

[2022-08-22 16:58] UtkarshMishra12 opened #810 "Typo Fix"
While looking at the Meshery website I saw a typo under the heading Operate with configuration best practices i.e  **Operational** is misspelled **(oprational)**
![Screenshot (450)](https://user-images.githubusercontent.com/67385503/185976835-1046dc37-7b53-49fa-84f7-20576856a3d6.png)

I would love to fix this typo

[2022-08-22 17:17] warunicorn19 commented on #810
Go ahead @UtkarshMishra12

[2022-08-22 17:37] asubedy commented on #732
Great @legendarykamal 🚀 .

[2022-08-22 17:48] #810 closed

[2022-08-23 09:11] eeshaanSA commented on #768
sure, thanks @Rohith-Raju!
Can you or anyone fill me in with the content to be replaced? maybe @leecalcote can.

[2022-08-24 18:22] leecalcote commented on #805
@Prathamesh-Shanbhag thanks for this. Will you propose a solution? "Consistent width" as a solution means cutting off half of the text or...?

[2022-08-25 00:48] #807 closed

[2022-08-25 14:34] Prathamesh-Shanbhag commented on #805
Nope not at all, we keep the text as is: Only introduce a Max-width property for the text which also works perfectly on the Mobile version of the website

[2022-08-26 12:07] asubedy opened #817 "Twitter feed on the footer is overflowing"
#### Description

https://user-images.githubusercontent.com/51183483/186899420-79336125-e29d-4cb4-ab62-f60765988a12.mov

#### Expected Behavior

Fix the height of the twitter feed. Reference: https://smp-spec.io
#### Screenshots

#### Enviroment:
 - OS: Mac
 - Browser: Safari
 - Version:
 - Device: Desktop

---
### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](h

[2022-08-26 12:10] legendarykamal commented on #817
Jekyll 😃 Pls assign me to fix this 🔧

[2022-08-26 12:12] asubedy commented on #817
Sure, here you go 🚀

[2022-08-27 17:12] vedant-kakde opened #820 "Fix program name on meshery.io/programs page"
#### Current State of the Meshery.io site
![image](https://user-images.githubusercontent.com/69970950/187040604-6d05772e-8c80-4179-9def-09a57c9290db.png)

#### Desired State of the Meshery.io site
![image](https://user-images.githubusercontent.com/69970950/187040668-65cb252e-bf0a-4617-b353-67052c5a94a2.png)

Replace the heading "Google Summer of Docs" with "Google Season of Docs".

---
### Contrib

[2022-08-27 17:13] Himanshu664 commented on #820
I want to work on this please assign

[2022-08-27 17:25] vedant-kakde commented on #820
Here you go @Himanshu664 🚀

[2022-08-27 18:04] #820 closed

[2022-08-27 18:57] vedant-kakde commented on #805
@leecalcote any updates on this issue?

[2022-08-27 19:10] leecalcote commented on #805
Oh, I see. Not so much width, but consistent padding/margin. Yes, that'd be great. Please do proceed, @Prathamesh-Shanbhag, @vedant-kakde 👍

[2022-08-27 19:41] cunbex opened #822 "Nav bar drop-down menu problem"
#### Description

The nav bar class : " nav-item has-sub " the two drop down menu's when hovering over both ( community and resources ) they both drop down which causes an overlay on top of each other.

#### Expected Behavior

the user must be able to hover over only one , a single drop down menu occurs not both

#### Screenshots

https://user-images.githubusercontent.com/98683647/187045538-bdbfd6

[2022-08-27 20:09] leecalcote commented on #822
Good eye, @cunbex. Is this an item that you would like to work on?

[2022-08-27 20:20] cunbex commented on #822
Oh Na sorry I'm just a beginner I have no experience in Javascript or css yet , I'm still learning the basics , can't get my hands dirty yet . Thnx for asking tho

[2022-08-27 20:33] legendarykamal commented on #822
JS + help wanted am here to 🙂
Please assign me @leecalcote .

[2022-08-28 06:30] eeshaanSA commented on #822
Would like to try this one. I can work on it.

[2022-08-28 11:43] Aqdas-7 commented on #822
I can help...

[2022-08-28 13:47] leecalcote commented on #822
Thank you, all. Assigning in order of request…

[2022-08-29 04:07] adityyaa-10 opened #824 "Scrolling Option inside the twitter column"
![image](https://user-images.githubusercontent.com/103577578/187120836-9d4e777c-5e8e-40fd-b88a-fbbb747889da.png)

This "Tweets from mesheryio" box should occupy just a certain height and width, and there should be a scrolling option right inside the box.

[2022-08-29 04:10] Himanshu664 commented on #824
Can I try this Issue

[2022-08-29 05:09] deveshXm commented on #824
Hey! Can i also work on this issue

[2022-08-29 08:58] Kanika637 opened #825 "[Docs] Dark mode for meshery documentation"
**Current State:**
Right now the documentation for meshery is available in light mode only

![image](https://user-images.githubusercontent.com/84350895/187164173-89aa7d0b-7ed3-4a1b-b1b6-c530c17e32c5.png)

**Desired State:**
An option for a dark theme in the documentation would be more useful and practical as most developers love dark mode.
---
**Contributor Resources**
- [Meshery documentation sit

[2022-08-29 09:00] Kanika637 commented on #825
If approved, I would like to work on this issue.

[2022-08-29 09:13] Harshit-Dandriyal commented on #825
Hey @Kanika637, It's great that you are interested in this, We really need a dark mode, But yes, This issue can take much time to tackle and need focus as we can have merge conflict day by day, hence not a beginner-friendly issue, We have many contributors who assign themself issue but does not stand with that, If you are really into this we can go ahead, I am the one who created a dark theme for

[2022-08-29 11:50] Kanika637 commented on #825
Surely I would love to work on this @Harshit-Dandriyal @eeshaanSA ✌️

[2022-08-29 16:06] Prathamesh-Shanbhag commented on #805
Thank you @vedant-kakde ,
@leecalcote I have fixed the issue.
Now the buttons have consistent padding across the page.

[2022-08-29 18:36] joanamadasun commented on #820
I and  and Sinon are  redesigning this page please

[2022-08-30 04:47] eeshaanSA commented on #825
Great!! 🎉

[2022-08-30 06:51] #805 closed

[2022-08-30 12:09] Prathamesh-Shanbhag commented on #824
Hey can you assign this issue to me, I have the perfect solution for this.

[2022-08-30 12:10] vedant-kakde commented on #824
@Prathamesh-Shanbhag 🚀

[2022-09-01 14:25] #824 closed

[2022-09-01 17:26] #760 closed

[2022-09-01 19:21] anirudhp26 commented on #822
is this issue still open? If yes then i would like to work on it @leecalcote

[2022-09-01 19:23] anirudhp26 commented on #825
@Kanika637 @eeshaanSA can i help out in this feature too?

[2022-09-01 19:33] anirudhp26 opened #832 "Styling the Dropdown Button on top right of Meshery's Docs page"
**Styling the Dropdown Button**

**Screenshots / Mockups**

![image](https://user-images.githubusercontent.com/107875381/187997123-176ddcf3-29e3-456f-874e-181f31aad2d6.png)

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources</h4>

-

[2022-09-01 19:34] Himanshu664 commented on #832
I want to work on this

[2022-09-01 19:34] anirudhp26 commented on #832
Same here @Himanshu664

[2022-09-01 19:36] anirudhp26 commented on #832
Maybe we can work together?

[2022-09-01 19:36] legendarykamal commented on #822
hey @anirudhp26 nope , there's a PR linked with the issue  but I am sure you can find another good one to work for you.
Thanks

[2022-09-01 19:36] anirudhp26 commented on #832
It's my first time Raising an issue and contributing

[2022-09-01 19:39] anirudhp26 commented on #822
@legendarykamal ok sure, and i have raised an issue but am having trouble with that

[2022-09-01 19:41] legendarykamal commented on #822
well , let me help u with that :smiley:

[2022-09-01 19:41] anirudhp26 commented on #832
@Himanshu664 where can i find files for the Meshery's Doc page?

[2022-09-01 19:44] anirudhp26 commented on #832
@legendarykamal i am not able to find files relevent to this issue

[2022-09-01 19:44] legendarykamal commented on #832
hey @anirudhp26 I see , just mention what changes you expect to do.

you can find it on the meshery repo.

[2022-09-01 19:47] legendarykamal commented on #832
ok open your issue there https://github.com/meshery/meshery/issues would be great .
I am closing it here :+1:

[2022-09-01 19:48] anirudhp26 commented on #832
ok thanks

[2022-09-01 19:48] #832 closed

[2022-09-05 19:03] asubedy commented on #730
Closing this issue, 1 is complete 2 is being tracked in https://github.com/meshery/meshery.io/issues/732

[2022-09-05 19:03] #730 closed

[2022-09-06 05:10] lavakush07 opened #833 "Update the small typo"
#### Current State

- Correct the word **compatibilty** . While I am reading the docs I came to this one.
![image](https://user-images.githubusercontent.com/70131581/188363695-8d8f7105-173f-4127-b06b-6f3f6f16ec73.png)

#### Desired State

- Change it to **compatibility**
- A beginner friendly issue. Any new comer can take this one
---

#### Contributor [Guides](https://docs.meshery.io/project/cont

[2022-09-07 01:31] #783 closed

[2022-09-07 03:36] leecalcote commented on #784
@Rohith-Raju should we reassign? @asubedy can you pick this up?

[2022-09-07 03:38] leecalcote commented on #731
@shivaylamba?

@asubedy?

[2022-09-07 03:39] shivaylamba commented on #731
Hi @leecalcote I will take a look at this issue. And let you know

[2022-09-07 03:44] Rohith-Raju commented on #784
@leecalcote is almost done actually, I'll demo this at today's meeting and get it merged if everything is ok.

[2022-09-08 04:44] sam1code commented on #833
Hii @lavakush07 can you please assign me this one please I'm a biginner to mershy.

[2022-09-08 04:47] leecalcote commented on #833
More tough love, @sam1code. No, an issue to fix a typo will not be assigned to someone who includes typos in the request to fix typos.

Again, this message follows on our private conversations and is sent from a place of a desire to build you up through tough love (because it isn't working otherwise).

Find another issue, please, @sam1code.

[2022-09-08 04:49] sam1code commented on #833
Yes I also will not count this...

[2022-09-08 18:17] Harshit-Dandriyal commented on #825
Sorry, @Kanika637 @eeshaanSA This plan for a dark theme is a little delayed from our current focus, I would love to invite you when we will start working on this..

[2022-09-14 07:43] #784 closed

[2022-09-14 07:43] #731 closed

[2022-09-14 18:12] #790 closed

[2022-09-15 03:32] #833 closed

[2022-09-15 16:54] leecalcote commented on #817
@asubedy @legendarykamal I'm not able to reproduce this issue in Safari. Is this a Chrome-specific issue?

[2022-09-16 09:19] asubedy commented on #817
I guess we can close this 😅 , the issue has been miraculously solved

[2022-09-16 10:30] leecalcote commented on #817
It’s a miracle!

[2022-09-16 10:30] #817 closed

[2022-09-16 11:55] legendarykamal opened #838 "[Twitter] feed's border needs to be circular"
**Current Behavior**

![image](https://user-images.githubusercontent.com/95926324/190630152-2be1037e-b9fc-4dc9-bc12-8b660e52d301.png)

**Desired Behavior**

For consistency with other sites of meshery  like smp.spec Twitter feed's border  needs to be circular
**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-

[2022-09-17 05:23] simrangupta234 commented on #825
Hey! can I work on this?

[2022-09-22 15:29] Lalman888 commented on #838
Is this issue resolved?

[2022-09-23 09:52] CyrineG opened #840 "[Docs] Update the getting started Helm steps"
**Current State:**
![image](https://user-images.githubusercontent.com/25556789/191935561-18c45e23-396d-473f-a1b0-6b94d28e5984.png)

**Desired State:**
update the helm getting started state to be :

[code]

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for co

[2022-09-23 18:15] K0more commented on #840
Hey @CyrineG, I am new to this project, can I get assigned to this issue.

[2022-09-23 22:24] CyrineG commented on #840
@K0more sure! I'll assign it to you!

[2022-09-25 17:06] K0more commented on #840
@CyrineG I have updated the docs, could you review the PR for any suggestions.

[2022-09-27 21:51] acald-creator commented on #768
ack, will work on this

[2022-09-28 20:06] UtkarshMishra12 opened #843 "Improper Alignment of Boxes"
#### Description

While scrolling on the website I noticed a strange behavior in the size of the boxes (attaching the screenshot of the same)

#### Expected Behavior

The size of the boxes should be identical. (i.e Community Newsletter )

#### Screenshots

![Screenshot (465)](https://user-images.githubusercontent.com/67385503/192878002-54ef21f9-fb39-4402-8068-19b2ebf12973.png)

#### Enviroment:
 -

[2022-09-28 20:07] UtkarshMishra12 commented on #843
I would like to work on this issue

[2022-09-28 20:14] leecalcote commented on #843
Good stuff, @UtkarshMishra12. Thank you.

[2022-09-28 20:17] #840 closed

[2022-09-30 08:26] UtkarshMishra12 opened #844 "Add meshery & slack logo to the readme"
#### Description

There are logos in README.md that have very low contrast in light/dark mode.
i.e Meshery Logo (In Dark Mode and Light Mode) & Slack Logo in Light Mode
#### Expected Behavior

Changing the logos for dark/light mode with high contrast

#### Screenshots

![Screenshot (466)](https://user-images.githubusercontent.com/67385503/193226177-d2f1adca-a077-470f-9ac9-0432f9044856.png)
![Scree

[2022-09-30 08:26] UtkarshMishra12 commented on #844
I would like to work on this issue. Can you please assign it to me?

[2022-10-01 03:29] Krishna2323 opened #845 "Homepage contents section 1 improper image size."
Description
In The Contents Section 1, The Video Recording Image Link Size Is Improper.

Screenshot
![Screenshot 2022-10-01 084841](https://user-images.githubusercontent.com/85894871/193385038-9c07de00-927e-427e-ab37-66fc42cda8ea.png)

#### Desired State of the contents section 1
The Image Must Take All The Width Of The Flex Item Container Be Aligned With Other Content Sections.

Screenshot
![Scre

[2022-10-01 03:31] Krishna2323 commented on #845
I worked on the issue and resolved it. Can you please assign it to me?

[2022-10-01 04:43] leecalcote commented on #845
Thanks, @Krishna2323

[2022-10-01 18:40] eeshaanSA opened #847 "Text and Heading not aligned, Getting Started Section."
#### Description

Text not aligned with the Heading on meshery.io site Getting Started Section.
![image](https://user-images.githubusercontent.com/100678386/193423587-764d3845-1057-47ca-afcc-cb643a3e0e42.png)

#### Expected Behavior

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Guides](http

[2022-10-01 18:40] eeshaanSA commented on #847
Can you please assign this to me? @legendarykamal

[2022-10-01 18:52] legendarykamal commented on #847
sounds good , remember that the followup texts don't get disturbed.

[2022-10-01 20:59] Krishna2323 opened #849 "Homepage reversehero section is not responsive."
#### Description
The reverse-hero section on the homepage is not responsive. Overflowing at around 600px of width.

#### Expected Behavior
The section must be wrapped into separate lines if needed.

#### Screenshots
![Screenshot 2022-10-02 022502](https://user-images.githubusercontent.com/85894871/193428115-7fc76029-6c3c-44ac-a73f-af3433b8da1e.png)

#### Environment:
 - OS: Windows
 - Browser: Chr

[2022-10-01 21:23] leecalcote commented on #849
thanks. Which it is fixed. Is this an issue that you were wearing to work on, @Krishna2323 ?

[2022-10-01 21:27] leecalcote commented on #847
I'm not convinced that this is an issue. It's easy for your eyes to play tricks on you when two fonts are of different sizes like this. I'll close this until you prove me wrong (please do).

[2022-10-01 21:27] #847 closed

[2022-10-01 21:34] leecalcote commented on #768
Thank you, @acald-creator. A few markdown updates will do the trick.

[2022-10-01 21:39] Krishna2323 opened #850 "Buttons transition is not set in the homepage>reverse-hero section>mailing-list"
**Current Behavior**
The transition behavior is not set on the buttons making it look different from other buttons.

**Desired Behavior**
The transition property should be defined on the buttons to make it look better.

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h

[2022-10-01 21:41] Krishna2323 commented on #849
Thanks, @leecalcote ✌.

[2022-10-01 21:42] leecalcote commented on #849
And, thank you, too, @Krishna2323 🤝

[2022-10-02 06:23] eeshaanSA commented on #822
Would like to help with this.

[2022-10-02 19:35] Krishna2323 commented on #850
Pls, assign me this issue so that I can start working on it and make a PR asap.

[2022-10-02 19:44] #849 closed

[2022-10-02 19:52] legendarykamal commented on #850
What transition effect are you looking to accomplish ?

[2022-10-02 19:56] Krishna2323 commented on #850
@legendarykamal The effect that most of the buttons have {transition: all .3s ease-out;}

[2022-10-02 20:41] Krishna2323 opened #853 "Sudden dropdown of commands after selecting platform in getting started section."
**Current Behavior**
The dropdown after selecting any platform is sudden.

**Desired Behavior**
It needs to be opened smoothly as the dropdowns in the navigation bar.

**Screenshots / Mockups**
![Screenshot 2022-10-03 021037](https://user-images.githubusercontent.com/85894871/193475343-603e6397-d571-4a44-a39a-b2db15583e16.png)

**Alternatives**

---
<img src="https://raw.githubusercontent.com/mesh

[2022-10-02 20:50] Krishna2323 opened #854 "Images overlaps the divider in the features section on page /catalog/traffic-management"
#### Description
Some images overlap the divider line between images and descriptions.

#### Expected Behavior
![Screenshot 2022-10-03 021515](https://user-images.githubusercontent.com/85894871/193475652-1e3a110d-b2ef-4a18-b4f2-6cfeb1b0fce5.png)

#### Screenshots
![Screenshot 2022-10-03 021430](https://user-images.githubusercontent.com/85894871/193475641-140674c2-8a9f-4ae4-8cfb-06ac6f875565.png)

[2022-10-03 01:38] leecalcote commented on #822
@Krishna2323

[2022-10-03 01:51] #854 closed

[2022-10-03 04:58] legendarykamal commented on #822
Ok so are we looking to adjust the timings of the opening and closing of the dropdowns? @leecalcote

[2022-10-03 06:07] Krishna2323 commented on #854
@leecalcote Ok✌.

[2022-10-03 07:17] nik132-eng opened #855 "enhance drop down menu"
**Current Behavior**

currently looking without colors.
![image](https://user-images.githubusercontent.com/77881638/193520575-51734c3e-c998-435b-823b-acdf5f2930ac.png)

**Desired Behavior**
I want make it like this
![image](https://user-images.githubusercontent.com/77881638/193520820-2694b60e-ce10-4d05-8b26-d439f02e659e.png)

when user hover on text it shows in color.

**Screenshots / Mockups**

*

[2022-10-03 07:18] nik132-eng commented on #855
can i get this for hackctoberfest ?

[2022-10-03 13:34] Krishna2323 commented on #850
@leecalcote pls, assign this issue to me.

[2022-10-03 13:47] leecalcote commented on #850
@Krishna2323 I'm not sure that what you've described is an issue (bug / area for improvement). Given the small nature of the proposal, will you implement, record a screen capture and present here for clarity of your proposal and for consideration or acceptance?

[2022-10-03 16:21] legendarykamal commented on #850
I feel that these links are one time clickable and then user gets redirected to somewhere else so no point in creating the hover delay effect.

[2022-10-03 17:06] #768 closed

[2022-10-03 17:08] #853 closed

[2022-10-03 17:45] eeshaanSA opened #859 "Add appropriate link for SMI spec logo"
#### Description

![image](https://user-images.githubusercontent.com/100678386/193643713-3b3cf548-988d-4c14-b3c5-c3d34f902eba.png)
Clicking on the SMI logo currently opens up the image, whereas it should take us to https://smi-spec.io/

#### Expected Behavior

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
##

[2022-10-03 17:45] eeshaanSA commented on #859
Would like to fix it if it is valid.

[2022-10-04 04:44] legendarykamal commented on #859
The current situation looks valid @eeshaanSA .

[2022-10-04 07:35] Krishna2323 opened #860 "Logos are not responsive in the used-by section on the homepage."
#### Description
Logos are not responsive in the used-by section on the homepage. Looks too big at small screen sizes.

#### Expected Behavior
Must be resized according to the width of the screen.
![Screenshot 2022-10-04 130015](https://user-images.githubusercontent.com/85894871/193761177-db75ca23-0ab1-492f-b62e-f4a86e7103f3.png)

#### Screenshots
![Screenshot 2022-10-04 130111](https://user-image

[2022-10-04 07:55] Krishna2323 opened #861 "Enhance the twitter feed in the footer."
**Current Behavior**
The feed in the footer looks odd and it is not consistent with other cards on the website.

**Desired Behavior**
I want to add some CSS style to make it look like this.
![expected](https://user-images.githubusercontent.com/85894871/193765237-74d17986-1ae2-4d66-8014-5e0f1e5bc175.png)

**Screenshots / Mockups**
Current styling:
![current](https://user-images.githubusercontent.co

[2022-10-04 08:09] Krishna2323 opened #862 "Cloud native catalog is not responsive."
#### Description
Catalog cards are not responsive, each card takes the full width of the screen.

#### Expected Behavior
Cards must be placed side-by-side if there is space left in the row.
![expected](https://user-images.githubusercontent.com/85894871/193767974-a8d5cfbd-f929-446e-b854-00c0cb597957.png)

#### Screenshots
![current](https://user-images.githubusercontent.com/85894871/193767986-a0ee3

[2022-10-04 08:33] Krishna2323 opened #863 "Cards to subscribe breaks at small screen size."
#### Description
The cards on the /subscribe page look weird at the small screen size.

#### Expected Behavior
![expected](https://user-images.githubusercontent.com/85894871/193773047-7a66863e-28f8-43ff-bd78-9f60bcfc0211.png)

#### Screenshots
![current](https://user-images.githubusercontent.com/85894871/193773069-9fc9c157-8b4e-4fa8-9f9e-f781de4d0b6e.png)

#### Enviroment:
 - OS: Windows
 - Browse

[2022-10-04 20:53] K0more commented on #861
@Krishna2323 this will need alligning the feed in the center and making it curved edges right?

[2022-10-04 21:14] leecalcote commented on #862
Thanks, but no thanks.

[2022-10-04 21:14] #862 closed

[2022-10-04 21:16] leecalcote commented on #861
Thanks for opening this up, @Krishna2323. The proposed change would be great to have. Would you like to pick this up or would you like for @K0more to take it on?

[2022-10-04 21:17] leecalcote commented on #863
Good eye, @Krishna2323. Thank you for this. Yes, please.

[2022-10-04 21:18] leecalcote commented on #860
Hmm. Hmm. Thank you much for raising this concern. This is a good item to raise in either the Websites meeting on Mondays or the Meshery Dev meeting on Wednesdays. I'm on the fence as to whether this is an improvement or not.

[2022-10-04 21:21] Krishna2323 commented on #861
@leecalcote ok, assign it to @K0more, I can find 100 more issues🤣.

[2022-10-04 21:25] K0more commented on #861
Thanks @Krishna2323 !

[2022-10-04 21:25] Krishna2323 commented on #861
@K0more don't forget to add box shadow.
Welcome✌

[2022-10-04 21:29] leecalcote commented on #861
How dare you, sir. Bugs? 🐛 Here? Improvements to be made?? I can't believe that you would suggest such a thing.

😉

[2022-10-04 21:33] Krishna2323 commented on #861
Thanks @leecalcote 😀.

[2022-10-04 21:37] K0more commented on #861
Right! How can you expect bugs to show up with this perfect community. Unless you assign stuff to me then I'll make sure there are bugs for people to work onn. 😌

[2022-10-04 21:43] Krishna2323 commented on #861
Everyone makes mistakes, bugs are important to test and improve developer skills.

[2022-10-06 05:10] eeshaanSA commented on #859
Should close this issue then?

[2022-10-06 10:03] debasishbsws opened #866 "Overlap of text in `service-mesh-landscape`"
#### Description
in `https://layer5.io/service-mesh-landscape` two title texts overlap with each other.

#### Expected Behavior
Both texts should be separated from each other

#### Screenshots
![layer5](https://user-images.githubusercontent.com/65381620/194285321-7e94b1e8-7418-4e78-9b65-75620b07f05f.png)

#### Enviroment:
 - OS: Windows 11
 - Browser: Chrome
 - Version: Version 106.0.5249.103
 - D

[2022-10-06 10:38] K0more commented on #866
can I get assigned to this 👀

[2022-10-06 11:14] leecalcote commented on #866
This is the wrong repo for the issue to be filed within. The appropriate repo is - layer5io/layer5

[2022-10-06 11:14] leecalcote commented on #866
@debo19

[2022-10-06 13:36] legendarykamal commented on #866
whoop , passing  it in the right repo .  Thankyou @debasishbsws for pointing this out . If you would like to contribute comment under it. https://github.com/layer5io/layer5/issues/3271 .

[2022-10-06 13:36] #866 closed

[2022-10-07 10:07] UtkarshMishra12 commented on #843
@leecalcote Please review this PR #864. It has been approved by @legendarykamal

[2022-10-09 06:10] gyohuangxin opened #867 "[Docs] The default value of `mesheryctl mesh deploy --adapter` is inconsistent"
**Current State:**
The default value in https://docs.meshery.io/reference/mesheryctl:
![image](https://user-images.githubusercontent.com/42127654/194740895-b0052fa9-846a-4b99-8452-561d38616f09.png)

The default value in https://docs.meshery.io/reference/mesheryctl/mesh/deploy:
![image](https://user-images.githubusercontent.com/42127654/194740907-e133a080-e596-4b00-a4fb-5bac7bbdb6cf.png)

**Desired

[2022-10-12 00:58] legendarykamal opened #868 "[Mailing List] Make all the items width equal."
#### Description

It looks odd currently.

![image](https://user-images.githubusercontent.com/95926324/195170731-dde05f6a-ef28-42ab-ad4c-269d273906ec.png)

#### Expected Behavior

All of the widths should be same.
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="1

[2022-10-12 06:46] tinniaru3005 commented on #868
Jey @legendarykamal, I want to try solving this issue, Can you please assign it me?

[2022-10-12 08:34] legendarykamal commented on #868
Here u go @tinniaru3005 🙂⚡

[2022-10-12 12:02] Krishna2323 opened #869 "Dark mode."
**Current Behavior**
The website needs a dark mode.

**Desired Behavior**

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources</h4>

- 🎨 Wireframes and designs for Meshery Site in [Figma](h

[2022-10-13 04:08] Krishna2323 opened #871 "Scroll behavior is not smooth."
**Current Behavior**
Scroll behavior is not smooth.

https://user-images.githubusercontent.com/85894871/195497033-7f2a8da7-2c80-455e-aeeb-ffab5802fc27.mp4

**Desired Behavior**

Uploading bandicam 2022-10-13 09-35-38-319.mp4…

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="lef

[2022-10-13 04:10] Krishna2323 commented on #871
Desired behavior video is not uploading. Will reopen again.

[2022-10-13 04:10] #871 closed

[2022-10-13 04:12] Krishna2323 opened #872 "Scroll behavior is not smooth."
**Current Behavior**
Scroll behavior is not smooth. While moving to the getting-started section by clicking on the getting-started button in the navbar.
Uploading bandicam 2022-10-13 09-34-26-764.mp4…

**Desired Behavior**
Uploading bandicam 2022-10-13 09-35-38-319.mp4…

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/lo

[2022-10-13 06:06] Krishna2323 commented on #872
Current behavior:

Uploading bandicam 2022-10-13 09-34-26-764.mp4…

Expected behavior:

https://user-images.githubusercontent.com/85894871/195515202-7ca5d7b4-b1cd-499a-a5b2-266389006f0f.mp4

[2022-10-13 18:13] #844 closed

[2022-10-14 10:43] tinniaru3005 commented on #860
Hey @Krishna2323. I would like to work on the issue. Can you please assign it to me?

[2022-10-14 13:30] gr455 opened #874 "Add Github Action to update meshery.io/catalog with Meshery Cloud's catalog"
**Current Behavior**

Currently meshery.io/catalog has is static

**Desired Behavior**

We want to dynamically update meshery.io/catalog with public items from Meshery Catalog
(https://meshery.layer5.io/patterns/catalog and https://meshery.layer5.io/filters/catalog)

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/

[2022-10-16 08:28] #843 closed

[2022-10-16 08:43] #863 closed

[2022-10-16 09:32] psancheti110 commented on #868
Hi @legendarykamal, Is this issue resolved?

[2022-10-16 09:35] psancheti110 commented on #861
Hi @K0more,

Are you still working on this? I'd like to take this on otherwise.

[2022-10-16 09:36] psancheti110 commented on #855
Hi,

I'd like to take this on if it's alright.

[2022-10-16 09:38] K0more commented on #861
@psancheti110 yeah I'm working on it, just I had exams this week so I had to focus on them first.

[2022-10-16 10:17] legendarykamal commented on #868
hey @psancheti110 this is being actively worked upon by @tinniaru3005

[2022-10-16 20:10] UtkarshMishra12 opened #876 "Text is overlapping with the Debugging the Data Plane box from 771px to 856px on page: /catalog"
#### Description

Text is overlapping with the (Debugging the Data Plane) box from  771px to 856px on page: /catalog
![Issue](https://user-images.githubusercontent.com/67385503/196055896-f295ad6f-9706-4209-a8bd-23c680b975d3.jpg)

#### Expected Behavior

![After](https://user-images.githubusercontent.com/67385503/196055912-888f7016-3689-4b8e-b290-5567b8ccadb6.jpg)

#### Screenshots

#### Enviroment

[2022-10-17 05:11] Harshit-Dandriyal commented on #876
Thanks @UtkarshMishra12 , will you like to work on this?

[2022-10-17 08:37] UtkarshMishra12 commented on #876
@Harshit-Dandriyal Yes please assign it to me.

[2022-10-17 12:07] aditi5050 opened #878 "To correct the location of (excerpt: patterns in-action) written down the image"
This is how  it should be
![err1](https://user-images.githubusercontent.com/102579070/196172905-5a117cce-aef9-4364-8b57-2c87bad082de.jpg)
a30-9e9e2a71c281.jpg)
![eer3](https://user-images.githubusercontent.com/102579070/196172990-697e46e0-4b25-4a6a-9f6c-3e62618c888f.jpg)
and this how it is shall i raise a PR for this

[2022-10-18 09:08] Nikhil-Ladha commented on #878
I beg to differ.
Captions are not that far away from the images, in general. They are generally close to the images, so the current design seems totally fine to me.

[2022-10-18 10:26] aditi5050 commented on #878
oh got it so shall I close this issue and also don't raise  pr for this

[2022-10-18 10:29] Nikhil-Ladha commented on #878
Yes, please.

[2022-10-18 10:30] #878 closed

[2022-10-18 10:30] aditi5050 commented on #878
I have closed the issue :)

[2022-10-20 05:19] #874 closed

[2022-10-21 18:32] J0SAL commented on #872
Could you please assign this to me? I'll love to look into it.

[2022-10-21 20:15] leecalcote opened #885 "[Catalog] Content versioning"
@gr455 this version number will become (or has already become) outdated soon. We need to version our designs as a separate piece of metadata. The version can be user-supplied for now.

_Originally posted by @leecalcote in https://github.com/meshery/meshery.io/pull/835#discussion_r1002153845_

[2022-10-22 15:46] K0more commented on #838
Ima open a PR real quick.

[2022-10-22 18:27] UtkarshMishra12 opened #886 "Boxes are not correctly aligned and are small in size -> on page: meshery.io/programs"
#### Description

Boxes are not correctly aligned and are small in size -> on page: meshery.io/programs
![image](https://user-images.githubusercontent.com/67385503/197356724-037ec713-7927-4ed0-a1a8-5b8fdba4f1d2.png)

#### Expected Behavior

![image](https://user-images.githubusercontent.com/67385503/197356920-fd4865a5-5e5b-45cc-b870-fbad815828eb.png)

#### Screenshots

#### Enviroment:
 - OS: Mac

[2022-10-22 18:27] UtkarshMishra12 commented on #886
I would like to work on this issue. Please assign it to me.

[2022-10-23 10:03] adithyaakrishna commented on #886
@UtkarshMishra12 As you are working on the responsiveness part, please make sure it is aligned across all the breakpoints :)

[2022-10-23 17:54] K0more commented on #838
@legendarykamal hey, this and the issue#861 are the same.

[2022-10-25 13:08] leecalcote opened #889 "[Site Feature] Integrations page"
**Current Behavior**
Meshery has many systems that it manages and through its integrations.

**Desired Behavior**
The list of integrations is long and needs a visual navigator.

#### Implementation
1. Create a new page on meshery.io/integrations
1. Use this threejs periodic table
   - Source: https://github.com/mrdoob/three.js/blob/master/examples/css3d_periodictable.html
   - Allow users to switc

[2022-10-28 14:54] tinniaru3005 commented on #812
Hey I would like to work on the issue. Can you please assign it to me?

[2022-10-29 11:28] legendarykamal commented on #812
yes, please go ahead .

[2022-10-29 12:53] leecalcote commented on #812
@tinniaru3005 I believe that the only reloading issue here is that of menus not opening on click of the menu title. The issue of menu width has already been takin care of.

https://user-images.githubusercontent.com/7570704/198832535-e923e3ca-5b0f-4a5d-b43b-173450364b11.MOV

[2022-10-29 13:58] tinniaru3005 commented on #812
Hey @leecalcote, okay I got it. Will work on it. Thanks :)

[2022-10-30 04:34] tinniaru3005 commented on #812
Hey @leecalcote, I have solved the issue. Can you please look into the PR?

[2022-10-30 17:49] legendarykamal commented on #838
this is fixed by https://github.com/meshery/meshery.io/pull/818 .

[2022-10-30 17:49] #838 closed

[2022-10-31 18:23] legendarykamal opened #895 "[Logo Improvement] Remove the names from the logo's"
**Current Behavior**

![image](https://user-images.githubusercontent.com/95926324/199081084-05e668c5-c717-43f8-aa01-21f4369014b9.png)

**Desired Behavior**

Due to the names the logo size is getting hampered.

1> remove the names from the logos
2> make sure the logos are in proper size.

here are the links to the logos
1> https://layer5.io/static/dbbd9d90d2fe12ac0c0069e4aa7a23cb/kyverno-icon-color

[2022-10-31 18:32] leecalcote commented on #895
Ideally, logos do not need to be edited. Use https://github.com/cncf/artwork/blob/master/projects/kyverno/icon/white/kyverno-icon-white.svg for Kyverno.

[2022-10-31 19:13] legendarykamal commented on #895
Thanks kyverno nice, we will need a little changes  for mondoo

[2022-11-03 21:05] leecalcote opened #896 "Website: Consolidate duplicative and unused CSS"
**Current Behavior**
This site has much unused CSS and some overlapping CSS.

**Desired Behavior**
Use of SASS is preferred. Ideally, most of the CSS (by line count) is removed from the site. This can be done piecemeal over multiple PRs.

---
<img src="https://raw.githubusercontent.com/meshery/meshery.io/master/images/logos/meshery-logo.png" width="16px" align="left" /><h4>Contributor [Guides](htt

[2022-11-04 15:42] manu-vaillant-afk commented on #886
@UtkarshMishra12 are you still working on this issue ? Otherwise I could try to fix it :D

[2022-11-04 15:48] UtkarshMishra12 commented on #886
Yes, @manu-vaillant-afk I'm working on this, soon I'll open a PR soon 😄

[2022-11-04 23:11] #732 closed

[2022-11-06 21:19] tinniaru3005 commented on #896
Hey @leecalcote, I can work on this. Can you please explain on what do you mean by multiple PRs?

[2022-11-06 21:19] leecalcote commented on #896
@tinniaru3005 this effort doesn't have to be completed in one shot.

[2022-11-07 12:49] #859 closed

[2022-11-08 10:22] AgniveshChaubey commented on #889
Hey @leecalcote @legendarykamal @GaganpreetKaurKalsi I am new here, wanna work on this issue. Can you please let me know if I can help in any way?

[2022-11-08 13:23] leecalcote commented on #889
+ // @Krishna2323

[2022-11-08 15:30] legendarykamal commented on #889
Happy to hear that @AgniveshChaubey , The dark mode for meshery.io needs assistance , lend your keen eyes to it.

In Integrations Mr. Lee has already shown you a way to work around.

[2022-11-09 22:35] RahulSurwade08 commented on #867
Hey @leecalcote , I am a newcomer and would love to take this issue. How can I get started?

[2022-11-10 00:38] leecalcote commented on #867
@sourav-sharma7 if your unable to PR this issue within a week, please unassign yourself so that someone may pick it up in the meantime while you work toward being able to do so.

[2022-11-10 03:18] gyohuangxin commented on #867
@RahulSurwade08 Thanks for taking it, it's related to a simple mistake in the  mesheryctl docs.
The description for default value here of `mesheryctl mesh deploy --adapter` is incorrect: https://docs.meshery.io/reference/mesheryctl
![image](https://user-images.githubusercontent.com/42127654/200989416-43cb3340-db50-403e-abf6-67e942ded38f.png)
And the correct description should be
[code]
What needs

[2022-11-10 04:27] #822 closed

[2022-11-10 04:27] #850 closed

[2022-11-10 12:47] RahulSurwade08 commented on #867
Hey @gyohuangxin , I have raised the PR. Please let me know any changes.

[2022-11-13 13:02] legendarykamal opened #898 "Newsletter box is chemoflaging with the top list of open source programs"
#### Description

This happens on meshery.io/programs

![image](https://user-images.githubusercontent.com/95926324/201522901-88d6dcfd-8144-41e0-b027-5de2d0457e8d.png)

#### Expected Behavior

This should be improved by proper positioning of the newsletter .
#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### C

[2022-11-13 13:04] legendarykamal commented on #898
@leecalcote can you please give little triage over this one . Thank you.

[2022-11-16 05:00] leecalcote commented on #896
@tinniaru3005 does this make sense?

[2022-11-17 08:29] tinniaru3005 commented on #896
Ya, it does. Should I get started with solving it? Is there any specification on breaking up the task that I should follow?

[2022-11-18 07:36] eeshaanSA commented on #860
@Krishna2323 this is fixed? RIght?

[2022-11-19 06:17] #869 closed

[2022-11-23 23:23] leecalcote opened #901 "[Website] Integrations: Avoid taking site visitors' scroll wheel hostage"
Users' scrollwheels still get stuck inside of this section. Their scrollwheel is taken captive and prevented from continued to scroll to the next section of the site. Let's try not capturing their wheel (not activating the zoom in/zoom out) until the user clicks on the integrations section. Before they click, let's have a small sign/notice posted indicating that they can click to interactively nav

[2022-11-23 23:23] leecalcote commented on #901
FYI @GaganpreetKaurKalsi @legendarykamal

[2022-11-23 23:25] #886 closed

[2022-11-24 00:55] #855 closed

[2022-11-24 00:55] #861 closed

[2022-11-24 04:24] ADITYADAS1999 commented on #895
Hi  [legendarykamal](https://github.com/legendarykamal) 👋🏻
This issue is still open ?

[2022-11-24 21:48] leecalcote commented on #895
@ADITYADAS1999 thanks for asking. It was just recently fixed, actually. Here's an open one, though - https://github.com/meshery/meshery.io/issues/896

[2022-11-24 21:49] #895 closed

[2022-11-25 17:12] Krishna2323 opened #902 "Remove border radius from getting started section."
#### Description
Remove border radius from getting started section.
![getting-started-border-radius](https://user-images.githubusercontent.com/85894871/204031346-a22433f6-c2a9-4de5-8fed-f13594d12ac9.png)

#### Expected Behavior

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Guides](https://d

[2022-11-25 17:16] Krishna2323 opened #903 "Use filter to make the link icon light in dark mode."
#### Description
Use filter to make the link icon light in dark mode.
![Dropdown-Link-Icon-Color](https://user-images.githubusercontent.com/85894871/204031799-cd1b7268-4ed3-4dfd-a490-36a9b74a2bca.png)

#### Expected Behavior

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Guides](https://docs

[2022-11-25 17:24] Krishna2323 opened #904 "Place the mode changing icon beside menu icon."
#### Description
Place the mode changing icon beside menu icon for small devices.
![Mode-Change-Icon-Current](https://user-images.githubusercontent.com/85894871/204032765-dc0456e0-ffaf-4665-af3c-8c6942bd2f6f.png)

#### Expected Behavior
![Mode-Change-Icon](https://user-images.githubusercontent.com/85894871/204032772-dbcc72d5-9936-4bc5-a408-80c080fbc026.png)

#### Screenshots

#### Enviroment:
 - O

[2022-11-25 17:36] Krishna2323 opened #905 "Change current box shadow."
#### Description
Change current box shadow and add the box shadow used on SS above.
![Screenshot 2022-11-25 230608](https://user-images.githubusercontent.com/85894871/204034104-afbb28be-7db8-4342-a9c5-1c0379bce898.png)

#### Expected Behavior

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Gu

[2022-11-25 17:43] Krishna2323 opened #906 "Add padding to categories dropdown."
#### Description
Add padding to categories dropdown.
![Categories-Box-Current](https://user-images.githubusercontent.com/85894871/204034756-81505990-0df8-4d1c-9114-3f55f0f2e7f9.png)

#### Expected Behavior
![Categories-Box-Expected](https://user-images.githubusercontent.com/85894871/204034780-4877e797-a44b-471b-944f-25f9c80c9fda.png)

#### Screenshots

#### Enviroment:
 - OS: Mac Linux Windows
 -

[2022-11-25 18:54] HM-8 commented on #902
Hi @Krishna2323 would like to work on this issue.

[2022-11-25 19:01] Krishna2323 commented on #902
@HM-8, Sure👌.

[2022-11-25 19:02] HM-8 commented on #902
I'll get on it👍

[2022-11-26 15:07] tinniaru3005 commented on #906
Hey @Krishna2323, I would like to work on the issue. Can you please assign it to me.

[2022-11-26 15:10] Krishna2323 commented on #906
@tinniaru3005, sure✌️

[2022-11-27 07:08] #904 closed

[2022-11-27 21:58] #872 closed

[2022-11-28 14:14] rabbanirizwan commented on #905
@Krishna2323 I wanted to work on this issue

[2022-11-28 15:33] UtkarshMishra12 opened #911 "Ir-regular spaces between the logos on the main page"
#### Description

Ir-regular spaces between the logos on the main page

#### Expected Behavior

Regular space should be there

#### Screenshots

https://user-images.githubusercontent.com/67385503/204317461-625c683c-91a1-4c82-a8bb-26ef525bb110.mp4

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Guides](https://

[2022-11-28 18:04] UtkarshMishra12 opened #912 "Community Newsletter box is not responsive as per the screen size"
#### Description

The Community Newsletter box is not responsive as per the screen size

#### Expected Behavior

#### Screenshots

https://user-images.githubusercontent.com/67385503/204348840-34103b6e-dfcb-41b3-925e-dad48ff20ed8.mp4

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desktop Mobile

---
### Contributor [Guides](https://docs.meshery.i

[2022-11-28 18:13] leecalcote commented on #912
Thank you, @UtkarshMishra12

[2022-11-28 18:55] Krishna2323 commented on #905
@rabbanirizwan, sure👍, just replace the color with black.

[2022-11-28 22:23] leecalcote commented on #911
@Krishna2323 if there are plans to redesign this section already, then perhaps, @UtkarshMishra12 should hold off on a fix here for the time being.

[2022-11-28 22:40] leecalcote commented on #906
A change that would save us some hassle here (including text overflowing the box) is to simply remove the box-shadow and leave the filter controls lying directly on the page (which is the original design). I chatted with @Krishna2323 on this and he is supportive of doing just this.

[2022-11-29 06:22] tinniaru3005 commented on #812
Hey I am working on it

[2022-11-29 15:09] GaganpreetKaurKalsi opened #913 "[Website] Integrations: Replace 3D integration with an integration section image on homepage"
**Current Behavior**
Currently the integration section on homepage has a whole interactive integration helix which affects the website performance.

**Desired Behavior**
Replace the interactive helix with an image of the integration section. When the user clicks on the image, take them to `/integrations` page.

**Screenshots / Mockups**

**Alternatives**

---
<img src="https://raw.githubuserconten

[2022-11-29 15:13] #901 closed

[2022-11-29 17:28] UtkarshMishra12 opened #915 "On hovering the text is not visible inside the button on page : meshery.io/subscribe"
#### Description

On hovering the text is not visible inside the button on page : meshery.io/subscribe

#### Expected Behavior

Is it a feature or bug, I'm not sure about it.

#### Screenshots

https://user-images.githubusercontent.com/67385503/204599864-ae632508-3676-459f-b966-144720a03115.mp4

#### Enviroment:
 - OS: Mac Linux Windows
 - Browser: Chrome Safari Firefox
 - Version:
 - Device: Desk

[2022-11-29 17:28] UtkarshMishra12 commented on #915
@leecalcote Your thoughts on this?

[2022-11-29 17:28] #912 closed

[2022-11-29 17:29] leecalcote commented on #915
🐛

Good eye, @UtkarshMishra12 👍

[2022-11-30 15:21] rabbanirizwan commented on #905
https://github.com/meshery/meshery.io/pull/916 @Krishna2323

[2022-11-30 15:22] rabbanirizwan commented on #905
<img width="1248" alt="Screenshot 2022-11-30 at 8 18 54 PM" src="https://user-images.githubusercontent.com/33807776/204837757-08c8d6c5-83c2-430f-a94c-6fc2488484c1.png">

[2022-11-30 16:48] #913 closed